.banner-wrap {
  padding: 94px 55px 0;

  .image {
    position: absolute;
    right: 0;
    top: 0;
  }

  .btn-gold {
    width: 263px;
    height: 64px;
    box-sizing: border-box;
    padding-top: 23px;
  }

  .left-title {
    position: relative;
    z-index: 1;
  }
}

.banner-1 {
  position: relative;

  .image {
    right: 69px;
    top: 75px;
  }

  .left-title {
    font-family: $myriadprolight;
    color: $cherryred;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.2px;
    margin-bottom: 108px;

    b {
      font-family: $myriadprobold;
      font-size: 48px;
      line-height: 44px;
    }

    span {
      &:nth-of-type(1) {
        font-family: $myriadprosemibold;
        font-size: 40px;
        line-height: 48px;
        margin-top: 8px;
        display: inline-block;
      }

      &:nth-of-type(2) {
        font-family: $myriadprolight;
        font-size: 24px;
        line-height: 29px;
        display: inline-block;
        margin-top: -5px;
        letter-spacing: -0.4px;
      }
    }
  }
}

.banner-2 {
  position: relative;
  padding: 115px 48px 0;

  .image {
    right: 25px;
    top: 38px;
  }

  .left-title {
    font-family: $myriadprolight;
    color: $cherryred;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -1.0px;
    margin-bottom: 112px;

    span {
      font-size: 36px;
      font-family: $myriadprosemibold;
      line-height: 43px;
      letter-spacing: -1px;

      b {
        font-size: 72px;
      }

      &:nth-of-type(2) {
        margin-top: 5px;
        display: inline-block;
      }
    }
  }
  // &:after {
  //   content: '';
  //   width: 535px;
  //   height: 544px;
  //   background: url(../img/banner-2.png) no-repeat;
  //   position: absolute;
  //   top: 37px;
  //   right: 25px;
  // }
}

.banner-wrap {
  @media (max-width: map-get($grid-breakpoints, lg)) {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;

    .image {
      width: 35%;
      top: 0;
      right: 0;
    }
  }

  @media (max-width: map-get($grid-breakpoints, md)) {
    .image {
      float: none;
      position: relative;
      width: inherit;
      max-width: 100%;
      display: block;
      margin: 0 auto 20px;
    }
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    .left-title {
      font-size: 20px;
      margin-bottom: 20px;
    }

    .left-title *,
    .left-title b,
    .left-title span,
    .left-title span:nth-of-type(1),
    .left-title span:nth-of-type(2) {
      font-size: 26px;
      line-height: 30px;
    }
  }
}
