body {
  background-color: rgb(247, 217, 189);
  background-image: url(../img/glare.png);
  background-attachment: fixed;
  background-size: cover;
}

.page-body {
  padding-bottom: 50px;
  // overflow: hidden;
}

.ie-10 .title span,
.ie-11 .title span {
  // font-size: 25px;
}

.title {
  text-transform: uppercase;
  margin: 30px 0 44px;
  padding: 0 35px;

  .logo-link {
    float: left;
  }

  .tagline {
    color: #811029;
    font-size: 41px;
    display: inline-block;
    margin-top: 22px;
    margin-left: 94px;
    line-height: 37px;
  }

  span {
    display: block;
    font-family: $myriadprolight;
    font-size: 30px;
  }

  @media (max-width: map-get($grid-breakpoints, xl)) {
    .tagline {
      margin-left: 0;
    }
  }

  @media (max-width: map-get($grid-breakpoints, lg)) {
    text-align: center;
    margin-bottom: 20px;

    .logo-link {
      float: none;
    }
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    .tagline,
    .tagline * {
      font-size: 20px;
      line-height: 23px;
    }
  }
}

.club-navigation {
  margin-bottom: 23px;

  .container {
    border-top: 1px solid #dcaa9b;
    padding-top: 1px;

    ul {
      background: $cherryred;
      list-style-type: none;
      padding-left: 50px;
      position: relative;

      &:after {
        content: '';
        width: 62px;
        height: 69px;
        background: url(../img/flag.png) no-repeat;
        position: absolute;
        top: -2px;
        right: 9px;
        z-index: 1;
      }

      li {
        display: inline-block;

        a {
          color: #fff;
          text-decoration: none;
          font-size: 13px;
          text-transform: uppercase;
          display: inline-block;
          padding: 14px 0 13px;
          letter-spacing: 0.9px;
          margin-right: 73px;
        }
      }
    }
  }

  @media (max-width: map-get($grid-breakpoints, lg)) {
    .container {
      ul {
        li {
          a {
            margin-right: 40px;
          }
        }
      }
    }
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    .container {
      ul {
        li {
          display: block;
        }
      }
    }
  }
}

.btn-gold {
  border: 1px solid #f2e3cf;
  border-radius: 10px;
  background-color: #eecfa6;
  box-shadow: -2px 6px 7px rgba(47,24,4,0.25);
  background: linear-gradient(to left, #efd2a4 0%, #fef8f1 30%, #e3cbab 53.78%, #d1a871 76.07%, #eecfa6 100%);
  display: inline-block;
  text-align: center;
  transition: all 0.3s;
  text-transform: uppercase;
  color: #810f29;
  font-size: 20px;
  text-decoration: none;
  font-family: $myriadprobold;

  &:hover {
    background: linear-gradient(to right, rgba(239,208,166,0.83) 0%, rgba(239,208,166,0.83) 6.54%, rgba(209,169,113,0.83) 26.64%, rgba(227,204,171,0.83) 52.83%, rgba(255,249,241,0.83) 79.22%, rgba(239,210,164,0.83) 100%);
    box-shadow: -1px 3px 7px rgba(47,24,4,0.2);
  }
}

.btn-item {
  border-radius: 7px;
  border: 1px solid #faf5ee;
  background-image: -moz-linear-gradient( 0deg, rgb(239,210,164) 0%, rgb(255,249,241) 30%, rgb(227,204,171) 54%, rgb(209,169,113) 76%, rgb(224,189,140) 90%, rgb(239,208,166) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(239,210,164) 0%, rgb(255,249,241) 30%, rgb(227,204,171) 54%, rgb(209,169,113) 76%, rgb(224,189,140) 90%, rgb(239,208,166) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(239,210,164) 0%, rgb(255,249,241) 30%, rgb(227,204,171) 54%, rgb(209,169,113) 76%, rgb(224,189,140) 90%, rgb(239,208,166) 100%);
  box-shadow: 0 4px 5px 0 rgba(47, 24, 4, 0.24);
  width: 173px;
  padding: 10px 0;
  font-family: $myriadprosemibold;
  color: $cherryred;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
  left: -15px;
  box-sizing: border-box;
}

.welcome-wrap {
  text-align: center;
  margin-bottom: 96px;

  >.wrap {
    background-color: rgba(255, 255, 255, 0.102);
    box-shadow: 2.5px 4.33px 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    padding: 22px 0 34px;
    border-radius: 8px;
    position: relative;

    @media (max-width: map-get($grid-breakpoints, sm)) {
      padding-left: 15px;
      padding-right: 15px;
    }

    &:before {
      content: '';
      width: 447px;
      height: 225px;
      background: url(../img/dog-left.png) no-repeat;
      position: absolute;
      bottom: -61px;
      left: -198px;
    }

    &:after {
      content: '';
      width: 196px;
      height: 300px;
      background: url(../img/dog-right.png) no-repeat;
      position: absolute;
      bottom: -120px;
      right: -76px;
      z-index: 1;
    }

    @media (max-width: map-get($grid-breakpoints, xl)) {
      &:after {
        right: -30px;
      }
    }

    .welcome-title {
      font-size: 24px;
      text-transform: uppercase;
      color: $cherryred;
      margin-bottom: 17px;
    }

    .welcome-tagline {
      font-size: 14px;
      color: $cherryred;
      margin-bottom: 42px;
    }

    .buttons-wrap {
      text-align: center;
      margin-bottom: 49px;

      a {
        width: 188px;
        font-size: 14px;
        padding: 13px 0 10px;
        margin: 0 36px;
      }
    }

    .img-row {
      margin-bottom: 40px;

      .item-img {
        text-align: center;
        position: relative;
        // min-height: 500px;
        img {
          // position: absolute;
          display: block;
          margin: 0 auto;
        }

        .think-cloud {
          position: relative;
        }

        .dog {
          position: relative;
          z-index: 1;
        }

        .btn-item {
          padding: 15px 0 4px;
          left: 1px;
          box-sizing: border-box;
          top: -12px;
        }

        &.dog-sign {
          &:before {
            content: '';
            width: 22px;
            height: 24px;
            background: url(../img/dog-hand.png) no-repeat;
            position: absolute;
            bottom: 17px;
            right: -14px;
          }
        }

        &:nth-child(1) {
          .think-cloud {
            left: 101px;
            margin-bottom: 5px;
          }

          .dog {
            left: 25px;
          }

          &:after {
            content: '';
            width: 93px;
            height: 103px;
            background: url(../img/item-1-bg.png) no-repeat;
            position: absolute;
            top: 107px;
            left: 43px;
          }
        }
        //Item 1 **********************************************************
        &:nth-child(1) {
          .think-cloud {
            left: 101px;
            margin-bottom: 5px;
          }

          .dog {
            left: 25px;
          }

          &:after {
            content: '';
            width: 93px;
            height: 103px;
            background: url(../img/item-1-bg.png) no-repeat;
            position: absolute;
            top: 107px;
            left: 43px;
          }
        }
        //Item 2 **********************************************************
        &:nth-child(2) {
          .think-cloud {
            left: 79px;
            margin-bottom: 5px;
          }

          .dog {
            left: 1px;
          }

          &:after {
            content: '';
            width: 93px;
            height: 103px;
            background: url(../img/item-2-bg.png) no-repeat;
            position: absolute;
            top: 117px;
            left: 46px;
          }
        }
        //Item 3 **********************************************************
        &:nth-child(3) {
          .think-cloud {
            left: 63px;
            margin-bottom: 5px;
          }

          .dog {
            left: 2px;
          }

          &:after {
            content: '';
            width: 93px;
            height: 103px;
            background: url(../img/item-3-bg.png) no-repeat;
            position: absolute;
            top: 112px;
            left: 140px;
          }
        }
        //Item 3 **********************************************************
        &:nth-child(4) {
          .think-cloud {
            left: 40px;
            margin-bottom: 5px;
          }

          .dog {
            left: 0;
          }

          &:after {
            content: '';
            width: 93px;
            height: 103px;
            background: url(../img/item-4-bg.png) no-repeat;
            position: absolute;
            top: 124px;
            left: 141px;
          }
        }
      }
    }

    .prize-wrap {
      font-size: 18px;
      font-family: $myriadprolight;
      color: $cherryred;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: -0.1px;
      position: relative;
      z-index: 1;

      &:before {
        content: '';
        width: 223px;
        height: 173px;
        position: absolute;
        top: -38px;
        right: 126px;
        background: url(../img/prize.png) no-repeat;
        z-index: -1;
      }

      span {
        &:nth-of-type(1) {
          font-family: $myriadprosemibold;
          margin-left: -11px;
          margin-right: -1px;
        }

        &:nth-of-type(2) {
          font-size: 36px;
          font-family: $myriadprobold;
          text-transform: uppercase;
          line-height: 28px;
          margin-top: 7px;
          display: inline-block;
        }

        &:nth-of-type(3) {
          font-size: 16px;
          text-transform: none;
        }
      }
    }
    @media (max-width: 540px) {
  &:before,
  &:after {
    display: none;
  }
}
  }

  @media (max-width: map-get($grid-breakpoints, lg)) {
    .wrap {
      .img-row {
        .dog-sign {
          &:nth-of-type(2) {
            &:before {
              display: none;
            }
          }
        }

        .item-img {
          &:nth-child(1) {
            &:after {
              left: 91px;
            }
          }

          &:nth-child(2) {
            &:after {
              left: 96px;
            }
          }

          &:nth-child(3) {
            &:after {
              left: 191px;
            }
          }

          &:nth-child(4) {
            &:after {
              left: 196px;
            }
          }
        }
      }

      .prize-wrap {
        &:before {
          right: 0;
        }
      }

      &:after,
      &:before {
        background: none;
      }
    }
  }

  @media (max-width: map-get($grid-breakpoints, md)) {
    .wrap {
      .buttons-wrap {
        a {
          margin-bottom: 20px;
        }
      }

      .img-row {
        .dog-sign {
          &:before {
            display: none;
          }
        }
      }

      .item-img {
        margin-bottom: 20px;

        &:after {
          display: none;
        }
      }

      .prize-wrap {
        padding: 0 15px;
        // br{display: none;}
      }
    }
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    >.container.wrap {
      .img-row {
        .item-img {
          .dog {
            left: 0;
          }
        }
      }

      .prize-wrap {
        &:before {
          display: none;
        }
      }
    }
  }
}
//Facts list Begin
.articles.facts {
  padding-top: 0;

  .title {
    padding: 0;
  }

  .list.border-wrap {
    padding: 15px 16px 0 21px;

    @media (max-width: map-get($grid-breakpoints, sm)) {
      padding: 0 15px;
    }
  }

  .sort-wrap {
    border-top: 1px solid #f6e4c6;
    border-bottom: 1px solid #f6e4c6;
    margin: 12px 0 36px;
    padding: 15px 4px;

    .sort-title {
      color: #666666;
      font-size: 12px;

      &:nth-of-type(1) {
        margin-right: 5px;
      }
    }

    .block {
      float: left;
      width: 50%;
      white-space: nowrap;

      @media (max-width: map-get($grid-breakpoints, lg)) {
        white-space: normal;
      }

      &.right {
        .sort-title {
          margin-right: 5px;
        }

        .select2-container {
          width: 61% !important;
          // height: 33px;
          // height: 40px;
          // padding-bottom: 10px;
          @media (max-width: map-get($grid-breakpoints, lg)) {
            width: 100% !important;
          }
        }

        .jq-selectbox {
          // margin-right: 5px;
        }
      }

      @media (max-width: map-get($grid-breakpoints, xl)) {
        padding: 0 15px;
        box-sizing: border-box;
      }

      @media (max-width: map-get($grid-breakpoints, sm)) {
        width: 100%;
        margin-bottom: 15px;
      }

      @media (max-width: map-get($grid-breakpoints, md)) {
        .jq-selectbox {
          margin-left: 0;
        }
      }
    }
  }

  .social-wrap {
    position: relative;
    left: 0;
    right: 0;
  }

  .fact-preview {
    // margin-bottom: 48px;
    .image-prev {
      border: 7px solid #fff;
      box-shadow: 2.517px 3.109px 10px 0 rgba(0,0,0,0.15);
      max-width: 100%;
      height: auto;
      float: left;
      margin-right: 32px;

      @media (max-width: map-get($grid-breakpoints, xl)) {
        margin-bottom: 20px;
      }
    }

    .prev-wrap {
      float: left;
      width: 60%;
      position: relative;
      padding-bottom: 40px;

      .fact-title,
      .fact-title a {
        font-family: $myriadprobold;
        color: $cherryred;
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 7px;
        margin-bottom: 12px;
        display: inline-block;
        letter-spacing: 0.2px;
      }

      .fact-title a {
        text-decoration: none;
        color: $cherryred;

        &:hover {
          text-decoration: underline;
        }
      }

      .text-prev {
        font-size: 13px;
        color: #4d4d4d;
        line-height: 18px;
        position: relative;
        left: 2px;
        letter-spacing: 0.6px;
        margin-bottom: 16px;
        min-height: 74px;
      }

      .social-wrap {
        border-top: 1px solid #f6e4c6;
        text-align: left;
        padding-top: 22px;

        .likes {
          margin-left: 5px;
        }

        .read-more {
          float: right;
          font-family: $myriadprosemibold;
          color: $cherryred;
          font-size: 14px;
          position: relative;
          opacity: 1;
          transition: opacity 0.2s ease;
          position: relative;
          top: -4px;
          left: -9px;
          letter-spacing: 0.2px;

          &:before {
            width: 100%;
            height: 1px;
            background: url(../img/underline.png) no-repeat;
            position: absolute;
            bottom: -2px;
            left: 0;
          }

          &:hover {
            &::before {
              opacity: 0;
              transition: 0.2s ease;
            }
          }
        }
      }

      @media (max-width: map-get($grid-breakpoints, xl)) {
        width: 100%;
        // float: none;
      }
    }

    &:nth-of-type(2n) {
      padding-right: 10px;
      padding-left: 6px;

      .image-prev {
        float: right;
        margin-left: 32px;
        margin-right: 0;
      }

      .prev-wrap {
        width: 60%;
      }

      .social-wrap {
        .read-more {
          left: 6px;
        }
      }

      @media (max-width: map-get($grid-breakpoints, xl)) {
        .image-prev {
          float: left;
          margin-left: 0;
          margin-bottom: 20px;
        }

        .prev-wrap {
          width: 100%;
          // float: none;
        }
      }
    }
  }
}
//Facts list End
//Photo Begin
.border-wrap {
  background: #fdf4ec;
  box-shadow: 2.5px 4.33px 10px 0 rgba(0,0,0,0.1);
  border: 1px solid #fff;
  border-radius: 8px;
  position: relative;
  margin-top: 70px;
  margin-bottom: 21px;

  @media (max-width: map-get($grid-breakpoints, lg)) {
    margin-top: 11px !important;
  }

  .title {
    font-family: MyriadProBold,sans-serif;
    font-size: 24px;
    color: #8a2037;
    margin: 0 0 9px;
    // padding: 1px 0 0 24px;
    letter-spacing: -0.4px;
  }
}

.image-border {
  border: 7px solid #fff;
  box-shadow: 2.517px 3.109px 10px 0 rgba(0,0,0,0.15);
  max-width: 100%;
  height: auto;
  float: left;
  margin-right: 32px;
}

.photo {
  padding: 16px 15px 11px;

  & + .pagination {
    bottom: -40px;
  }

  .title {
    padding-left: 9px;
    letter-spacing: -0.1px;
  }

  .sort-wrap {
    margin: 24px 3px;
  }

  .sort-wrap.custom-select {
    .select2-container {
      width: 32% !important;
      margin-left: 7px;

      @media (max-width: map-get($grid-breakpoints, md)) {
        width: 100% !important;
        margin-left: 0;
      }
    }
  }

  .gallery {
    a {
      max-height: 209px;
      padding: 0 11px;
      margin-bottom: 22px;
      overflow: hidden;
      border: 7px solid #fff;
      @include aspect-ratio(107,66);
      width: 46%;
      margin-left: 2%;
      margin-right: 2%;

      img {
        border: none;
        box-shadow: 2.517px 3.109px 10px 0 rgba(0,0,0,0.15);
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        @media (max-width: map-get($grid-breakpoints, lg)) {
          height: auto;
        }
      }
    }
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    .sort-wrap.custom-select {
      .jq-selectbox {
        width: 97% !important;
      }
    }
  }
}
//Photo End
// FAQ page Begin
.faq {
  .border-wrap {
    padding: 15px 20px 46px;
    margin-bottom: 0;

    .title {
      padding-left: 0;
      margin-bottom: 2px;
    }

    .sub-title {
      font-size: 14px;
      color: #353535;
      margin-bottom: 23px;
    }

    .problem-title {
      font-family: $myriadprobold;
      color: $cherryred;
      text-transform: uppercase;
      letter-spacing: 0.3px;
      margin-bottom: 19px;

      &:before {
        content: '';
        width: 20px;
        height: 20px;
        display: inline-block;
        background: url(../img/dog-hand-faq.png) no-repeat;
        margin-left: 5px;
        margin-right: 18px;
      }
    }

    .faq-body {
      font-size: 13px;
      color: #4d4d4d;
      line-height: 18px;
    }
  }
  //list questions//
  .list-question {
    margin-top: 34px;

    ul {
      list-style-type: none;
      padding-left: 47px;
      letter-spacing: 0.2px;

      li {
        margin-bottom: 22px;
        position: relative;

        &:before {
          content: '';
          width: 20px;
          height: 20px;
          display: inline-block;
          position: absolute;
          background: url(../img/dog-hand-faq.png) no-repeat;
          top: -8px;
          left: -40px;
        }

        &:after {
          content: '--->';
          color: $cherryred;
          margin-left: 12px;
          font-weight: bold;
          margin-bottom: 1px;
          position: relative;
          top: -2px;
        }

        a {
          font-family: $myriadprobold;
          font-size: 14px;
          color: $cherryred;
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .question {
    margin-top: 28px;
    padding: 18px 23px 0 15px;

    .title {
      padding-left: 7px;
    }

    .answer.question-form {
      margin-top: 22px;

      .question-top {
        margin-bottom: 18px;

        .jq-selectbox {
          width: 100% !important;
          left: -5px;

          .jq-selectbox__select {
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.35);
            border: 0;
            border-left: 1px solid #ccc;
          }
        }

        .jq-selectbox__select-text.placeholder {
          color: #666666;
          font-size: 13px;
          font-family: $myriadproreg;
        }

        >div {
          margin-bottom: 18px;
          width: 42%;

          &:first-child {
            float: left;
          }

          &:last-child {
            float: right;
          }
        }
        // .form-group{
        //   &:first-child{
        //     float: left;
        //   }
        //   &:last-child{
        //     float: right;
        //   }
        // }
        input {
          // float: right;
          border: 0;
          border-left: 1px solid #ccc;
          border-radius: 3px;
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.35);
          height: 26px;
          padding: 5px 10px;
          background-color: #f9f6f3;
          box-sizing: border-box;
          width: 100%;
          position: relative;

          &::-webkit-input-placeholder {
            color: #666666;
            font-size: 13px;
            font-family: $myriadproreg;
          }

          &::-moz-placeholder {
            color: #666666;
            font-size: 13px;
            font-family: $myriadproreg;
          }
          /* Firefox 19+ */
          &:-moz-placeholder {
            color: #666666;
            font-size: 13px;
            font-family: $myriadproreg;
          }
          /* Firefox 18- */
          &:-ms-input-placeholder {
            color: #666666;
            font-size: 13px;
            font-family: $myriadproreg;
          }
        }

        @media (max-width: map-get($grid-breakpoints, sm)) {
          .form-group {
            float: none;
            width: 100%;
            margin-bottom: 15px;
          }
        }
      }

      textarea {
        padding: 14px;
        box-sizing: border-box;
        border: 0;
        border-left: 1px solid #ccc;
        border-radius: 3px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.35);

        &::-webkit-input-placeholder {
          color: #666666;
          font-size: 13px;
          font-family: $myriadproreg;
        }

        &::-moz-placeholder {
          color: #666666;
          font-size: 13px;
          font-family: $myriadproreg;
        }
        /* Firefox 19+ */
        &:-moz-placeholder {
          color: #666666;
          font-size: 13px;
          font-family: $myriadproreg;
        }
        /* Firefox 18- */
        &:-ms-input-placeholder {
          color: #666666;
          font-size: 13px;
          font-family: $myriadproreg;
        }
      }

      .form-group {
        &.has-error {
          input,
          textarea,
          .jq-selectbox.jqselect .jq-selectbox__select {
            border: 1px solid #e91212;
          }
        }
      }
    }
  }
}

.faq-paginaticontent_infografic-5on {
  margin: 9px 0;
  overflow: hidden;
  height: 35px;

  a {
    display: inline-block;
    @include linear-gradient(to top, #f1d7ad, #fff);
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.21);
    width: 24px;
    height: 27px;
    margin-right: -1px;
    position: relative;
    top: 6px;

    &:hover {
      opacity: 0.6;
      transition: 0.2s ease;
    }

    .trigger-arrow {
      display: inline-block;
      top: 10px;
      right: 10px;
      position: absolute;
    }

    &.prev {
      margin-left: 10px;
      float: left;

      .trigger-arrow {
        @include triangle(9px 5px, $cherryred, left);
      }

      &:after {
        content: 'предыдущий вопрос';
        display: inline-block;
        white-space: nowrap;
        color: $cherryred;
        font-size: 12px;
        position: relative;
        left: 35px;
        top: 4px;
      }
    }

    &.next {
      float: right;
      margin-right: 13px;

      .trigger-arrow {
        @include triangle(9px 5px, $cherryred, right);
      }

      &:before {
        content: 'следующий вопрос';
        display: inline-block;
        white-space: nowrap;
        color: $cherryred;
        font-size: 12px;
        position: relative;
        right: 117px;
        top: 4px;
      }
    }

    @media (max-width: 350px) {
      &.prev {
        &:after {
          white-space: normal;
          top: 0;
          left: 33px;
        }
      }

      &.next {
        &:before {
          white-space: normal;
          right: 69px;
          top: 0;
          text-align: right;
        }
      }
    }
  }
}
// FAQ page End
//Fancybox Custom Styles
#fancybox-loading,
.fancybox-prev span,
.fancybox-next span {
  background-image: none;
}

.fancybox-close {
  background-image: url(../img/close-pop.png);
  background-size: 19px 19px;
  width: 19px !important;
  height: 19px !important;
  top: 12px !important;
  right: 12px !important;
}

.fancybox-nav {
  display: inline-block;
  background-color: #f1d7ad;
  background-image: linear-gradient(to top, #f1d7ad, #fff);
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.21);
  width: 24px;
  height: 27px;
  margin-right: -1px;
  position: absolute;
  top: auto;
  bottom: -47px;
}

.fancybox-nav:hover {
  opacity: 0.8;
  transition: 0.2s ease;
}

.fancybox-nav .trigger-arrow {
  height: 0;
  width: 0;
  bottom: 0;
  cursor: pointer;
  position: absolute;
  bottom: 8px;
}

.fancybox-nav span {
  top: auto;
  left: auto;
  right: auto;
  visibility: visible;
}

.fancybox-nav.next .trigger-arrow {
  border-bottom: 4.5px solid transparent;
  border-left: 5px solid #8a2037;
  border-top: 4.5px solid transparent;
  right: 9px;
}

.fancybox-nav.prev .trigger-arrow {
  border-bottom: 4.5px solid transparent;
  border-right: 5px solid #8a2037;
  border-top: 4.5px solid transparent;
  left: 9px;
}

.fancybox-nav.next span.text {
  right: 90px;
}

.fancybox-nav.prev span.text {
  left: 40px;
}

.fancybox-nav span.text {
  position: absolute;
  bottom: -15px;
  white-space: nowrap;
  margin-top: -18px;
  cursor: pointer;
  font-family: 'MyriadProReg';
  font-size: 12px;
  color: #8a2037;
}

@media (max-width: 480px) {
  .fancybox-nav span.text {
    display: none;
  }
}

.fancybox-skin {
  position: relative;
  background: #e0c4ab;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 12px;
}
//InfoGrafic Page Main Begin
.infografica {
  background: none;
  border: none;
  box-shadow: none;

  .comments.border-wrap {
    margin-top: 20px;
  }

  .art-preview {
    padding-bottom: 42px;
  }

  .art-preview {
    img {
      border: none;
      vertical-align: top;
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }

    .title-prev {
      text-align: center;
      margin: 44px 0 13px;
      position: relative;

      &:before {
        content: '';
        width: 100%;
        height: 9px;
        position: absolute;
        background: url(../img/red-line.jpg);
        left: 0;
        top: -25px;
      }

      &:after {
        content: '';
        width: 26px;
        height: 13px;
        background: url(../img/bone-infog.png);
        display: block;
        margin: 14px auto 0;
      }
    }
  }
}
//InfoGrafic Page Main End
//InfoGrafic Detail-Page Main Begin
.article {
  .infografic-detail.border-wrap {
    padding: 0 0 31px;
    margin-bottom: 13px;
    margin-top: 0;
    overflow: hidden;
    background: #fdf5f2 url(../img/infg-bg.jpg) no-repeat top;
  }
}

.infografica {
  padding-top: 44px;

  @media (max-width: map-get($grid-breakpoints, lg)) {
    padding-top: 0;
  }

  .faq-pagination {
    &.top {
      margin: 9px 0 15px;
    }

    a {
      &.next {
        &:before {
          content: 'следующая';
          right: 74px;
        }
      }

      &.prev {
        &:after {
          content: 'предыдущая';
        }
      }
    }
  }

  @media (max-width: map-get($grid-breakpoints, md)) {
    padding-top: 0;

    .faq-pagination {
      &.bottom {
        margin-bottom: 25px;
      }
    }
  }
}
//==========================style infografic - 4 ================

.content_infografic-4 {
  padding-bottom: 20px;
  .section_ifgrafic_4 {
    position: relative;
    &:before {
      content: '';
      background: url("../img/red_line.png") repeat-x;
      position: absolute;
      bottom: -57px;
      left: 0;
      width: 100%;
      height: 3px;
      background-position-x: -11px;
    }
  }

  .extra-row{
    margin-left: -58px;
    margin-right: -58px;
    @media (max-width:991px){
      margin-right: 0;
      margin-left: 0;
    }
  }
  .section-infografic-4{
    padding: 63px 58px ;
    position: relative;
    .wrap_content{
      float: left;
      .text_section{
        font-family:$myriadprobold;
        color: #8c0a27;
        font-size: 26px;
        text-transform: uppercase;
        width: 331px;
        @media (max-width:468px){
          width:100%;
          text-align:center;
          display:block;
        }
      }
      .wrap_misca{
        .misca{
          span{
            font-family:$myriadproreg;
            font-size: 28px;
            color: #8c0a27;
            display: block;
          }
          &:first-child span{
            padding: 20px 0 0 19px;
            float: left;
            @media (max-width:468px){
              float:none;
              text-align:center;
              display:block;
              padding: 20px 0 0 0;
            }
          }
          &:last-child span{
            padding: 20px 0 0 24px;
            float: left;
            max-width: 140px;
            line-height: .8;
            @media (max-width:468px){
              float:none;
              max-width:100%;
              text-align:center;
              display:block;
              padding: 20px 0 0 0;
            }
          }
          img{
            float: left;
            @media (max-width:468px){
              float:none;
              width:100%;
              text-align:center;
              display:block;
              margin:0 auto;
            }
          }
          &:last-child{
            width: 332px;
            @media (max-width:468px){
              width:100%;
              float:none;
              text-align:center;
            }
          }
          &:last-child img{
            max-width: 164px;
            @media (max-width:468px){
              width:100%;
              text-align:center;
              display:block;
            }
          }
          &:first-child{
            width: 400px;
            @media (max-width:468px){
              width:100%;
              float:none;
              text-align:center;
            }
          }
          @media (max-width:468px){
            width:100%;
            float:none;
            text-align:center;
          }
        }
      }
    }
    .img_block{
      position: absolute;
      right: 11px;
      top: 9px;
      img{
        width: 360px;
      }
      @media (max-width: 1199px){
        display:none;
      }
    }
  }
  .title_bloc{
    font-family:$myriadprosemibold;
    font-size: 35px;
    color: #8c0a27;
    text-align: center;
    text-transform: uppercase;
    margin-top: 9px;
  }
  .section-infografic-4-simptomu{
    padding: 0 58px;
    .simptomu{
      background: #ffffff;
      ul {
        float: left;
        padding: 35px 50px;
        li{
          list-style: none;
          font-family: $myriadproreg;
          font-size: 26px;
          color: #8a430d;
        }
        @media (max-width: 1199px){
          width: 100%;
          margin: 0 auto;
          display: block;
          text-align: center;
          padding: 25px 0 15px 0;
        }
      }
      .image_dog{
        float: right;
        margin-top: 40px;
        img{
          width:100%;
        }
        @media (max-width: 1199px){
          width: 100%;
          margin: 0 auto;
          display: block;
          text-align: center;
        }
      }
    }
    .desc_simptomu{
      font-family:$myriadproreg;
      font-size: 26px;
      color: #8c0a27;
      padding-top: 26px;
    }
  }
}
.infografica-4{
.content_infografic-4{
  .line{
    position: relative;
    &:before {
      content: '';
      background: url("../img/red_line.png") repeat-x;
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      height: 3px;
      background-position-x: -11px;
    }
    .wrap_item{
      position: relative;
      .item_img {
        background: #fff;
        border-radius: 50%;
        width: 205px;
        height: 205px;
        float: right;
        position: relative;
        z-index :1;
        right: 58px;
        img {
          margin: 15px auto;
          display: block;
        }
        @media (max-width:991px){
          width: 100%;
          float:none;
          position:static;
          background:none;
        }
      }
      .item_text{
        font-family: MyriadProReg, sans-serif;
        font-size: 28px;
        color: #8a430d;
        background: #FFFFFF;
        margin-top: 53px;
        padding: 25px 0 24px 38px;
        line-height: 1;
        word-break: break-word;
        float: left;
        width: 60%;
        position: relative;
        &:before{
          content: '';
          position: absolute;
          height: 100%;
          width: 20%;
          background: #ffffff;
          top: 0;
          right: -20%;
          @media (max-width:991px){
            display:none;
          }
        }
        @media (max-width:991px){
          width: 100%;
          float:none;
          background:none;
          padding: 0px 0px 0px 0px;
          text-align:center;
          margin-top: 10px;
        }
      }

      &:nth-child(2n+1){
        .item_img{
          float: left;
          right: auto;
          left: 58px;
          @media (max-width:991px){
            width: 100%;
            float:none;
            text-align:center;
            left:auto;
          }

        }
        .item_text{
          float: right;
          @media (max-width:991px){
            width: 100%;
            float:none;
            text-align:center;
          }
          &:before{
            right:auto;
            left: -20%;
            @media (max-width:991px){
              display:none;
            }
          }
        }
      }
    }
  }
}
}

//=========================== end infografic - 4 ===================
//============================= infografica - 5 ======================

.content_infografic-5{
  padding: 45px 39px;
  .col-lg-4{
    padding:0 13px;
    @media (max-width:1200px){
      width: 50%;
      height: 350px;
      margin:0 auto;
      &:last-child{
        margin-left:25%;
      }
    }
    @media (max-width:546px) {
      height:100%;
      margin-bottom: 15px;
      width:100%;
      &:last-child{
        margin-left:0;
      }
    }

  }
  .circle_dog{
    background: #fff;
    border-radius: 50%;
    width: 201px;
    height: 201px;
    border: 6px solid #fff;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    img {
      display: block;
      margin:0 auto;
    }
  }
  .desc_info-5{
    font-family: $myriadproreg;
    font-size: 26px;
    color: #8a430d;
    line-height: 1;
    letter-spacing: -1.5px;
    text-align: justify;
    span{
      font-family: $myriadprobold;
      font-size: 38px;
      line-height: 1;
    }
  }
}
.infografica-5{
  .info-4_title_text{
    font-family: MyriadProSemiBold;
    font-size: 34px;
    color: #8c0a27;
    text-align: center;
    text-transform: uppercase;
  }
}
.simtomu-info-5{
  background: #fff;
  margin: 53px 53px 15px;
  padding: 50px;
    ul{
      li{
        font-family:$myriadproreg;
        font-size: 27px;
        color: #8a430d;
        @media (max-width: 410px){
          font-size: 23px;
        }
      }
    }
  @media (max-width: 410px){
    margin:53px 20px 15px;
  }
  img{
    float: right;
    @media (max-width:768px){
      display: none;
    }
  }
}

//===============================end infografica - 5 ===================
//==============================infografic - 6 =========================
.infografica-6{

  .line{
    position: relative;
    &:before {
      content: '';
      background: url("../img/red_line.png") repeat-x;
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      height: 3px;
      background-position-x: -11px;
    }
    .extra-row{
      margin-left: -58px;
      margin-right: -58px;
      @media (max-width:991px){
        margin-right: 0;
        margin-left: 0;
      }
    }
    .wrap_item{
      position: relative;
      .item_img {
        background: #fff;
        border-radius: 50%;
        width: 205px!important;
        height: 205px;
        float: left;
        position: relative;
        z-index: 1;
        right: -86px;
        overflow: hidden;
        border: 4px solid #FFFFFF;
        display: block;
        margin: 0 auto;
        img {
          margin: 0px auto;
          margin: 0 auto;
          display: block;
        }
        @media (max-width:991px){
          width: 100%;
          float:none;
          position:static;
          background:none;
        }
      }
      .item_text{
        font-family: MyriadProReg, sans-serif;
        font-size: 28px;
        color: #8a430d;
        background: #FFFFFF;
        margin-top: 53px;
        padding: 25px 0 24px 38px;
        line-height: 1;
        word-break: break-word;
        float: right;
        width: 60%;
        position: relative;
        &:before{
          content: '';
          position: absolute;
          height: 100%;
          width: 20%;
          background: #ffffff;
          top: 0;
          right: -20%;
          @media (max-width:991px){
            display:none;
          }
        }
        @media (max-width: 1191px) {
            width: 55%;
        }
        @media (max-width:991px){
          width: 100%;
          float:none;
          background:none;
          padding: 0px 0px 0px 0px;
          text-align:center;
          margin-top: 10px;
        }
      }
      .first_item_text{
        margin-top: 40px;
      }
      .fourth_item_text{
        margin-top: 70px;
      }

      &:nth-child(2n+1){
        .item_img{
          float: right;
          right: auto;
          left: -80px;
          @media (max-width:991px){
            width: 100%;
            float:none;
            text-align:center;
            left:auto;
          }

        }
        .item_text{
          float: left;
          @media (max-width:991px){
            width: 100%;
            float:none;
            text-align:center;
          }
          &:before{
            right:auto;
            left: -20%;
            @media (max-width:991px){
              display:none;
            }
          }
        }
      }
    }
  }
}
.wrap_dog{
  width: 345px;
  float: left;
  margin-left: 30px;
  margin-top: 40px;
  @media (max-width: 1199px) {
    float: none;
    width: 100%;
    margin-left: 0;
  }
  .item_dog{
    margin-top: 2px;
    width: 150px;
    float: left;
    margin-right: 22px;
    .img_wrap{
      height: 100px;
      img{
        display: block;
        margin:0 auto;
      }
    }
    p{
      font-family:$myriadprosemibold;
      font-size: 24px;
      color: #8a430d;
      text-transform: uppercase;
      text-align: center;
      height: 50px;
    };
    @media (max-width: 1199px) {
      margin-bottom: 15px;
        display: block;
        margin:0 auto;
        width: 33.33%;
    }
    @media (max-width: 991px) {
      margin-left: 0;
      }
    @media(max-width: 500px){
      width: 50%;
    }
    }
    @media (max-width: 441px) {
      width: 100%;
      &:nth-last-child(1){
        display: block;
        margin:0 auto;
        width: 100%;
      }
      &:nth-last-child(2){
        display: block;
        margin:0 auto;
        width: 100%;
      }
    }
  }
  @media (max-width:441px) {
    margin-left: 0px;
  }

.info-6{
  padding-top: 31px;
}
.dog_purina{
  margin-top: 40px;
    img{
      @media (max-width: 1199px) {
      display: block;
      margin:0 auto;
    }
  }
  @media (max-width: 356px) {
    display: none;
  }
}
//================================end infografic - 6 ===================
.infografic-detail.border-wrap {
  .text-center {
    color: $infografic-color;
    font-size: 28px;
    line-height: 23px;
    letter-spacing: -0.9px;
    padding: 31px 49px;

    @media (max-width: map-get($grid-breakpoints, lg)) {
      padding: 15px;
      font-size: 20px;
      line-height: 25px;
    }
  }

  .social-wrap {
    width: 95%;
    margin: 0 auto;
  }

  .title-wrap {
    background: $cherryred;
    text-align: center;
    position: relative;
    padding: 57px 0 17px;
    font-size: 35px;
    line-height: 37px;

    span {
      display: block;
      font-family: $myriadprosemibold;
      color: #fff;
      text-transform: uppercase;
      position: relative;

      &:before {
        content: '';
        content: '';
        width: 64px;
        height: 32px;
        position: absolute;
        background: url(../img/white-bone.png) no-repeat;
        background-size: 90%;
        left: 0;
        right: 0;
        margin: auto;
        top: -36px;
      }
    }
    //white lines bottom & top
    &:before,
    &:after {
      content: '';
      content: '';
      width: 100%;
      height: 6px;
      position: absolute;
      background: url(../img/white-line.png) repeat-x;
      background-size: 5%;
      background-position-x: -19px;
      left: 0;
    }

    &:before {
      top: 7px;
    }

    &:after {
      bottom: 7px;
    }

    @media (max-width: map-get($grid-breakpoints, sm)) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  .separator-title {
    font-family: $myriadprobold;
    font-size: 30px;
    color: $cherryred;
    text-transform: uppercase;
    text-align: center;

    @media (max-width: map-get($grid-breakpoints, lg)) {
      font-size: 26px;
    }
  }

  .faq-pagination {
    position: absolute;
    width: 100%;
  }

  .list-info {
    padding-top: 72px;

    .item-info {
      padding: 0 20px 0 58px;

      img {
        border-radius: 50%;
        border: 3px solid #fff;
        max-width: 194px;
        // position: relative;
        // top: -30px;
        margin-top: -30px;
      }

      .text-info {
        color: $infografic-color;
        font-size: 28px;
        // padding-top: 35px;
        line-height: 23px;
        letter-spacing: -0.9px;
        display: table;
        // background: #7396a1;
        min-height: 165px;

        span {
          display: table-cell;
          vertical-align: middle;
          // padding: 0 30px;
        }
      }

      &:nth-child(2n+1) {
        img {
          float: left;
          margin-right: 35px;
        }
      }

      &:nth-child(2n) {
        img {
          float: right;
          margin-left: 26px;
        }
      }
    }

    @media (max-width: map-get($grid-breakpoints, lg)) {
      .item-info {
        margin-bottom: 30px;

        img {
          margin-top: 0;
        }

        .text-info {
          height: auto;
          font-size: 20px;
        }
      }
    }

    @media (max-width: map-get($grid-breakpoints, md)) {
      .item-info {
        &:nth-child(2n),
        &:nth-child(2n+1) {
          padding: 0 25px;

          img {
            float: none;
            display: block;
            margin: 0 auto;
          }

          .text-info {
            text-align: center;
            width: 100%;
          }
        }
      }
    }
  }
}

.dog-compare {
  .head-compare {
    div {
      text-align: center;
      position: relative;
      width: 48%;
      display: inline-block;
      box-sizing: border-box;

      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
      }

      span {
        color: $infografic-color;
        font-size: 28px;
        text-align: center;
        text-transform: uppercase;
        font-family: $myriadprosemibold;

        @media (max-width: map-get($grid-breakpoints, lg)) {
          font-size: 20px;
          line-height: 25px;
        }
      }
    }
  }

  table {
    width: 100%;

    tr {
      &:nth-child(2n) {
        background: #fff;
      }

      td {
        text-align: center;
        box-sizing: border-box;

        &:nth-child(2) {
          width: 46%;
        }

        &:nth-child(1),
        &:nth-child(3) {
          width: 27%;
          vertical-align: middle;
          padding: 0 15px;

          span {
            margin: auto;
            color: $infografic-color;
            font-size: 23px;
            text-transform: uppercase;
            font-family: $myriadprosemibold;
          }
        }
      }

      .name-compare {
        text-align: center;
        box-sizing: border-box;
        padding: 25px 0;
        margin: 0 auto;

        img {
          display: block;
          margin: 0 auto 40px;
          max-width: 100%;
        }

        span {
          color: $cherryred;
          font-family: $myriadprobold;
          font-size: 23px;
          text-align: center;
        }
      }
    }

    @media (max-width: map-get($grid-breakpoints, lg)) {
      tr {
        td:nth-child(1),
        td:nth-child(2),
        td:nth-child(3) {
          span {
            font-size: 16px;
          }
        }
      }
    }

    @media (max-width: 540px) {
      tr {
        td:nth-child(1),
        td:nth-child(2),
        td:nth-child(3) {
          padding: 0;

          img {
            margin: 0 auto 10px;
            max-width: 7vw;
          }

          span {
            font-size: 12px;
          }
        }
      }
    }
  }

  .table-compare {
    .item-compare {
      width: 100%;
      display: block;
      position: relative;
      // min-height: 155px;
      &:nth-child(2n) {
        background: #fff;
      }

      >div {
        display: inline-block;
        height: 100%;
      }
    }

    .name-compare {
      width: 46%;
      text-align: center;
      box-sizing: border-box;
      padding: 25px 0;
      margin: 0 auto;

      img {
        display: block;
        margin: 0 auto 40px;
      }

      span {
        color: $cherryred;
        font-family: $myriadprobold;
        font-size: 24px;
        text-align: center;
      }
    }

    .left-compare,
    .right-compare {
      width: 27%;
      text-align: center;
      // position: absolute;
      // top: 0;
      height: 100%;
      // display: table;
      span {
        // position: absolute;
        // top: 0;
        // right: 0;
        // bottom: 0;
        // left: 0;
        margin: auto;
        color: $infografic-color;
        font-size: 24px;
        text-transform: uppercase;
        font-family: $myriadprosemibold;
      }
    }

    .left-compare {
      // float: left;
      left: 0;
    }

    .right-compare {
      // float: right;
      right: 0;
    }
  }
}

.small-dogs {
  .small-dog-list {
    display: table;
    margin-bottom: 30px;

    >div {
      text-align: center;

      @media (max-width: map-get($grid-breakpoints, lg)) {
        margin-bottom: 30px;
      }
    }

    .image-dog {
      margin-bottom: 20px;
      @include aspect-ratio(216,325);

      img {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }

      @media (max-width: map-get($grid-breakpoints, lg)) {
        &:before {
          display: none;
        }

        img {
          position: relative;
        }
      }
    }

    .small-name {
      color: $infografic-color;
      font-family: $myriadprosemibold;
      font-size: 27px;
      text-transform: uppercase;
      margin-bottom: 7px;
      white-space: nowrap;
    }

    .height,
    .weight {
      text-align: left;
      color: $infografic-color;
      font-size: 22px;
      text-transform: uppercase;

      @media (max-width: map-get($grid-breakpoints, lg)) {
        // text-align: center;
      }
    }

    .height {
      margin-bottom: 17px;

      &:before {
        content: '';
        width: 51px;
        height: 43px;
        background: url('../img/compare1.png')no-repeat;
        background-size: cover;
        display: inline-block;
        margin-right: 16px;
        position: relative;
        top: 6px;
      }
    }

    .weight {
      position: relative;
      padding-left: 65px;
      height: 44px;
      display: table-cell;
      vertical-align: middle;
      line-height: 22px;

      &:before {
        content: '';
        width: 38px;
        height: 42px;
        background: url('../img/compare2.png')no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 5px;
      }
    }
  }

  .small-dog-stat {
    .border-line {
      position: relative;
      padding: 30px 55px;
      display: table;
      width: 100%;
      box-sizing: border-box;

      .stat-title {
        color: $infografic-color;
        font-size: 27px;
        text-align: center;
        margin-bottom: 15px;
      }

      .stat-text {
        color: $infografic-color;
        font-size: 27px;
        line-height: 23px;
        text-align: left;
      }

      .img-left {
        float: left;
      }

      .img-right {
        float: right;
      }

      &.float-stat {
        padding: 11px 56px;

        img {
          max-width: 301px;
          height: auto;
        }

        span {
          height: 200px;
          display: table-cell;
          vertical-align: middle;
        }

        &:nth-of-type(2n) {
          .stat-text {
            float: right;
          }
        }

        &:nth-of-type(2n+1) {
          .stat-text {
            float: left;
          }
        }
      }

      &:before {
        content: '';
        width: 100%;
        height: 3px;
        background: url(../img/line.png) repeat-x;
        position: absolute;
        top: 0;
        left: 0;
      }

      @media (max-width: map-get($grid-breakpoints, xl)) {
        padding: 15px 30px;

        &.float-stat {
          img {
            width: 50%;
          }

          .stat-text {
            width: 50%;

            br {
              display: none;
            }
          }
        }
      }

      @media (max-width: map-get($grid-breakpoints, lg)) {
        display: block;

        &.float-stat {
          img {
            max-width: 100%;
            width: 100%;
          }

          &:nth-of-type(2n),
          &:nth-of-type(2n+1) {
            .stat-text {
              float: none;
              width: 100%;

              span {
                display: block;
                height: auto;

                br {
                  display: none;
                }
              }
            }
          }
        }

        .stat-text
         {
          display: block;
          text-align: center;
          float: none;
        }

        img.img-left,
        img.img-right {
          float: none;
          display: block;
          margin: 0 auto 10px;
          max-width: 100%;
        }
      }

      &.man-women {
        @media (max-width: map-get($grid-breakpoints, xl)) {
          img.img-left,
          img.img-right {
            float: none;
            display: block;
            margin: 0 auto 10px;
          }
        }
      }
    }
  }
}
//InfoGrafic Detail-Page Main end
/**
*infografica -7
**/
.infografica-7{
  background: #faefdf!important;
  background: #faefdf !important;
  margin-bottom: -72px;
  padding-bottom: 90px;
  margin-top: -50px;
  padding-top: 50px;
  .content_infografic-7{
    position: relative;
  }
  .section-1{
    margin-top: 50px;
    padding-left: 60px;
    position: relative;
    margin-bottom: 60px;
    span{
      &:nth-child(1){
        font-family:$halveticaneuecyrbold;
        color: #cf9b53;
        font-size: 34.37px;
        display: block;
        letter-spacing: -0.8px;
      }
      &:nth-child(2){
        font-family:$halveticaneuecyrbold;
        font-size: 36.81px;
        color: #cf9b53;
        display: block;
        letter-spacing: -0.9px;
      }
      &:nth-child(3){
        font-family:$halveticaneuecyrbold;
        font-size: 38.56px;
        color: #cf9b53;
        display: block;
        letter-spacing: -1.4px;
        padding-top: 5px;
      }
      &:nth-child(4){
        font-family:$halveticaneuecyrbold;
        font-size: 34px;
        color: #cf9b53;
        display: block;
        padding-top: 5px;
        letter-spacing: -1px;
      }
      &:nth-child(5){
        font-family:$halveticaneuecyrbold;
        font-size: 57px;
        color: #8a132c;
        text-transform: uppercase;
        padding-top: 14px;
        display: block;
        letter-spacing: -1.4px;
        &>span{
          font-size: 86.67px;
          color: #8a132c;
          letter-spacing: -2.5px;
          padding-top: 4px;
          @media(max-width: 410px){
            font-size: 50px;
          }
        }
        @media(max-width: 410px){
          font-size: 40px;
        }
      }
    }
    img{
      position: absolute;
      top: 37px;
      right: 4px;
      @media (max-width:1199px) {
        right: -47px;
      }
      @media (max-width:992px) {
        display: none;
      }
    }
    @media(max-width: 445px){
      padding-left: 0px;
      padding: 0 25px;
    }
  }
  .section-2{
    font-family:$helveticaneuecyr-roman;
    font-size: 23px;
    color: #8a132c;
    padding: 3px 63px;
    line-height: 1.2;
    letter-spacing: -0.9px;
      span{
        font-family:$halveticaneuecyrbold;
        font-size: 23px;
        color: #8a132c;
        padding-left: 13px;
        br{
          @media(max-width:992px){
            display: none;
          }
        }
      }
    @media (max-width:1199px) {
      font-size: 20px;
    }
    @media(max-width:992px){
      padding: 0 25px;
    }
  }
  .wrap_global_section {
    position: relative;
    .section-3 {
      float: left;
      margin-left: 61px;
      margin-top: 18px;
      position: relative;
      z-index: 2;
      span {
        font-family: $halveticaneuecyrbold;
        color: #cf9b53;
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: -0.4px;
        padding-bottom: 7px;
        display: block;
      }
      p:nth-child(2) {
        font-family: $helveticaneuecyr-roman;
        font-size: 14px;
        color: #686563;
        letter-spacing: -0.2px;
        line-height: 17px;
        br {
          @media(max-width: 992px) {
            display: none;
          }
        }
      }
      p:nth-child(3) {
        font-family: $halveticaneuecyrbold;
        font-size: 18px;
        color: #8a132c;
        padding-top: 7px;
        display: block;
        letter-spacing: -0.4px;
        line-height: 1.2;
        @media (max-width: 1199px) {
          font-size: 16px;
        }
        br {
          @media(max-width: 992px) {
            display: none;
          }
        }
      }
      @media (max-width: 1199px) {
        margin-left: 25px;
        margin-top: 29px;
      }
      @media(max-width: 992px) {
        margin-left: 0px;
        padding: 0 25px;
      }
    }
    .section-4 {
      float: right;
      margin-right: 52px;
      margin-top: 18px;
      position: relative;
      z-index: 2;
      span {
        font-family: $halveticaneuecyrbold;
        color: #cf9b53;
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: -0.4px;
        padding-bottom: 7px;
        display: block;
        text-align: right;
        @media(max-width: 992px) {
          text-align: left;
        }
      }
      p:nth-child(2) {
        font-family: $helveticaneuecyr-roman;
        font-size: 14px;
        color: #686563;
        letter-spacing: -0.2px;
        line-height: 17px;
        text-align: right;
        br {
          @media(max-width: 992px) {
            display: none;
          }
        }
        @media(max-width: 992px) {
          text-align: left;
        }
      }
      p:nth-child(3) {
        font-family: $halveticaneuecyrbold;
        font-size: 18px;
        color: #8a132c;
        padding-top: 3px;
        display: block;
        letter-spacing: -0.4px;
        line-height: 1.2;
        text-align: right;
        br {
          @media(max-width: 992px) {
            display: none;
          }
        }
        @media(max-width: 992px) {
          text-align: left;
        }
      }
      @media(max-width: 992px) {
        margin-right: 0px;
        padding: 0 25px;
      }
    }
    .section-5 {
      float: left;
      margin-left: 61px;
      margin-top: 58px;
      position: relative;
      z-index: 2;
      span {
        font-family: $halveticaneuecyrbold;
        color: #cf9b53;
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: -0.4px;
        padding-bottom: 7px;
        display: block;
        padding-bottom: 16px;
        @media(max-width: 1199px) {
          padding-top: 50px;
        }
        @media(max-width: 992px) {
          padding-top: 0px;
        }
      }
      p:nth-child(2) {
        font-family: $helveticaneuecyr-roman;
        font-size: 14px;
        color: #686563;
        letter-spacing: -0.2px;
        line-height: 17px;
        br {
          @media(max-width: 992px) {
            display: none;
          }
        }
      }
      p:nth-child(3) {
        font-family: $halveticaneuecyrbold;
        font-size: 18px;
        color: #8a132c;
        padding-top: 11px;
        display: block;
        letter-spacing: -0.4px;
        line-height: 1.2;
        @media(max-width: 1199px) {
          font-size: 16px;
        }
        br {
          @media(max-width: 992px) {
            display: none;
          }
        }
      }
      @media(max-width: 1199px) {
        margin-left: 30px;
      }
      @media(max-width: 992px) {
        margin-left: 0px;
        padding: 0 25px;
        margin-top: 18px;
      }
    }
    .section-6 {
      float: left;
      margin-left: 61px;
      margin-top: 75px;
      position: relative;
      z-index: 2;
      span {
        font-family: $halveticaneuecyrbold;
        color: #cf9b53;
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: -0.4px;
        padding-bottom: 7px;
        display: block;
        padding-bottom: 16px;
      }
      p:nth-child(2) {
        font-family: $helveticaneuecyr-roman;
        font-size: 14px;
        color: #686563;
        letter-spacing: -0.2px;
        line-height: 17px;
        br {
          @media(max-width: 992px) {
            display: none;
          }
        }
      }
      p:nth-child(3) {
        font-family: $halveticaneuecyrbold;
        font-size: 18px;
        color: #8a132c;
        padding-top: 3px;
        display: block;
        letter-spacing: -0.4px;
        line-height: 1.2;
        @media(max-width: 1199px) {
          font-size: 16px;
        }
        br {
          @media(max-width: 992px) {
            display: none;
          }
        }
      }
      img {
        position: absolute;
        bottom: -9px;
        right: -105px;
        @media(max-width: 992px) {
          display: none;
        }
      }
      @media(max-width: 1199px) {
        margin-left: 30px;
        margin-top: 90px;
      }
      @media(max-width: 992px) {
        margin-left: 0px;
        padding: 0 25px;
        margin-top: 18px;
      }
    }
  }
  .section-7{
    float: right;
    margin-right: 103px;
    margin-top: 75px;
    position: relative;
    z-index: 2;
    span{
      font-family: $halveticaneuecyrbold;
      color: #cf9b53;
      text-transform: uppercase;
      font-size: 22px;
      letter-spacing: -0.4px;
      padding-bottom: 7px;
      display: block;
      text-align: left;
    }
    p:nth-child(2){
      font-family:$helveticaneuecyr-roman;
      font-size: 14px;
      color: #686563;
      letter-spacing: -0.2px;
      line-height: 17px;
      text-align: left;
      br{
        @media(max-width:992px){
          display: none;
        }
      }
    }
    p:nth-child(3){
      font-family:$halveticaneuecyrbold;
      font-size: 18px;
      color: #8a132c;
      padding-top: 3px;
      display: block;
      letter-spacing: -0.4px;
      line-height: 1.2;
      text-align: left;
      @media(max-width: 1199px){
        font-size: 16px;
      }
      br{
        @media(max-width:992px){
          display: none;
        }
      }
    }
    @media(max-width: 1199px){
      margin-right: 60px;
      margin-top: 92px;
    }
    @media(max-width: 992px){
      margin-left: 0px;
      padding: 0 25px;
      margin-top: 18px;
    }
  }
  .img-chema{
    position: absolute;
    top: 0px;
    right: 51px;
    z-index: 1;
    @media(max-width: 992px){
      display: none;
    }
  }
  .section-8{
    background: url("../img/bg_dashed.png")no-repeat top center;
    margin-top: 14px;
    margin-left: 4px;
    .section-8-title{
      font-family:$halveticaneuecyrbold;
      font-size: 35px;
      color: #686563;
      text-align: center;
      display: block;
      background: url("../img/lamp.png")no-repeat 216px 16px;
      padding: 32px 0 0 31px;
      letter-spacing: -1px;
      @media (max-width:1199px) {
        background: url("../img/lamp.png")no-repeat 180px 16px;
      }
      @media (max-width:992px) {
        background: url("../img/lamp.png")no-repeat 80px 16px;
      }
      @media (max-width: 468px) {
        background: url("../img/lamp.png")no-repeat 30px 16px;
      }
      @media (max-width: 373px) {
        background: none;
      }
    }
    .section-8-block-1{
      float: left;
      font-family:$helveticaneuecyr-roman;
      font-size: 14px;
      color: #686563;
      padding-left: 107px;
      padding-top: 21px;
      letter-spacing: -0.3px;
      span{
        font-family:$halveticaneuecyrbold;
        font-size: 36px;
        color: #8a132c;
        letter-spacing: -1.3px;

      }
      p{
        letter-spacing: -0.3px;
        line-height: 1.22;
      }
      img{
        margin-left: 59px;
        margin-top: -17px;
        padding-bottom: 20px;
        @media(max-width: 992px){
          margin-left: 0px;
          margin-top: 0px;
        }
      }
      @media(max-width: 1199px){
        padding-left: 65px;
      }
      @media(max-width: 992px){
        padding-left: 0px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }
    }
    .section-8-block-2{
      float: left;
      margin-left: 83px;
      img{
        margin: 11px 0px 0 34px;
        display: block;
        @media(max-width: 992px){
          display: block;
          margin: 0 auto;
        }
      }
      p{
        font-family:$helveticaneuecyr-roman;
        font-size: 14px;
        color: #686563;
        padding-top: 12px;
        letter-spacing: -0.3px;
        line-height: 1.2;
        span{
          font-family:$halveticaneuecyrbold;
          font-size: 36px;
          color: #8a132c;
        }
        @media (max-width: 992px) {
          padding-bottom: 20px;
        }
      }
      @media (max-width: 992px){
        margin-left: 0px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }
    }
    @media (max-width: 992px) {
      background-size: cover;
    }
  }
  .footer_infografic{
    margin: 31px auto 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    a{
      font-family:$helveticaneuecyr-roman;
      font-size: 25px;
      color: #000;
      text-decoration: none;
      display: inline-block;
      vertical-align: middle;
    }
    img{
      display: inline-block;
      vertical-align: middle;
    }
  }
  @media (max-width: 992px) {
    margin-bottom: -80px;
    padding-bottom: 100px;

  }
  @media (max-width: 544px) {
    margin-bottom: -92px;
    padding-bottom: 102px;
  }
  @media (max-width: 426px) {
    margin-bottom: -110px;
    padding-bottom: 120px;
  }
}
/**
*infografica -8
**/
.infografica-8{
  .wrap_content{
    padding-top: 48px;
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: 545px) {
      padding: 48px 0;
    }
  }
  .item-info-8{
    float: left;
    width: 33.33%;
    margin-bottom: 24px;
    &:nth-last-child(1){
      margin-bottom: 5px;
    }
    &:nth-last-child(2){
      margin-bottom: 5px;
    }
    &:nth-last-child(3){
      margin-bottom: 5px;
      .contry-info-8{}
    }
    img{
      display: block;
      margin: 0 auto;
    }
  .desc_item_info-8{
    .name_dog_info-8{
      font-family: $myriadprosemibold;
      font-size: 37px;
      color: #8a430d;
      text-transform: uppercase;
      letter-spacing: -2.2px;
      padding-left: 10px;
      text-align: center;
      line-height: 34px;
      @media (max-width: 545px) {
        padding-left: 0;
      }
    }
    .contry-info-8{
      font-family: $myriadproreg;
      font-size: 25px;
      color: #8a430d;
      background: url("../img/flag-info8.png")no-repeat 10px center;
      height: 40px;
      margin-top: 23px;
      margin-left: 40px;
      padding-left: 71px;
      padding-top: 5px;
      letter-spacing: -1.5px;
      @media(max-width: 1199px){
        margin-left: 70px;
      }
      @media(max-width: 991px){
        margin-left: 50px;
      }
    }
    .minus-top{
      margin-top: 5px;
      @media(max-width: 1199px){
        margin-top: 40px;
      }
      @media(max-width: 991px){
        margin-top: inherit;
      }
    }
    .plus-top{
      margin-top: 40px;
    }
    .size-dog-info-8{
      font-family: $myriadproreg;
      font-size: 25px;
      color: #8a430d;
      background: url("../img/size-dog-info8.png")no-repeat;
      margin-top: 0px;
      margin-left: 52px;
      padding-left: 63px;
      height: 42px;
      padding-top: 10px;
      @media(max-width: 1199px){
        margin-left: 85px;
      }
      @media(max-width: 991px){
        margin-left: 62px;
      }
    }
    .weight{
      font-family: $myriadproreg;
      font-size: 25px;
      color: #8a430d;
      background: url("../img/vaga-info8.png")no-repeat;
      margin-top: 4px;
      margin-left: 58px;
      padding-left: 54px;
      height: 42px;
      padding-top: 9px;
      @media(max-width: 1199px){
        margin-left: 95px;
      }
      @media(max-width: 991px){
        margin-left: 70px;
      }
    }
    @media (max-width: 1199px) {
        height: 260px;
    }
    @media (max-width: 545px) {
      width: 320px;
      margin: 0 auto;
    }
  }
    @media(max-width: 1199px){
      width: 50%;
      margin-bottom: 5px;
    }
    @media(max-width: 545px){
      width: 100%;
      margin-bottom: 5px;
    }
  }
  .textblock-info-8{
    font-family:$myriadprosemibold;
    text-transform: uppercase;
    font-size: 29px;
    color: #8a430d;
    text-align: center;
    padding-top: 20px;
    letter-spacing: -1.9px;
  }
  .logo-info-8{
    display: block;
    margin: 19px auto;
  }
}

//================================infografic - 9 ===================

.content_infografic-9{

}
.infoList{
  padding-left: 86px;
  @media (max-width:991px) {
    padding-left: 68px;
  }
  ul{
    list-style: none;
    li{
      margin-bottom: 43px;
      position: relative;
      padding-left: 22px;
      span{
        position: absolute;
        left: 0;
        top: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &-title{
    font-size: 28px;
    font-family: MyriadProSemiBold, sans-serif;
    text-transform: uppercase;
    color: #8c0a27;
    margin-bottom: 18px;
    @media (max-width:991px) {
      font-size: 28px;
    }
  }
  &-text{
    font-size: 23px;
    color: #8a430d;
    @media (max-width:991px) {
      font-size: 18px;
    }
  }
  &-image{
    position: absolute;
    left: -91px;
    top: 50%;
    width:75px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    @media (max-width:991px) {
      left: -80px;
      width: 65px;
    }
    &:before{
      content: '';
      background: url(../img/curvline.png) right top no-repeat;
      width: 150px;
      height: 25px;
      display: block;
      position: absolute;
      right: -10px;
      top: 50%;
      margin-top: -22px;
      z-index: 1;
      background-size: 206% 100%;
    }
    img{
      max-width:100%;
      position: relative;
      z-index:2;
    }
  }
  &-botimg {
    margin-top: 50px;
    img{
      max-width:100%;
    }
  }
}
.padSection{
  padding: 46px 35px 43px 35px;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 44%;
  @media (max-width:991px) {
    background-size: 34%;
    background-position: right 50px;
  }
  @media (max-width:767px) {
    background-image: none!important;
    padding: 15px;
  }
  &.bottom-bg{
    padding-bottom: 180px;
    @media (max-width:991px) {
      padding-bottom: 140px;
    }
  }
  &.littlePadding{
    padding: 18px 50px 35px;
  }
  .infoList-title{
    font-family: $helveticaneuecyr-medium;
    font-size: 29px;
  }
}

.bottomImage{
  position: absolute;
  left: -47px;
  bottom: -31px;
  max-width: 266px;
  img{
    max-width:100%;
  }
  @media (max-width:991px) {
    width:250px;
  }
}

.lsep{
  background: url("../img/red_line.png") repeat-x;
  width: 100%;
  height: 3px;
  background-position-x: -11px;
}

//================================end infografic - 9 ===================


//================================infografic - 10 ===================
/* infografic - 10  */
.tempBlock{
  padding:30px 0 15px 70px;
  @media (max-width:991px) {
    padding:30px 0 0 20px;
  }
  @media (max-width:767px) {
    padding:30px 15px;
  }
  &-image{
    float: left;
    width:20%;
    position: relative;
    z-index: 2;
    @media (max-width:767px){
      width: 30%;
    }
    img{
      max-width:100%;
    }
  }
  &-text{
    margin-left: -10%;
    float: left;
    width: 90%;
    position: relative;
    z-index: 1;
    z-index: 1;
    padding-top: 30px;
    &-img{
      vertical-align: middle;
      margin-right: 10px;
    }
    @media (max-width:767px){
      margin-left: 0;
      width: 100%;
    }
    &-line{
      font-size: 28px;
      font-family:$helveticaneuecyr-light;
      text-transform: uppercase;
      color: #8a430d;
      background: #ffffff;
      padding:8px 0 7px 10%;
      letter-spacing: -0.01em;
      &:nth-child(1){
        margin-bottom: 13px;
      }
      &:nth-child(2){
        margin-bottom: 25px;
      }
      &:nth-child(3){
        padding-top:10px;
        padding-bottom:10px;
      }
      @media (max-width:991px) {
        padding-left: 18%;
        font-size: 22px;
        &:nth-child(1){
          margin-bottom: 9px;
        }
        &:nth-child(2){
          margin-bottom: 12px;
        }
        &:nth-child(3){
          padding-top:10px;
          padding-bottom:8px;
        }
      }
      @media (max-width:767px) {
        font-size: 18px;
        padding-left: 5px;
        margin-bottom:11px!important;
        p{
          display: inline-block;
          vertical-align: middle;
        }
      }
      @media (max-width:480px) {
        font-size:16px;
        padding-top:13px;
      }
      @media (max-width:420px) {
        text-align: center;
        .tempBlock-text-img{
          display: block!important;
          margin: 0 auto 15px;
        }
      }
    }
  }
}
.infografica-10{
  .visible-xs{
    display: none;
  }
  @media (max-width:767px) {
    .visible-xs{
      display: block;
    }
    .visible-xs.tempBlock-text-img{
      display: inline-block;
    }
    .hidden-xs{
      display: none;
    }
  }
}


.wrap_item.allSite-item{
  position: relative;
  .item_img {
    border-radius: 50%;
    width: 195px;
    height: 195px;
    float: right;
    position: relative;
    z-index :1;
    right: 0;
    overflow: hidden;
    border: 4px solid #fff;
    img {
      display: block;
      border-radius: 50%;
      max-width:100%;
      max-height: 100%;
    }
    @media (max-width:991px){
      width: 195px;
      margin:0 auto 25px;
      float:none;
      position:static;
      background:none;
    }
    }
  .item_text{
    font-family: $helveticaneuecyr-light;
    text-transform: uppercase;
    font-size: 28px;
    color: #8a430d;
    background: #FFFFFF;
    margin-top: 53px;
    padding: 25px 0 24px 38px;
    line-height: 1;
    word-break: break-word;
    float: left;
    width: 60%;
    position: relative;
    text-align: right;
    @media (min-width:1200px){
      width: 66%;
    }
    &:before{
      content: '';
      position: absolute;
      height: 100%;
      width: 20%;
      background: #ffffff;
      top: 0;
      right: -20%;
      @media (max-width:991px){
        display:none;
      }
    }
    @media (max-width:991px){
      width: 100%;
      float:none;
      background:none;
      padding: 0px 0px 0px 0px;
      text-align:center;
      margin-top: 10px;
    }
  }

  &.rightPosition{
    .item_img{
      float: left;
      right: auto;
      left: 0;
      @media (max-width:991px){
        width: 195px;
        margin: 0 auto;
        float:none;
        text-align:center;
        left:auto;
      }
    }
    .item_text{
      float: right;
      text-align: left;;
      @media (max-width:991px){
        width: 100%;
        float:none;
        text-align:center;
      }
      &:before{
        right:auto;
        left: -20%;
        @media (max-width:991px){
          display:none;
        }
      }
    }
  }
}
@media (max-width:767px){
  .item_text{
    margin-bottom: 25px;
  }
}
.infografica-10{
  &.border-wrap.infografic-detail{
    background: #f8e9d9;
  }
  .padSection{
    padding: 18px 55px 35px;
    @media (max-width:767px) {
      padding: 15px;
    }
  }
  @media (min-width:992px) {
    .wrap_item.allSite-item .item_text {
      margin-left: -55px;
      margin-right: 0;
      padding-left: 55px;
      padding-right: 24px;
    }
    .wrap_item.allSite-item.rightPosition .item_text {
      margin-right: -55px;
      margin-left: 0;
      padding-right: 55px;
      padding-left: 24px;
    }
  }
}

.blockQuote{
  padding:39px 0;
  font-family:$halveticaneuecyrbold;
  text-transform: uppercase;
  color: #c89f53;
  font-size: 23px;
  text-align: center;
  position: relative;
  letter-spacing: -.03em;
  margin-bottom: 40px;
  &.bigtext{
    font-size: 28px;
    padding: 32px 0;
  }
  @media (max-width:767px) {
    font-size: 18px;
    &.bigtext{
      font-size: 18px;
    }
  }
  &:after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    display: block;
    background: url("../img/red_line.png") repeat-x;
    height: 3px;
    background-position-x: -11px;
  }
  &:before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: url("../img/red_line.png") repeat-x;
    height: 3px;
    background-position-x: -11px;
  }
  span{
    color: #8c0a27;
  }
  &-inner{
    max-width:610px;
    padding: 0 35px;
    margin: 0 auto;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      right: 5px;
      top: 50%;
      width: 24px;
      height: 131px;
      display: block;
      background: url(../img/blockquote_img.png) 0 0 no-repeat;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
    }
    &:before{
      content: '';
      position: absolute;
      left: 5px;
      top: 50%;
      width: 24px;
      height: 131px;
      display: block;
      background: url(../img/blockquote_img.png) 0 0 no-repeat;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
    }
    @media (max-width:767px) {
      &:after,&:before{
        width: 12px;
        height: 65px;
        background-size: 100% 100%;
      }
    }
  }
}
.treeColumn{
  margin: 0 -15px;
  *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  &-col{
    padding: 0 15px;
  }
  @media (min-width:992px) {
    &-col{
      width: 33.33%;
      float: left;
      &:nth-child(3n+1){
        clear: left;
      }
    }
  }
  .redCircleItem{
    margin-bottom: 25px;
  }
}

.bigRedTitle{
  color: #8c0a27;
  font-size: 42px;
  letter-spacing:-0.05em;
  font-family:$helveticaneuecyr-medium;
  text-transform: uppercase;
  text-align: center;
  margin: 31px 0 50px;
  padding:0 15px;
  @media (max-width:767px) {
    font-size: 28px;
  }
}
.middleRedTitle{
  color: #8c0a27;
  font-size: 39px;
  letter-spacing:-0.05em;
  font-family:$myriadprolight;
  text-transform: uppercase;
  text-align: center;
  margin-bottom:22px;
  padding:0 15px;
  @media (max-width:767px) {
    font-size: 28px;
  }
}

.redCircleItem{
  text-align: center;
  &-img{
    overflow: hidden;
    width:100%;
    max-width:173px;
    margin: 0 auto 10px;
    position: relative;
    img{
      max-width:100%;
      max-height:100%;
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius:50%;
      -webkit-border-radius:50%;
      transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
    }
    &:before{
      content: '';
      width: 100%;
      display: block;
      padding-top: 100%;
    }
  }
  &-text{
    font-size: 30px;
    color: #8a430d;
    letter-spacing:-0.08em;
    font-family:$helveticaneuecyr-medium;
    @media (max-width:991px) {
      font-size: 22px;
    }
  }
}

.dotBg{
  position: relative;
  >*{
    position: relative;
    z-index: 2;
  }
  &:before{
    content: '';
    position: absolute;
    z-index:1;
    left: -35px;
    right: -35px;
    top: 50%;
    height: 14px;
    margin-top: -55px;
    display: block;
    background: url(../img/dotsep.png) left top repeat-x;
    @media (max-width:991px) {
      display: none;
    }
  }
}

.borderBlock{
  position: relative;
  background: #ffffff;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  padding:20px 22px;
  &-inner{
    &:before{
      content: '';
      width: 5px;
      display: block;
      position: absolute;
      left: 0px;
      top: 34px;
      bottom: 24px;
      background: url("../img/border-left.png") 0 0 repeat-y;
    }
    &:after{
      content: '';
      width: 5px;
      display: block;
      position: absolute;
      right: 1px;
      top: 34px;
      bottom: 24px;
      background: url("../img/border-left.png") 0 0 repeat-y;
    }
  }
  &:before{
    content: '';
    height: 5px;
    display: block;
    position: absolute;
    left: 37px;
    top: 0;
    right: 30px;
    background: url("../img/border-top.png") 0 0 repeat-x;
  }
  &:after{
    content: '';
    height: 5px;
    display: block;
    position: absolute;
    left: 15px;
    bottom: 1px;
    right: 23px;
    background: url("../img/border-top.png") 0 0 repeat-x;
  }
  &-top{
    &:before{
      content: '';
      width: 30px;
      height: 34px;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      background: url('../img/border-left-top.png') 0 0 no-repeat;
    }
    &:after{
      content: '';
      width: 30px;
      height: 34px;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: url('../img/border-right-top.png') 0 0 no-repeat;
    }
  }
  &-bottom{
    &:before{
      content: '';
      width: 23px;
      height: 27px;
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      background: url('../img/border-left-bottom.png') 0 0 no-repeat;
    }
    &:after{
      content: '';
      width: 23px;
      height: 27px;
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      background: url('../img/border-right-bottom.png') 0 0 no-repeat;
    }
  }
}

.dotList{
  font-size: 27px;
  color: #cb9258;
  font-family:$myriadprosemibold;
  &-img{
    img{
      max-width:100%;
    }
  }
  ul{
    list-style: none;
    li{
      padding-left: 40px;
      position: relative;
      &:before{
        content: '';
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        left: 6px;
        top: 3px;
        background: #8c0a27;
        border-radius: 50%;
        -webkit-border-radius: 50%;
      }
      @media (max-width:767px) {
        &:before{
          width: 10px;
          height: 10px;
          top: 7px;
          left: 0;
        }
        padding-left: 20px;
        font-size: 22px;
      }
    }
  }
}

.mgBlock{
  margin-bottom: 15px;
  &+.borderBlock{
    margin-bottom: 58px;
  }
}

.infoLogo{
  text-align: center;
  margin-bottom: 26px;
}
.redSep{
  height: 7px;
  margin-bottom: 26px;
  width: 100%;
  background: #8c0a27;
}
/* end infografic - 10  */

//================================end infografic - 10 ===================


/* infografic - 11  */

//================================infografic - 11 ===================


.transparent{
  background: transparent;
}

.peachGradient,.infografica-10.border-wrap.infografic-detail.peachGradient{
  background: #eed6be;
  background: -moz-linear-gradient(top, #eed6be 0%, #f8ecdf 19%, #f8ecdf 76%, #edd0b5 100%);
  background: -webkit-linear-gradient(top, #eed6be 0%,#f8ecdf 19%,#f8ecdf 76%,#edd0b5 100%);
  background: linear-gradient(to bottom, #eed6be 0%,#f8ecdf 19%,#f8ecdf 76%,#edd0b5 100%);
}

.sevenSigns{
  &-info{
    padding-top:26px;
    @media (max-width:991px) {
      padding-top: 17px;
    }
    @media (min-width:992px) {
      margin-top: -4px;
      padding-left: 11px;
    }
    position: relative;
    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      width: 8px;
      top: 0;
      bottom: 90px;
      left: 49px;
      display: block;
      background: url(../img/vsep.png) 0 0 repeat-y;
      @media (max-width:991px) {
        display: none;
      }
    }
  }
  &-img{
    position:relative;
    margin-bottom: 23px;
    overflow: hidden;
    width:100%;
    @media (max-width:991px) {
      margin-bottom: 17px;
    }
     &-inner{
       position: absolute;
       width: 100%;
       left: 50%;
       top: 50%;
       transform: translate(-50%,-50%);
       -webkit-transform: translate(-50%,-50%);
       &:nth-child(2){
         img{
           @media (max-width:767px) {
             -webkit-transform: scale(1.5);
             -moz-transform: scale(1.5);
             -ms-transform: scale(1.5);
             -o-transform: scale(1.5);
             transform: scale(1.5);
           }
         }
       }
     }
      img{
        max-width:100%;
      }
      &:before{
      content: '';
      width: 100%;
      display: block;
      padding-top: 100%;
    }
  }
  &-text{
    font-size: 22px;
    letter-spacing:-0.045em;
    color: #666766;
    font-family:$helveticaneuecyr-light;
    text-align: center;
    line-height: 1.23em;
    @media (max-width:768px) {
      font-size: 18px;
    }
  }
  &-item{
    position: relative;
    margin-bottom: 17px;
    z-index:2;
    &-left{
      float: left;
      width: 85px;
      padding-top: 10px;
      img{
        max-width:100%;
      }
      @media (max-width:991px) {
        display: none;
      }
    }
    &-right{
      margin-left: 117px;
      &.rightPosition{
        .sevenSigns-item-img{
          float: right;
        }
        .sevenSigns-item-text{
          margin-left: 0;
          margin-right:145px;
          @media (max-width:379px) {
            margin:0;
          }
        }
      }
      @media (max-width:991px) {
        margin-left: 0;
      }
    }
    &-img{
      width: 135px;
      float: left;
      padding-top: 15px;
      img{
        max-width:100%;
      }
      @media (max-width:379px) {
        display: none;
      }
    }
    &-text{
      margin-left: 135px;
      h3{
        color: #8f2030;
        font-size: 23px;
        letter-spacing: 0.077em;
      }
      p{
        color: #666766;
        font-family:$helveticaneuecyr-light;
        font-size: 17px;
        line-height: 1.3em;
        letter-spacing: -0.01em;
        span{
          font-family:$helveticaneuecyr-medium;
        }
      }
      @media (max-width:379px) {
        margin:0;
      }
    }
  }
}



/* end infografic - 11  */

//================================end infografic - 11 ===================



/* infografic - 12  */

//================================end infografic - 12 ===================
.borderBlock{
  .infoList-title{
    text-align: center;
    @media (max-width:991px) {
      font-size: 24px;
    }
  }
  .dotList{
    .noList{
      font-size: 29px;
      &:before{
        display: none;
      }
    }
  }
  .mfixImg{
    margin:0 -20px -22px;
  }
}

.centerBlock{
  padding: 15px;
  background: #fbf3ea;
  margin-bottom: 17px;
  &-text{
    text-align: center;
    font-size: 20px;
    color: #a77747;
    text-transform: uppercase;
    font-family: HelveticaNeueCyr-Bold, sans-serif;
    img{
      max-width:100%;
    }
    p{
      margin-bottom: 15px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    span{
      color: #8c0a27;
    }
  }
}

.padSection{
  &.topBlock{
    padding-bottom: 0;
  }
}

.infoImages{
  text-align: center;
  &-img{
    margin-bottom: 25px;
  }
  &-title{
    font-size: 30px;
    color: #a77747;
    margin-bottom: 12px;
    font-family:$myriadprosemibold;
  }
}

.bigRedTitle.litmargin{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 33px;
}
.treeColumn .infoImages-title{
  text-transform: uppercase;
  font-size: 20px;
  font-family: HelveticaNeueCyr-Bold, sans-serif;
}
.infoImages-title.redTitle{
  color: #8c0a27;
}
.treeColumn{
  text-align: center;
}
.treeColumn-img{
  max-width:100%;
  margin-bottom: 25px;
}

.lTitle{
  font-size: 31px;
  color: #8c0a27;
  font-family: HelveticaNeueCyr-Bold, sans-serif;
  margin-bottom: 20px;
}
.centerBlock-text.ttnormal{
  text-transform: none;
  font-family: HelveticaNeueCyr-Medium, sans-serif;
  font-size: 26px;
}
/* infografic - 12  */

//================================end infografic - 12 ===================

