@font-face {
  font-family: 'MyriadProReg';
  src: url('fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/MyriadPro-Regular/MyriadPro-Regular.otf')  format('opentype'),
	     url('fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'), url('fonts/MyriadPro-Regular/MyriadPro-Regular.ttf')  format('truetype'), url('fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
}

@font-face {
  font-family: 'MyriadProLight';
  src: url('fonts/MyriadPro-Light/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/MyriadPro-Light/MyriadPro-Light.otf')  format('opentype'),
	     url('fonts/MyriadPro-Light/MyriadPro-Light.woff') format('woff'), url('fonts/MyriadPro-Light/MyriadPro-Light.ttf')  format('truetype'), url('fonts/MyriadPro-Light/MyriadPro-Light.svg#MyriadPro-Light') format('svg');
}

@font-face {
  font-family: 'MyriadProBold';
  src: url('fonts/MyriadPro-Bold/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/MyriadPro-Bold/MyriadPro-Bold.otf')  format('opentype'),
	     url('fonts/MyriadPro-Bold/MyriadPro-Bold.woff') format('woff'), url('fonts/MyriadPro-Bold/MyriadPro-Bold.ttf')  format('truetype'), url('fonts/MyriadPro-Bold/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
}

@font-face {
  font-family: 'MyriadProSemiBold';
  src: url('fonts/MyriadPro-Semibold/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),  url('fonts/MyriadPro-Semibold/MyriadPro-Semibold.otf')  format('opentype'),
	     url('fonts/MyriadPro-Semibold/MyriadPro-Semibold.woff') format('woff'), url('fonts/MyriadPro-Semibold/MyriadPro-Semibold.ttf')  format('truetype'), url('fonts/MyriadPro-Semibold/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueCyr-Bold';
    src: url('fonts/HalveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/HalveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('fonts/HalveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.ttf')  format('truetype'), url('fonts/HalveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLTStd-Bd';
    src: url('fonts/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),  url('fonts/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.otf')  format('opentype'),
    url('fonts/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.woff') format('woff'), url('fonts/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.ttf')  format('truetype'),
    url('fonts/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MinionPro-Regular';
    src: url('fonts/MinionPro-Regular/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/MinionPro-Regular/MinionPro-Regular.otf')  format('opentype'),
    url('fonts/MinionPro-Regular/MinionPro-Regular.woff') format('woff'), url('fonts/MinionPro-Regular/MinionPro-Regular.ttf')  format('truetype'), url('fonts/MinionPro-Regular/MinionPro-Regular.svg#MinionPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyr-Roman';
    src: url('fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),  url('fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.otf')  format('opentype'),
    url('fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.woff') format('woff'), url('fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.ttf')  format('truetype'), url('fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyr-Light';
    src: url('fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.otf')  format('opentype'),
    url('fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff') format('woff'), url('fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.ttf')  format('truetype'), url('fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyr-Medium';
    src: url('fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),  url('fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.otf')  format('opentype'),
    url('fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.woff') format('woff'), url('fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.ttf')  format('truetype'), url('fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
//******Fonts Variables

$myriadproreg : MyriadProReg, sans-serif;
$myriadprolight : MyriadProLight, sans-serif;
$myriadprobold : MyriadProBold, sans-serif;
$myriadprosemibold : MyriadProSemiBold, sans-serif;
$halveticaneuecyrbold : HelveticaNeueCyr-Bold, sans-serif;
$helveticaneueltstdbd : HelveticaNeueLTStd-Bd, sans-serif;
$helveticaneuecyr-roman : HelveticaNeueCyr-Roman, sans-serif;
$helveticaneuecyr-light : HelveticaNeueCyr-Light, sans-serif;
$helveticaneuecyr-medium : HelveticaNeueCyr-Medium, sans-serif;
$minionpro-regular : MinionPro-Regular, sans-serif;
