.footer {
  background: #000;
  min-height: 69px;
  .container {
    padding: 14px 48px 0;
  }
  ul {
    // display: inline-block;
    li {
      display: inline-block;
      position: relative;
      a {
        color: #fff;
        text-decoration: none;
        font-size: 13px;
        letter-spacing: 0.2px;
        margin-right: 26px;
      }
      &:nth-child(1),
      &:nth-child(2) {
        a {
          position: relative;
          &:after {
            content: '';
            width: 1px;
            height: 12px;
            background-color: #d1d1d1;
            position: absolute;
            top: 1px;
            right: -15px;
          }
        }
      }
    }
  }
  .copyright {
    color: #e3cbaa;
    text-decoration: none;
    font-size: 13px;
    margin-top: 7px;
    display: inline-block;
    letter-spacing: 0.1px;
  }
  .footer-logo {
    float: right;
    position: relative;
    left: 25px;
    top: 2px;
  }
  @media (max-width: map-get($grid-breakpoints, sm)) {
    .container {
      padding: 14px 0.9375rem 0;
      ul {
        li {
          display: block;
          margin-bottom: 5px;
          a {
            &:after {
              display: none;
            }
          }
        }
      }
      .footer-logo {
        float: none;
        left: -19px;
      }
    }
  }
}
