//Colors
$cherryred: #8a2037;
$infografic-color: #8a430d;
//****
body {
  font-family: $myriadproreg;
}

header {
  background-color: #000;
  font-family: $myriadproreg;

  .red-label {
    height: 36px;
    background-color: #ea1f26;

    .find-more {
      position: relative;
      line-height: 36px;
      letter-spacing: 1.1px;
      // margin-left: 37px;
      &:after {
        content: '';
        width: 13px;
        height: 9px;
        position: absolute;
        right: -15px;
        top: 0;
        background: url(../img/arrow-white.png) no-repeat;
      }
    }

    .logo-mini {
      float: right;
      position: relative;
      top: 5px;
      right: 33px;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
  }

  >.container {
    height: 41px;
  }

  .menu {
    padding: 0 36px 0 0;

    ul {
      &.left {
        float: left;

        a {
          margin-right: 23px;
        }

        a.club {
          &:before {
            content: '';
            width: 19px;
            height: 10px;
            background: url(../img/bone.png) no-repeat;
            display: inline-block;
            margin-right: 14px;
          }
        }
      }

      &.right {
        position: relative;
        float: right;

        li {
          &:first-child {
            a {
              white-space: nowrap;
              width: 53px;
              overflow: hidden;
              text-overflow: ellipsis;
              margin-bottom: -16px;
            }
          }
        }

        a {
          // margin-left: 10px;
        }

        &:before {
          content: '';
          position: absolute;
          top: 9px;
          left: -55px;
          height: 21px;
          width: 1px;
          background-color: #575757;
        }

        @media (max-width: map-get($grid-breakpoints, xl)) {
          &:before {
            left: -5px;
          }
        }
      }

      li {
        display: inline-block;

        a {
          text-transform: uppercase;
          padding: 15px 0 12px;
          display: inline-block;
          letter-spacing: 0.4px;
        }
      }
    }
  }

  @media (max-width: map-get($grid-breakpoints, lg)) {
    >.container {
      height: 46px;

      .menu-btn {
        display: inline-block;
        margin-top: 14px;

        span {
          display: block;
          background-color: #fff;
          height: 2px;
          width: 26px;
          margin-bottom: 5px;
          transition: 0.2s ease;
          position: relative;
          top: 0;
        }

        &.active {
          span:nth-child(1) {
            transform: rotateZ(45deg);
            top: 9px;
          }

          span:nth-child(2) {
            opacity: 0;
          }

          span:nth-child(3) {
            transform: rotateZ(-45deg);
            top: -5px;
          }
        }
      }

      .menu {
        display: none;
        z-index: 100;
        position: absolute;
        left: 0;
        box-sizing: border-box;
        background: #000;
        max-height: none;

        ul {
          display: block;
          width: 100%;
          float: none;
          background-color: #000;

          &.right {
            a {
              margin-left: 0;
              padding-left: 10px;
            }

            &::before {
              display: none;
            }
          }

          li {
            display: block;
            a{
              @media (max-width:991px){
                padding-left: 15px;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: map-get($grid-breakpoints, md)) {
    .red-label {
      height: auto;
      text-align: center;
      padding-bottom: 10px;

      .container {
        a {
          float: none;
          margin-left: 0;
          right: auto;
          line-height: normal;
        }
      }
    }
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    .red-label {
      .container {
        .find-more {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}
