.lk-wrap {
  .lk-btn {
    font-family: $myriadprolight;
    font-size: 16px;
    display: inline-block;
    background: $cherryred;
    text-align: center;
    color: #f7d9bd;
    text-decoration: none;
    border-radius: 3px;
    width: 144px;
    height: 26px;
    box-sizing: border-box;
    padding-top: 3px;
    margin-right: 36px;
    position: relative;
    top: -1px;

    &:hover {
      opacity: 0.7;
      transition: 0.2s ease;
    }

    @media (max-width: map-get($grid-breakpoints, sm)) {
      &.enter,
      &.register {
        display: block;
        margin: 0 auto 15px !important;
      }
    }
  }

  >.container {
    border-top: 1px solid #dcaa9b;
    padding-top: 1px;
    position: relative;

    &:after {
      content: '';
      width: 62px;
      height: 69px;
      background: url(../img/flag.png) no-repeat;
      position: absolute;
      top: -1px;
      right: 9px;
      z-index: 1;
    }

    .sidebar {
      padding-top: 71px;
      padding-left: 16px;
      box-sizing: border-box;
      position: relative;
      min-height: 552px;

      >ul {
        list-style-type: none;
        position: relative;
        z-index: 10;

        >li {
          margin-bottom: 3px;
          border: 1px solid #fefcfb;
          background: #8a2037;
          box-shadow: 0 4px 5px 0 rgba(47, 24, 4, 0.24);
          border-radius: 7px;

          &.open {
            background: #4b040c;

            ul.dropdown-body {
              display: block;
              // height: 200px;
              // overflow-y: hidden !important;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;

              @media (max-width: 991px) {
                // height: auto;
                // overflow-x: inherit !important;
                li {
                  a {
                    padding: 12px 30px 6px 19px;
                  }
                }
              }
            }
          }

          >a {
            display: block;
            box-sizing: border-box;
            width: 100%;
            min-height: 32px;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 13px;
            // padding: 11px 28px 4px; old after photo-gallery page
            padding: 11px 15px 4px 18px;
            letter-spacing: 0.9px;

            &:hover {
              color: #E6B6B6;
            }

            &.show-drop {
              position: absolute;
              top: 0;
              right: 0;
              width: 39px;
              border-left: 1px solid #fff;

              &.active {
                &:after {
                  transform: rotateZ(180deg);
                }
              }

              &:after {
                content: '';
                width: 12px;
                height: 7px;
                position: absolute;
                background: url(../img/white-arrow.png) no-repeat;
                top: 12px;
                right: 12px;
              }
            }
          }

          &.dropdown {
            position: relative;

            >a {
              // &.active {
              //   &:after {
              //     transform: rotateZ(180deg);
              //   }
              // }
              //
              // &:after {
              //   content: '';
              //   width: 12px;
              //   height: 7px;
              //   position: absolute;
              //   background: url(../img/white-arrow.png) no-repeat;
              //   top: 12px;
              //   right: 12px;
              // }
            }

            .dropdown-body {
              display: none;
              width: 100%;
              list-style-type: none;
              background: #fdf5ef;
              position: relative;
              // &:after {
              //   content: '';
              //   width: 100%;
              //   height: 5px;
              //   background-color: #fdf5ef;
              //   position: absolute;
              //   bottom: -4px;
              //   left: 0;
              //   border-bottom-left-radius: 7px;
              //   border-bottom-right-radius: 7px;
              // }
              li {
                // margin-bottom: 3px;
                border-top: 1px solid #dcc2aa;

                a {
                  font-size: 13px;
                  color: #000;
                  text-decoration: none;
                  text-transform: uppercase;
                  display: block;
                  z-index: 10;
                  font-family: Arial;
                  padding: 12px 30px 6px 37px;
                  border-top: 0.1em solid rgba(0,0,0,0);

                  &:hover {
                    opacity: 0.5;
                  }
                }
              }
            }
          }
        }
      }

      @media (max-width: map-get($grid-breakpoints, lg)) {
        padding-top: 10px;
      }

      @media (max-width: map-get($grid-breakpoints, md)) {
        padding-top: 70px;
        min-height: 1px !important;
      }
    }
    //****************LK BODY*********************
    .lk-body {
      padding: 0;

      .head-wrap {
        padding-top: 24px;
        margin-bottom: 13px;
        position: absolute;
        width: 100%;

        @media (max-width: map-get($grid-breakpoints, lg)) {
          position: relative;
        }

        .welcome {
          display: inline-block;
          font-size: 16px;
          color: #8a2037;
          font-style: italic;
          letter-spacing: 0.3px;
          margin-left: 15px;
          margin-right: 93px;

          @media (max-width: map-get($grid-breakpoints, md)) {
            margin-right: 15px;
          }
        }

        .mail-icon-logout {
          float: right;
          position: relative;
          right: 92px;
          top: -9px;

          @media (max-width: map-get($grid-breakpoints, md)) {
            right: 15px;
            // top: 0;
            float: none;
            text-align: right;

            &.unreg-user {
              right: 0;
              text-align: center;
            }
          }

          @media (max-width: map-get($grid-breakpoints, lg)) {
            top: 0;
          }

          @media (max-width: map-get($grid-breakpoints, sm)) {
            .lk-btn {
              margin-right: -6px;
            }
          }
        }

        .mail-logo {
          display: inline-block;
          position: relative;
          transition: 0.2s ease;
          top: 6px;
          margin-right: 33px;

          &:after {
            content: '';
            width: 32px;
            height: 24px;
            background: url(../img/mail-icon.png) no-repeat;
            background-position: 0 0;
            display: block;
          }

          &.active {
            span {
              color: $cherryred;
              border-color: $cherryred;
            }

            &:after {
              background-position: -38px 0;
            }
          }

          span {
            position: absolute;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            border: 1px solid #e3cbb2;
            color: #e3cbb2;
            box-sizing: border-box;
            background-color: #fbebdd;
            text-align: center;
            padding-top: 3px;
            font-size: 13px;
            right: -11px;
            top: -7px;
          }

          &:hover {
            opacity: 0.5;
            transition: 0.2s ease;
          }

          @media (max-width: map-get($grid-breakpoints, lg)) {
            margin-left: 17px;
          }
        }

        .logout {
          display: inline-block;
          text-decoration: none;
          text-transform: uppercase;
          font-family: Arial;
          font-weight: bold;
          color: $cherryred;
          font-size: 13px;

          &:hover {
            border-bottom: 1px solid;
          }
        }
      }
      // User Info Wrap
      .user-info {
        padding: 0;
        margin-bottom: 32px;

        .submit {
          display: inline-block;
          font-size: 14px;
          padding: 6px 15px 2px;
          cursor: pointer;
        }

        .border-wrap {
          background-color: rgba(255, 255, 255, 0.102);
          box-shadow: 2.5px 4.33px 10px 0 rgba(0, 0, 0, 0.1);
          border: 1px solid #fff;
          // padding: 15px 18px 34px;
          padding: 15px 18px 0;
          border-radius: 8px;
          position: relative;
        }

        .personal-info {
          .you {
            color: $cherryred;
            font-size: 24px;
            margin-bottom: 12px;
          }

          .user-cart {
            .photo-wrap {
              width: 21.5%;

              input[type=file] {
                opacity: 0;
              }

              p.error-msg {
                margin-bottom: 15px;
                left: 10px;
                top: -7px;
                text-align: center;
              }

              @media (max-width: map-get($grid-breakpoints, lg)) {
                width: inherit;
                margin-bottom: 15px;
              }
            }

            .load-photo {
              display: block;
              border-style: solid;
              border-width: 7px;
              border-color: rgb(255, 255, 255);
              background-color: rgb(212, 212, 212);
              box-shadow: 2.517px 3.109px 10px 0 rgba(0, 0, 0, 0.15);
              width: 135px;
              height: 135px;
              position: relative;
              text-align: center;
              text-decoration: none;
              overflow: hidden;
              cursor: pointer;

              span {
                font-size: 14px;
                color: #737373;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                bottom: 33px;
              }
              // &:after {
              //   content: '';
              //   width: 32px;
              //   height: 28px;
              //   background: url(../img/camera.png) no-repeat;
              //   position: absolute;
              //   top: 36px;
              //   left: 0;
              //   right: 0;
              //   margin: auto;
              // }
              input {
                position: absolute;
                display: block;
                width: 100%;
                opacity: 0;
                z-index: 11;
                cursor: pointer;
                height: 117%;
                top: -25px;
              }

              img {
                display: block;
                position: absolute;
                max-width: 100%;
                width: 100%;
                height: auto;
                z-index: 10;
              }

              @media (max-width: map-get($grid-breakpoints, xl)) {
                width: 120px;
                height: 120px;
              }

              @media (max-width: map-get($grid-breakpoints, lg)) {
                img {
                  position: relative;
                }

                input {
                  top: -20px;
                }
              }
            }

            .form-group {
              margin-bottom: 14px;

              .jq-selectbox {
                margin-left: 10px;
                width: 100% !important;
                font-size: 13px;

                .jq-selectbox__select {
                  height: 26px;
                  background: none;
                  background-color: rgb(249, 246, 243);
                  border-bottom: none;

                  .jq-selectbox__select-text {
                    font-size: 13px;
                    color: #111111;
                    position: relative;
                    bottom: 2px;
                  }

                  .jq-selectbox__select-text.placeholder {
                    min-width: 77px;
                  }

                  .jq-selectbox__trigger {
                    @include linear-gradient(to top, #f1d7ad, #fff);
                    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.21);
                    width: 24px;
                    height: 27px;

                    .jq-selectbox__trigger-arrow {
                      border-top: 4px solid #8c0a27;
                      border-right: 4px solid transparent;
                      border-left: 4px solid transparent;
                      top: 13px;
                      right: 8px;
                    }
                  }
                }

                @media (max-width: map-get($grid-breakpoints, lg)) {
                  margin-left: 0;
                }
              }

              &.has-error {
                .jq-selectbox {
                  .jq-selectbox__select {
                    border: 1px solid #e91212;
                  }
                }
              }
            }

            .label-right {
              a {
                white-space: nowrap;
                text-decoration: none;
                color: $cherryred;
                font-size: 14px;
                position: absolute;
                bottom: -145px;
                right: -21px;
                letter-spacing: 0.2px;
                font-family: $myriadprobold;
                text-transform: uppercase;

                &:after {
                  content: '';
                  width: 186px;
                  height: 1px;
                  background: url(../img/underline.png) no-repeat;
                  position: absolute;
                  bottom: -2px;
                  left: -3px;
                }
              }

              img {
                position: absolute;
                top: -56px;
                right: -21px;
              }

              @media (max-width: map-get($grid-breakpoints, lg)) {
                position: absolute;
                right: 50px;
                top: 56px;
              }

              @media (max-width: map-get($grid-breakpoints, sm)) {
                width: 50%;

                a {
                  width: 70%;
                  white-space: normal;
                  text-align: center;
                  bottom: -130px;

                  &:after {
                    display: none;
                  }
                }

                img {
                  display: block;
                  max-width: 65%;
                }
              }
            }
          }
        }
      }

      .show-more {
        color: $cherryred;
        font-size: 14px;
        font-family: $myriadprobold;
        text-decoration: none;
        position: relative;
        top: -6px;
        margin-left: 56px;

        &:before {
          content: '';
          width: 24px;
          height: 24px;
          background: url(../img/plus.png) no-repeat;
          position: absolute;
          bottom: -4px;
          left: -35px;
        }

        &:after {
          content: '';
          width: 100%;
          height: 1px;
          background: url(../img/underline.png) no-repeat;
          position: absolute;
          bottom: -2px;
          left: 0;
        }

        &:hover {
          opacity: 0.9;
        }
      }

      .pet.user-info {
        .submit {
          display: inline-block;
          font-size: 14px;
          padding: 6px 15px 2px;
          cursor: pointer;
          margin-top: 20px;
        }

        .border-wrap {
          margin-top: 0;
        }

        .personal-info {
          .you {
            margin-bottom: 15px;
          }

          .left {
            .jq-selectbox {
              margin-left: 0;
              width: 106% !important;

              @media (max-width: map-get($grid-breakpoints, lg)) {
                width: 100% !important;
              }
            }
          }
        }

        .recomend {
          padding-left: 10px;
          position: relative;
          top: 14px;

          a {
            display: inline-block;
            width: 25%;
            text-align: center;
            float: left;

            img {
              display: block;
              transform: scale(0.8);
              opacity: 0.5;
              max-width: 100%;
            }

            &.active {
              img {
                transform: scale(1);
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

.form-group input {
  width: 106%;
  // height: 34px;
  height: 26px;
  padding: 5px 10px;
  background-color: rgb(249, 246, 243);
  border: 0;
  border-left: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.35);
  font-size: 13px;
  color: #111111;
  box-sizing: border-box;

  @include placeholder {
    color: #2D2D2D;
  }

  @media (max-width: map-get($grid-breakpoints, lg)) {
    width: 100%;
  }
}

.form-group.has-error {
  input,
  textarea,
  .jq-selectbox.jqselect .jq-selectbox__select {
    border: 1px solid #e91212;
  }

  .jq-selectbox.jqselect .jq-selectbox__select {
    box-sizing: content-box;
    padding: 1px 45px 0 10px;
    overflow: hidden;
    border-bottom-color: #e91212;
  }

  p.error-msg {
    display: block;
  }

  .select2-container--default .select2-selection--single {
    border: 1px solid #e91212;
    border-radius: 3px;
    box-sizing: border-box;
    // height: 28px;
    height: 100%;
  }
}

p.error-msg {
  font-size: 12px;
  color: #f24646;
  left: 4px;
  top: 4px;
  position: relative;
}
// .load-photo {
//   >div {
//     display: table;
//     height: 135px;
//     width: 100%;
//     @media (max-width: map-get($grid-breakpoints, xl)) {
//       height: 120px;
//     }
//   }
//
//   .has-error {
//     p.error-msg {
//       display: table-cell;
//       vertical-align: middle;
//     }
//   }
// }
.img-sidebar {
  position: absolute;
  // bottom: 0;
  // left: -292px;
  top: 295px;
  right: 9px;
  width: 278px;
  min-height: 300px;

  .dogs-sidebar {
    max-width: 278px;
    max-height: 294px;
    display: block;
    margin: 0 auto;
  }

  .packs-sidebar {
    position: absolute;
    bottom: 4px;
    z-index: 10;
  }

  @media (max-width: map-get($grid-breakpoints, md)) {
    display: none;
  }
}
//Custom Select Styles
.custom-select {
  .jq-selectbox {
    margin-left: 6px;
    width: 180px !important;
    font-size: 13px;

    .jq-selectbox__select {
      height: 26px;
      background: none;
      background-color: rgb(249, 246, 243);
      border-bottom: none;

      .jq-selectbox__select-text {
        font-size: 13px;
        color: #111111;
        position: relative;
        bottom: 2px;
      }

      .jq-selectbox__select-text.placeholder {
        min-width: 77px;
      }

      .jq-selectbox__trigger {
        @include linear-gradient(to top, #f1d7ad, #fff);
        box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.21);
        width: 24px;
        height: 27px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;

        .jq-selectbox__trigger-arrow {
          border-top: 4px solid #8c0a27;
          border-right: 4px solid transparent;
          border-left: 4px solid transparent;
          top: 13px;
          right: 8px;
        }
      }
    }

    @media (max-width: map-get($grid-breakpoints, lg)) {
      width: 100% !important;

      .jq-selectbox__select-text.placeholder {
        width: 77px !important;
        overflow: hidden;
      }
    }
  }
}
//Mail List Begin
.mail-list {
  &.border-wrap {
    background-color: rgba(255, 255, 255, 0.102);
    box-shadow: 2.5px 4.33px 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    padding: 0 18px;
    border-radius: 8px;
    position: relative;
    // overflow-x: hidden;
  }

  .title {
    border-bottom: 1px solid $cherryred;
    margin: 14px 0 0;
    padding: 0 3px 7px;

    .msg-info {
      color: $cherryred;
      font-size: 24px;
      font-family: $myriadproreg;
      text-transform: none;
      float: left;

      span {
        font-size: 14px;
        display: inline-block;
        margin-left: 1px;
      }
    }

    .back-btn {
      float: right;
      text-decoration: none;
      text-transform: none;
      font-size: 14px;
      color: $cherryred;
      position: relative;
      margin-top: 8px;

      &:after {
        content: '';
        width: 18px;
        height: 16px;
        position: absolute;
        top: -2px;
        left: -35px;
        background: url(../img/back-arrow.png) no-repeat;
      }
    }

    @media (max-width: map-get($grid-breakpoints, sm)) {
      .msg-info {
        float: none;
      }
    }
  }

  .sort-wrap {
    padding: 12px 0;

    .left {
      float: left;
    }

    .right {
      float: right;
    }

    .chose-msg {}

    .sort {
      margin-right: 5px;
    }

    @media (max-width: map-get($grid-breakpoints, lg)) {
      .sort,
      .chose-msg {
        width: 40% !important;
      }
    }
  }

  .mail-list {
    margin-top: 2px;

    table {
      width: 101%;
      position: relative;
      left: -3px;

      tr {
        font-family: $myriadprolight;
        // background: rgba(0,0,0,0.05);
        border-bottom: 1px solid #fbeee0;
        height: 71px;

        a {
          text-decoration: none;
          color: #000;
        }

        &:last-child {
          border-bottom: none;
        }

        &.unread {
          font-family: $myriadprosemibold;
          background: none;
        }

        td {
          padding-top: 17px;

          @media (max-width: map-get($grid-breakpoints, lg)) {
            padding-top: 8px;
            padding-bottom: 8px;
          }
        }

        .marker {
          width: 58px;
          text-align: right;

          .jq-checkbox {
            width: 23px;
            height: 23px;
            top: -4px;
            left: -1px;
            border-radius: 2px;
            background-color: rgb(255, 255, 255);
            box-shadow: inset 0.5px 0.866px 1px 0 rgba(0, 0, 0, 0.21);
          }

          .jq-checkbox.checked .jq-checkbox__div {
            width: 21px;
            height: 21px;
            margin: 1px 0 0 2px;
            position: relative;
            left: 12px;
          }
        }

        .from {
          padding-left: 12px;
          padding-right: 12px;
          letter-spacing: 0.2px;
        }

        .subject {
          letter-spacing: 0.3px;

          @media (max-width: map-get($grid-breakpoints, lg)) {
            padding-left: 5px;
          }
        }
      }
    }
  }
}
//Pagination
.pagination {
  margin-top: 9px;
  position: absolute;
  right: 17px;
  bottom: -29px;

  .wrap {
    float: right;
    padding-right: 10px;
    color: $cherryred;
    font-size: 18px;
    letter-spacing: 0.3px;

    >div {
      display: inline-block;
    }
  }

  a {
    display: inline-block;
    @include linear-gradient(to top, #f1d7ad, #fff);
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.21);
    width: 24px;
    height: 27px;
    margin-right: -1px;
    position: relative;
    top: 6px;

    &:hover {
      opacity: 0.6;
      transition: 0.2s ease;
    }

    .trigger-arrow {
      display: inline-block;
      top: 10px;
      right: 10px;
      position: absolute;
    }

    &.prev {
      margin-left: 10px;

      .trigger-arrow {
        @include triangle(9px 5px, $cherryred, left);
      }
    }

    &.next {
      .trigger-arrow {
        @include triangle(9px 5px, $cherryred, right);
      }
    }
  }
}

.social-wrap {
  //***
  border-top: 1px solid #dcc2aa;
  //***
  text-align: right;
  padding-top: 14px;
  // position: absolute;
  // bottom: 0;
  // right: 17px;
  // left: 20px;
  a {
    position: relative;
    text-decoration: none;
    color: #dcc2aa;
    margin-left: 12px;

    &:hover {
      opacity: 0.6;
      transition: 0.2s ease;
    }

    &:before {
      content: '';
      width: 16px;
      height: 13px;
      background: url(../img/sharing-icons.png) no-repeat;
      display: inline-block;
      background-position: 0 0;
    }

    &.likes {
      &:before {
        margin-right: 1px;
      }
    }

    &.repost {
      &:before {
        background-position: -16px 0;
        margin-right: 2px;
      }
    }

    &.coment {
      &:before {
        background-position: -34px 0;
        margin-right: 8px;
      }
    }

    span {
      text-align: center;
    }
  }

  .like-article {
    float: left;
    font-family: Arial;
    font-size: 14px;
    color: #000;
    margin-left: 7px;
    letter-spacing: -0.1px;

    @media (max-width: map-get($grid-breakpoints, lg)) {
      width: 50%;
      text-align: left;
    }

    @media (max-width: map-get($grid-breakpoints, sm)) {
      float: none;
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }
}
//Message open, Detail styles
.msg-detail {
  .title {
    margin-top: 17px;
    padding: 0 8px;
    border-color: #e2cab1;

    span {
      font-family: $myriadprosemibold;
      font-size: 20px;
      color: #000;
      display: inline-block;
      text-transform: none;
      padding-bottom: 12px;
    }

    .right {
      float: right;

      @media (max-width: map-get($grid-breakpoints, sm)) {
        float: none;
        text-align: right;
      }
    }

    a {
      position: relative;
      display: inline-block;
      width: 25px;
      height: 26px;
      background: none;

      &:after {
        content: '';
        width: 25px;
        height: 26px;
        display: inline-block;
        background: url(../img/mail-detail-sprite.png) no-repeat;
      }

      &.remove {
        top: 2px;

        &:after {
          background-position: 0 0;
        }
      }

      &.cancel {
        &:after {
          background-position: -46px 0;
        }

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }

  .msg-body {
    .to {
      margin: 15px 9px;
    }

    .msg-text {
      font-size: 13px;
      font-family: Arial;
      padding: 0 11px;
    }
  }
}

.answer {
  margin-top: 66px;
  padding: 0 7px;

  >span {
    margin-left: 13px;
    letter-spacing: 1px;
    margin-bottom: 8px;
    display: inline-block;
  }

  form {
    textarea {
      width: 100%;
      resize: vertical;
      min-height: 130px;
    }

    .fileinput {
      position: relative;
      margin: 19px 0 16px 45px;

      input[type=file] {
        opacity: 0;
        position: absolute;
        border: 1px solid;
        left: -39px;
        width: 150px;
        height: 51px;
        top: -19px;
        cursor: pointer;
        z-index: 1;
      }

      >span {
        position: absolute;
        font-family: $myriadprolight;
        font-size: 14px;
        color: #383838;
        z-index: 0;
      }

      &:after {
        content: '';
        width: 16px;
        height: 32px;
        background: url(../img/input-file.png)no-repeat;
        position: absolute;
        top: -7px;
        left: -31px;
      }

      @media (max-width: map-get($grid-breakpoints, sm)) {
        float: none;
        margin-bottom: 50px;
      }
    }

    .btn-gold {
      font-size: 14px;
      width: 192px;
      height: 43px;
      box-sizing: border-box;
      padding: 15px 0;
      margin-bottom: 20px;
      cursor: pointer;
    }
  }

  .left {
    float: left;
  }

  .right {
    float: right;
    margin-top: 7px;

    @media (max-width: map-get($grid-breakpoints, sm)) {
      float: none;

      button {
        margin: 0 auto 30px;
        display: block;
      }
    }
  }
}
//Mail List End
//Articles List Begin
.articles {
  padding-top: 15px;
  // padding-left: 15px;
  // padding-right: 15px;
  .title {
    font-family: $myriadprobold;
    font-size: 24px;
    color: $cherryred;
    margin: 0 0 9px;
    padding: 1px 0 0 24px;
    letter-spacing: -0.4px;
  }

  .social-wrap {
    position: absolute;
    bottom: 0;
    right: 17px;
    left: 20px;
  }

  .art-preview {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding-right: 24px;
    padding-bottom: 30px;
    padding-left: 18px;
    margin-bottom: 22px;
    position: relative;

    .image-prev {
      border: 7px solid #fff;
      box-shadow: 2.517px 3.109px 10px 0 rgba(0, 0, 0, 0.15);
      max-width: 100%;
      height: auto;
    }

    .title-prev {
      font-family: $myriadprosemibold;
      font-size: 20px;
      color: $cherryred;
      text-transform: uppercase;
      margin: 13px 7px;
      letter-spacing: 0.3px;
      display: block;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .prev-text {
      font-size: 13px;
      color: #4d4d4d;
      // border-bottom: 1px solid #dcc2aa;
      padding: 0 4px 12px;
      letter-spacing: 0.6px;
      line-height: 18px;
    }

    @media (max-width: map-get($grid-breakpoints, sm)) {
      width: 100%;
      text-align: center;
    }
  }
}
//Articles List End
.article {
  .border-wrap {
    padding: 15px 20px 31px;
    margin-bottom: 25px;
    margin-top: 58px;
  }

  .social-wrap {
    border-top: 1px solid #dcc2aa;
    position: relative;
    left: 0;
    right: 0;
  }

  .title {
    padding: 5px 0 0 2px;
    letter-spacing: -0.6px;
  }

  .article-body {
    p {
      font-size: 13px;
      line-height: 18px;
      color: #4d4d4d;
      padding: 0 4px 12px;
      letter-spacing: 0.6px;
      margin-bottom: 9px;

      img {
        max-width: 100%;
        height: auto !important;
      }

      a {
        color: $cherryred;

        &:hover {
          text-decoration: none;
        }
      }

      strong {
        >span {
          color: $cherryred;
        }
      }
    }

    .image {
      border: 7px solid #fff;
      box-shadow: 2.517px 3.109px 10px 0 rgba(0, 0, 0, 0.15);
      max-width: 100%;
      height: 100%;
      margin-bottom: 5px;
      box-sizing: border-box;

      &.image-left {
        float: left;
        margin-right: 25px;
      }

      &.image-right {
        float: right;
        margin-left: 25px;
      }

      @media (max-width:991px) {
        &.image-left,
        &.image-right {
          float: none;
          margin: 0 auto 5px;
          display: block;
        }
      }
    }
  }

  .comments {
    padding-top: 29px;
    padding-bottom: 11px;

    .title {
      margin-bottom: 0;
    }

    .comment-body {
      .name {
        font-family: $myriadprobold;
        font-size: 18px;
        margin: 15px 4px 0;
        text-transform: uppercase;
      }

      .date {
        font-size: 13px;
        color: #4d4d4d;
        margin-left: 6px;
        margin-bottom: 9px;
      }

      .comment-text {
        font-size: 13px;
        color: #4d4d4d;
        line-height: 18px;
        padding: 0 5px;
        letter-spacing: 0.6px;
        margin-bottom: 22px;
      }

      .answer {
        margin-top: 36px;

        >span {
          font-size: 18px;
          font-family: $myriadprosemibold;
          color: $cherryred;
          margin-left: 9px;
          letter-spacing: -0.1px;
        }

        .fileinput {
          width: 117px;
        }
      }
    }
  }
}
//Lk Main Page Begin
.lk-main-page {
  .lk-body {
    .container.head-wrap {
      padding-top: 14px;
      margin-bottom: 0;

      @media (max-width: map-get($grid-breakpoints, lg)) {
        padding-top: 32px;
      }
    }
  }

  .lk-body {
    .head-wrap {
      .mail-icon-logout.unreg-user {
        top: 0;
      }
    }
  }

  .lk-main-body-wrap {
    padding-top: 38px;
    margin-top: 49px;

    @media (max-width: map-get($grid-breakpoints, lg)) {
      padding-top: 10px;
      margin-top: 20px;
    }

    &:after {
      background: none;
    }

    >.row {
      >.lk-blocks {
        margin-bottom: 36px;

        >div {
          // height: 415px;
          height: 100%;
          padding: 17px 15px;
          box-sizing: border-box;
        }

        &:nth-child(2n) {
          padding-right: 0;
          padding-left: 10px;
        }

        &:nth-child(2n+1) {
          padding-left: 0;
          padding-right: 10px;
          clear: both;
        }

        @media (max-width: map-get($grid-breakpoints, xl)) {
          &:nth-child(2n),
          &:nth-child(2n+1) {
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
    }

    .border {
      box-shadow: 2.5px 4.33px 10px 0 rgba(0,0,0,0.1);
      border: 1px solid #fff;
      border-radius: 8px;
      position: relative;
    }

    .border-bg {
      background: #fdf4ec;
      box-shadow: 2.5px 4.33px 10px 0 rgba(0,0,0,0.1);
      border: 1px solid #fff;
      border-radius: 8px;
      position: relative;
    }

    .wrap-title {
      font-family: $myriadprobold;
      font-size: 24px;
      color: $cherryred;
      text-transform: uppercase;
      margin-bottom: 8px;
      letter-spacing: 0.3px;
    }

    .sub-title {
      font-family: $myriadprobold;
      font-size: 20px;
      color: $cherryred;
      text-transform: uppercase;
      margin-bottom: 8px;
      letter-spacing: 0.3px;
    }

    .wrap-foot {
      // padding-top: 22px;
      a {
        font-family: $myriadprosemibold;
        font-size: 14px;
        color: $cherryred;
        position: relative;
        text-decoration: none;

        &.right {
          float: right;
        }

        &.left {
          float: left;
        }

        &:after {
          content: '';
          width: 100%;
          height: 1px;
          background: url(../img/underline.png) no-repeat;
          position: absolute;
          bottom: -2px;
          left: 0;
        }
      }

      .border-foot {
        border-top: 1px solid #f6e4c6;
        position: absolute;
        width: 91%;
        bottom: 18px;
      }
    }
    //*************************************
    .photos {
      .wrap-title {
        margin-left: 1px;
      }

      .wrap-body {
        .photo-link {
          width: 33%;
          float: left;
          // margin-bottom: 15px;
          margin-top: 24px;
          margin-bottom: 43px;
          text-align: center;

          >div {
            position: relative;
            width: 135px;
            height: 135px;
            overflow: hidden;
            display: block;
            float: none;
            margin: 0 auto;
            @include aspect-ratio(50,50);

            img {
              // position: absolute;
              // top: 0;
              // right: 0;
              // bottom: 0;
              // left: 0;
              // margin: auto;
              // width: 100%;
              // max-width: 100%;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              margin: auto;
              // max-width: 100%;
              // max-height: 100%;
              // width: auto;
              height: 100%;
              width: auto;
            }

            @media (max-width: map-get($grid-breakpoints, xl)) {
              width: 120px;
              height: 120px;
              box-sizing: border-box;
            }

            @media (max-width: map-get($grid-breakpoints, lg)) {
              width: 89%;
              height: 33%;
              box-sizing: border-box;
            }
          }
        }
      }
    }
    //*************************************
    .articles {
      .wrap-title {
        margin-left: 7px;
      }

      .wrap-body {
        padding: 0 9px;
        margin-bottom: 12px;

        img {
          margin-bottom: 17px;
        }

        .preview {
          color: #4d4d4d;
          font-size: 13px;
          line-height: 18px;
          letter-spacing: 0.8px;
        }
      }

      .wrap-foot {
        padding: 0 9px;
        margin-top: 5px;

        .border-foot {
          padding-top: 13px;
        }
      }
    }
    //*************************************
    .fact {
      .wrap-title {
        padding: 5px 14px;
        margin-bottom: 4px;
      }

      .sub-title {
        padding: 0 5px;
      }

      .wrap-body {
        padding: 0 9px;
        margin-bottom: 12px;

        img {
          margin-bottom: 17px;
        }

        .preview {
          color: #4d4d4d;
          font-size: 13px;
          line-height: 18px;
          letter-spacing: 0.8px;
        }
      }

      .wrap-foot {
        padding: 0 9px;

        .border-foot {
          padding-top: 13px;
        }
      }
    }
    //*************************************
    .dog-info {
      padding: 22px 15px;

      .wrap-title {
        margin-bottom: 50px;
      }

      .wrap-body {
        p {
          img {
            display: block;
            margin: 0 auto;
          }
        }

        .info {
          background: url(../img/border-wrap-lk.png) no-repeat;
          width: 525px;
          height: 100px;
          position: relative;
          left: -25px;
          margin-top: 13px;
          margin-bottom: -10px;

          span {
            font-family: $myriadprobold;
            font-size: 24px;
            color: $cherryred;
            text-transform: uppercase;
          }

          .left {
            float: left;
            margin-top: 33px;
            margin-left: 109px;
          }

          .right {
            float: right;
            margin-top: 33px;
            margin-right: 39px;
            text-align: right;
          }

          @media (max-width: map-get($grid-breakpoints, xl)) {
            width: 100%;
            background-size: 100%;
            left: 0;

            span {
              font-size: 18px;

              &.left,
              &.right {
                margin-top: 28px;
              }

              &.left {
                margin-left: 90px;
              }

              &.right {
                margin-right: 20px;
              }
            }
          }

          @media (max-width: map-get($grid-breakpoints, lg)) {
            width: 100%;
            background-size: 100%;
            left: 0;

            span {
              font-size: 14px;

              &.left {
                margin-left: 21%;
                margin-top: 7%;
              }

              &.right {
                margin-right: 6%;
                margin-top: 7%;
              }
            }
          }

          @media (max-width: map-get($grid-breakpoints, sm)) {
            span {
              font-size: 12px;
            }
          }
        }

        .image-text {
          .info-photo {
            float: left;
            margin-left: -28px;
            width: 55%;
          }

          .some-info {
            font-family: $myriadproreg;
            color: #353535;
            font-style: italic;
            font-size: 16px;
            margin-top: 65px;
            width: 45%;
            float: right;

            span {
              font-family: $myriadprosemibold;
              font-style: italic;
              color: $cherryred;
              display: inline-block;
              margin-bottom: 20px;
            }

            @media (max-width: map-get($grid-breakpoints, lg)) {
              margin-top: 10%;
            }

            @media (max-width: map-get($grid-breakpoints, sm)) {
              margin-top: 0;
            }
          }
        }
      }

      .wrap-foot {
        a {
          // float: right;
          // margin-top: 41px;
          position: absolute;
          bottom: 21px;
          right: 18px;
        }
      }
    }
  }
}

.jq-selectbox {
  // z-index: 1 !important;
}
//Lk Main Page End
a.remove {
  height: 19px;
  width: 19px;
  display: inline-block;
  background: url(../img/close-pop.png) no-repeat;
  position: absolute;
  top: 16px;
  right: 15px;

  &:hover {
    opacity: 0.6;
  }
}
//Select Search 2
.select-style-search {
  width: 106%;
}

.select2-container {
  // width: 106% !important;
}

.select2-container--default {
  // height: 35px;
  .select2-selection--single {
    height: 85%;
    background: none;
    background-color: #f9f6f3;
    border: 1px solid #CCC;
    box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
    border-bottom: none;

    .select2-selection__arrow b {
      border-color: #8C0A27 transparent transparent transparent;
    }

    .select2-selection__rendered {
      padding-left: 10px;
      line-height: 28px;
      color: #111111;
      font-size: 13px;
      font-family: Arial;

      .select2-selection__placeholder {
        color: #111111;
        font-size: 13px;
        font-family: Arial;
        line-height: 28px;
      }
    }

    .select2-selection__arrow {
      background-color: #f1d7ad;
      background-image: linear-gradient(to top,#f1d7ad, #fff);
      box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.21);
      width: 24px;
      // height: 26px;
      height: 100%;
      border-left: 1px solid #CCC;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;

      b {
        border-top: 4px solid #8c0a27;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        top: 13 px;
        right: 8px;
      }
    }
  }
}

.pop-up {
  .select2-container--default {
    min-height: 35px;

    &.select2-container--open {
      width: 106% !important;
    }

    .selection {
      height: 100%;
    }

    .select2-selection__rendered {
      line-height: 34px;
      height: 35px;
    }
  }

  .form-group.has-error {
    .select2-selection__arrow {
      height: 95%;
    }
  }
}

.select2-results__option[aria-selected] {
  font-size: 14px;
}

.select2-container {
  // width: 106% !important;
  @media (max-width: map-get($grid-breakpoints, lg)) {
    // width: 100% !important;
  }
}

.select2-container.select2-container--open {
  // width: inherit !important;
  .select2-container--open .select2-dropdown--below {
    // width: 100% !important;
  }
}

.select2-results__message {
  display: none;
}
//Body overflow fix
body.select-fix {
  overflow-x: hidden;
}
// Small dods infografic
.small-dogs {
  padding-top: 52px;

  .title {
    text-align: center;
    font-family: $myriadprobold;
    font-size: 48px;

    span {
      font-family: $myriadprolight;
      display: block;
    }

    @media (max-width: map-get($grid-breakpoints, sm)) {
      font-size: 30px;

      span {
        font-size: 26px;
      }
    }
  }

  .sub-title {
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .head-facts {}

  .head-image {
    .small-dogs-logo {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }

    .read-more {
      display: block;
      margin: 30px auto;
      padding: 10px 30px 6px;
      font-size: 14px;
      width: 100px;
    }
  }

  .info-wrap {
    padding-left: 15px;
    padding-right: 15px;

    .title {
      font-size: 30px;
      text-align: left;
      padding-left: 55px;
      position: relative;

      &:before {
        content: '';
        @include position(absolute,0 null 0 0);
        margin: auto;
      }

      &:nth-of-type(1) {
        &:before {
          @include sprite($icon-3);
        }
      }

      &:nth-of-type(2) {
        &:before {
          @include sprite($icon-2);
        }
      }

      &:nth-of-type(3) {
        &:before {
          @include sprite($icon-4);
        }
      }

      &:nth-of-type(4) {
        &:before {
          @include sprite($icon-5);
        }
      }

      &:nth-of-type(5) {
        &:before {
          @include sprite($icon-1);
        }
      }
    }

    @media (max-width: map-get($grid-breakpoints, md)) {
      .title {
        font-size: 18px;
      }
    }
  }
}

.all-articles {
  padding: 10px 15px 8px;
  margin: 0 0 25px;
}

.style-select {
  width: 165px;

  +.select2-container {
    width: 165px !important;
  }

  @media (max-width: map-get($grid-breakpoints, xl)) {
    width: 145px;

    +.select2-container {
      width: 145px !important;
    }
  }

  @media (max-width: map-get($grid-breakpoints, lg)) {
    width: 221px;

    +.select2-container {
      width: 221px !important;
    }
  }

  @media (max-width: map-get($grid-breakpoints, md)) {
    width: 100% !important;

    +.select2-container {
      width: 100% !important;
    }
  }
}

.pop-up {
  &.register {
    .form-group {
      .select-style-search {
        width: 252px;

        +.select2-container {
          width: 252px !important;
        }

        @media (max-width: map-get($grid-breakpoints, xl)) {
          width: 251px !important;

          +.select2-container {
            width: 251px !important;
          }
        }

        @media (max-width: map-get($grid-breakpoints, lg)) {
          width: 237px !important;

          +.select2-container {
            width: 237px !important;
          }
        }

        @media (max-width: 635px) {
          width: 100% !important;

          +.select2-container {
            width: 100% !important;
          }
        }
      }
    }
  }
}

.select2-dropdown--below {
  top: -29px;
  /*your input height*/
}

input[disabled="disabled"] {
  background: #BFBFBE;
}

.article-sidebar {
  .sidebar {
    .img-sidebar {
      // top: 618px;
      top: auto;
      bottom: -307px;
    }
  }
}

.share {
  float: left;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 485px;
  height: 481px;
  position: relative;
  margin: 0 0 0 30px;
  background: url(../img/block-more-bg.png) no-repeat center center;

  p {
    font-size: 24px;
    line-height: 1;
    font-family: $myriadprolight;
    font-weight: 300;
    color: rgb(129, 16, 41);
    margin: 37px 0 0 40px;
    line-height: 1.2;
    text-transform: uppercase;

    b {
      font-family: $myriadprobold;
    }
  }

  a {
    font-size: 14px;
    width: 170px;
    padding: 12px 0 10px;
    margin-left: 40px;
    margin-top: 18px;
  }

  img {
    display: block;
    margin: 36px 38px;
  }
}

.bone {
  padding: 15px;
  display: none;

  .text {
    text-align: left;
    font-family: $myriadprolight;

    ul {
      margin-left: 18px;
    }
  }
}


.register * {
    box-sizing: border-box;
}
