//**********Pop UPs***************************

.pop-ups {
  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    z-index: 105;
    display: none;
  }

  .pop-up {
    text-align: center;
    border-radius: 10px;
    background: #e0c4ab;
    box-shadow: 0.523px 4.973px 16px 0 rgba(0, 0, 0, 0.18);
    background-image: url(../img/glare.png);
    background-attachment: fixed;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 340px;
    z-index: 110;

    .form-group {
      select {
        // width: 1px !important;
      }

      input {
        height: 35px;
      }
      .checkbox {
        input {
          height: 16px;
          box-shadow: none;
          width: inherit;
        }
      }

      .jq-selectbox__dropdown {
        margin: 0;
      }
    }

    a.close {
      height: 19px;
      width: 19px;
      display: inline-block;
      background: url(../img/close-pop.png) no-repeat;
      position: absolute;
      top: 16px;
      right: 15px;

      &:hover {
        opacity: 0.6;
      }
    }

    .title-pop-up {
      font-size: 18px;
      color: $cherryred;
      margin-bottom: 21px;

      span {
        font-family: $myriadprosemibold;
      }
    }

    .error-msg {
      display: none;
    }

    form {
      .form-group {
        position: relative;
      }
    }

    p.error-msg {
      font-size: 12px;
      color: #f24646;
      left: 4px;
      top: 4px;
      position: relative;
    }
  }

  .congrat,
  .welcome-club {
    width: 490px;
    padding: 28px 0 25px;
    display: none;

    .title-pop-up {
      margin-bottom: 32px;

      span {
        font-size: 40px;
        text-transform: uppercase;
        line-height: 30px;
      }
    }

    img {
      display: block;
      margin: 0 auto 13px;
      max-width: 100%;
    }

    .foot-title {
      color: $cherryred;
      font-family: $myriadprosemibold;
      font-size: 24px;

      span {
        font-family: $myriadprolight;
        font-size: 18px;
        display: block;
      }
    }
  }

  .faq-question {
    width: 670px;
    padding: 45px 0 25px;
    display: none;

    .title-pop-up {
      font-size: 24px;
      text-transform: uppercase;
      width: 80%;
      margin: 0 auto 28px;

      &:last-of-type {
        margin-bottom: 0;
      }

      @media (max-width: 635px ) {
        width: 100%;
        font-size: 20px;
      }
    }

    img {
      display: block;
      margin: 0 auto 13px;
      max-width: 100%;
    }
  }

  .plz-sign-in {
    width: 670px;
    padding: 45px 0 0;
    display: none;

    .title-pop-up {
      text-transform: uppercase;
      font-family: $myriadprosemibold;
      font-size: 24px;
    }

    .buttons {
      margin-bottom: 10px;

      a {
        font-size: 14px;
        width: 190px;
        padding: 12px 0 8px;
        box-sizing: border-box;
        margin: 0 42px 15px;
      }
    }

    img {
      display: block;
      float: right;
      margin-right: 80px;
      max-width: 100%;

      @media (max-width: 635px ) {
        float: none;
        margin: 0 auto 13px;
      }
    }
  }

  .social-share {
    width: 670px;
    padding: 46px 0 74px;
    display: none;

    .title-pop-up {
      font-size: 24px;
      text-transform: uppercase;
      font-family: $myriadprosemibold;
      letter-spacing: -0.2px;
      margin-bottom: 47px;
    }

    .socials {
      a {
        width: 86px;
        height: 38px;

        &:before {
          content: '';
          width: 86px;
          height: 38px;
          background: url(../img/social-sprite.png) no-repeat;
          display: inline-block;
        }

        &.fb {
          &:before {
            background-position: 0 0;
          }
        }

        &.vk {
          &:before {
            background-position: -91px 0;
          }
        }

        &.ok {
          &:before {
            background-position: -180px 0;
          }
        }

        &:hover {
          opacity: 0.7;
          transition: 0.2s ease;
        }
      }
    }
  }

  .repair-password,
  .resend-email-confirm,
  .change-pop {
    padding-top: 47px;
    padding-left: 17px;
    box-sizing: border-box;
    height: 498px;
    display: none;

    &.change-pass {
      height: auto;
      min-height: 643px;
    }

    &:after {
      content: '';
      width: 171px;
      height: 196px;
      background: url(../img/repair-bg.png) no-repeat;
      position: absolute;
      bottom: 32px;
      right: 14px;
    }

    form {
      width: 71%;
      margin: 0 auto;
      text-align: left;

      label {
        text-align: left;
        display: block;
        font-size: 14px;
        color: #6c6b6b;
        margin-left: 4px;

        span {
          color: #f11a1a;
        }
      }

      .form-group input {
        width: 84%;
        // height: 26px;
        padding: 5px 10px;
        // background-color: rgb(249, 246, 243);
        // border: 0;
        // border-left: 1px solid #ccc;
        // border-radius: 3px;
        // box-shadow: inset 0 1px 2px rgba(0,0,0,0.35);
        // font-size: 18px;
        @media (max-width: map-get($grid-breakpoints, sm)) {
          width: 100%;
          box-sizing: border-box;
          height: 38px;
        }
      }

      button[type=submit] {
        font-size: 14px;
        padding: 14px 37px 10px;
        cursor: pointer;
        display: block;
        margin-top: 35px;
        margin-left: 18px;
        position: relative;
        z-index: 10;
      }
    }
  }
  //Confirm Email Pop Up Begin****************************************************
  .confirm-email {
    width: 605px;
    padding: 44px 0 0;
    min-height: 414px;
    display: none;

    &:after {
      content: '';
      width: 240px;
      height: 240px;
      background: url(../img/confirm.png) no-repeat;
      position: absolute;
      bottom: 32px;
      right: 0;
      left: 0;
      margin: auto;
    }

    a.close {
      right: 21px;
    }

    .title-pop-up {
      font-size: 25px;
      text-transform: uppercase;
      letter-spacing: -0.8px;

      span {
        font-size: 25px;
      }
    }
  }
  //Confirm Email Pop Up End****************************************************
  //Check Repair Email Pop Up Begin*********************************************
  .check-email,
  .regular-pop-up {
    width: 605px;
    padding: 44px 0 0;
    min-height: 414px;
    display: none;

    &:after {
      content: '';
      width: 261px;
      height: 262px;
      background: url(../img/check.png) no-repeat;
      position: absolute;
      bottom: 32px;
      right: 0;
      left: 0;
      margin: auto;
    }

    .title-pop-up {
      font-size: 25px;
      text-transform: uppercase;
      letter-spacing: -0.8px;
      font-family: $myriadprolight;

      span {
        font-size: 25px;
      }
    }
  }

  .regular-pop-up {
    min-height: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;

    &:after {
      display: none;

    }
  }
  //Check Repair Email Pop Up End***********************************************
  //Enter Club Begin************************************************************
  .enter-club {
    width: 342px;
    padding: 44px 0 0;
    min-height: 535px;
    display: none;

    &:after {
      content: '';
      height: 225px;
      background: url(../img/dog-left.png) no-repeat;
      position: absolute;
      bottom: 11px;
      right: 0;
      left: -60px;
      margin: auto;
    }

    .title-pop-up {
      font-size: 30px;
      font-family: $myriadprolight;
      text-transform: uppercase;
      margin-bottom: 19px;
      letter-spacing: -0.6px;
    }

    form {
      width: 62%;
      margin: 0 auto;
      text-align: left;

      label {
        text-align: left;
        display: block;
        font-size: 14px;
        color: #6c6b6b;
        margin-left: 4px;

        span {
          color: #f11a1a;
        }
      }

      input {
        // width: 90%;
        // height: 26px;
        // padding: 5px 10px;
        // background-color: rgb(249, 246, 243);
        // border: 0;
        // border-left: 1px solid #ccc;
        // border-radius: 3px;
        // box-shadow: inset 0 1px 2px rgba(0,0,0,0.35);
        // font-size: 18px;
      }

      button[type=submit] {
        font-size: 14px;
        padding: 14px 37px 10px;
        cursor: pointer;
        display: block;
        margin: 20px auto 0 15px;
        width: 81%;
        position: relative;
        z-index: 10;
      }

      .form-group {
        margin-bottom: 14px;

        &:nth-last-of-type(2) {
          margin-bottom: 5px;
        }
      }

      .forget-pass {
        text-decoration: none;
        color: #5c5c5c;
        font-size: 12px;
        border-bottom: 1px solid;
        display: inline-block;
        line-height: 8px;
      }
    }
  }
  //Enter Club End**************************************************************
  //Register Club Begin*********************************************************
  .register {
    width: 590px;
    padding: 44px 57px 0;
    min-height: 728px;
    box-sizing: border-box;
    display: none;

    &:after {
      content: '';
      width: 280px;
      height: 410px;
      background: url(../img/register.png) no-repeat;
      position: absolute;
      bottom: 128px;
      right: 25px;
      margin: auto;
      z-index: -1;
    }

    a.close {
      top: 15px;
      right: 52px;
    }

    .title-pop-up {
      font-size: 30px;
      font-family: $myriadprolight;
      text-transform: uppercase;
      margin-bottom: 29px;
      letter-spacing: -0.6px;
    }

    form {
      width: 50%;
      text-align: left;

      .form-group {
        margin-bottom: 14px;

        &.has-error {
          .jq-selectbox.jqselect.js-select-dog .jq-selectbox__select {
            border: 1px solid #e91212;
          }
        }

        &:last-child {
          margin-top: 44px;
        }
      }

      label {
        text-align: left;
        display: block;
        font-size: 14px;
        color: #6c6b6b;
        margin-left: 4px;

        span {
          color: #f11a1a;
        }
      }

      .rule {
        margin-bottom: 45px;

        label {
          font-size: 12px;
        }
      }
      // .form-group input,
      select {
        // width: 81%;
        height: 26px;
        padding: 5px 10px;
        background-color: rgb(249, 246, 243);
        border: 0;
        border-left: 1px solid #ccc;
        border-radius: 3px;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.35);
        font-size: 18px;
      }

      select {
        width: 90%;
      }

      button[type=submit] {
        font-size: 14px;
        padding: 14px 0 10px;
        cursor: pointer;
        display: block;
        margin-top: 35px;
        margin-left: 140px;
        margin-bottom: 20px;
        width: 202px;
        text-align: center;

        @media (max-width: map-get($grid-breakpoints, sm)) {
          margin: 0 auto;
        }
      }
      //Form styler custom styles
      .jq-selectbox.jqselect.js-select-dog {
        width: 106%;
        box-sizing: border-box;
        margin-bottom: -4px;

        .jq-selectbox__select {
          margin-top: 5px;
          padding: 2px 45px 2px 10px;
          background: none;
          background-color: #f9f6f3;
          border: 0;
          border-left: 1px solid #ccc;
          border-radius: 3px;
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.35);

          .jq-selectbox__trigger {
            border: none;
          }
        }

        .jq-selectbox__trigger-arrow {
          top: 16px;
          border-top: 5px solid #cdaf93;
        }
      }
    }
  }
  //Main page lk begin
  .main-page-lk {
    width: 672px;
    background: url(../img/pop-slider.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 54px;
    display: none;

    .title-pop-up {
      text-transform: uppercase;
      font-family: $myriadprosemibold;
      margin-top: 34px;
      font-size: 24px;
    }

    .slider-wrap {
      width: 509px;
      display: block;
      margin: 0 auto;

      .slick-next {
        overflow: visible;
        &:before {
          content: '';
          width: 132px;
          height: 157px;
          position: absolute;
          background: url(../img/slider-next.png);
          top: -69px;
          right: -49px;
          opacity: 0.3;
          // z-index: -1;

        }
      }

      .slick-prev {
        overflow: visible;
        &:before {
          content: '';
          width: 132px;
          height: 157px;
          position: absolute;
          background: url(../img/slider-prev.png);
          top: -69px;
          left: -49px;
          opacity: 0.3;
          // z-index: -1;
        }
      }

      .slick-slider .slick-list {
        border: 1px solid #fdefdc;
        border-radius: 12px;
        z-index: 1;
        height: 325px;
      }

      .slick-dots li button {
        padding: 0;
        width: 16px;
        height: 16px;

        &:before {
          content: '';
          background: #fff;
          opacity: 1;
          border-radius: 50%;
          width: 16px;
          height: 16px;
        }
      }

      .slick-dots li.slick-active {
        button {
          &:before {
            background-color: $cherryred;
          }
        }
      }

      .slick-dots {
        bottom: -51px;
        left: -9px;
      }
    }
  }
  //Main page lk end
  @media (max-width: 635px ) {
    .pop-up {
      width: 95%;
      box-sizing: border-box;
    }
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    .pop-up,
    .pop-up.repair-password,
    .pop-up.resend-email-confirm,
    .pop-up.confirm-email,
    .pop-up.check-email,
    .pop-up.enter-club,
    .pop-up.register {
      overflow: hidden;
      height: auto;
      min-height: auto;
      padding: 44px 15px;

      &:after {
        display: none;
      }

      form {
        width: 100%;

        input {
          width: 100%;
          box-sizing: border-box;
          height: 38px;
        }

        .jq-selectbox.jqselect.js-select-dog {
          width: 100%;
        }
      }
    }

    .pop-up.register {
      button[type=submit] {
        position: relative;
      }
    }

    .pop-up.repair-password,
    .pop-up.resend-email-confirm, {
      button[type=submit] {
        margin: 35px auto 0;
      }
    }
  }
  //Register Club End***********************************************************
}
