@@include('../chunks/head.html')
</head>

<body>

  <div id="page-wrapper" class="page-wrapper">
    @@include('../chunks/pop-ups.html') @@include('../chunks/header.html')
    <div id="page-body" class="page-body">
      @@include('../chunks/title.html')
      <div class="container">
        <div class="row">
          @@include('../chunks/infografica-detail-8.html')
        </div>
      </div>
    </div>

    @@include('../chunks/footer.html')

  </div>


  <!-- scripts
___________________________________________________________________________-->

  @@include('../chunks/scripts.html')
</body>

</html>
