<section class="lk-wrap">
  <div class="container">
    <div class="row">
      <div class="sidebar block col-md-3">

        <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div>

        <ul>
          <li><a href="#">Инфографика</a></li>
          <li class="dropdown open">
            <a href="#" class="js-show-dropdown active">Статьи</a>
            <ul class="dropdown-body">
              <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
              <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
              <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
              <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
            </ul>
          </li>
          <li><a href="#">Факты</a></li>
          <li><a href="#">Фото маленьких собак</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>

      </div>

      <div class="col-md-9 lk-body">
        <div class="container head-wrap">
          <div class="row">
            <div class="welcome">
              Здравствуйте,
              <span class="name">Ирина</span>!
            </div>

            <div class="mail-icon-logout">
              <a href="#" class="lk-btn">Личный кабинет</a>

              <a href="#" class="mail-logo active">
                <span>0</span>
              </a>

              <a href="#" class="logout">Выйти</a>
            </div>
          </div>
        </div>
        <!-- articles body -->

        <div class="container">
          <div class="row">
            <div class="articles article">
              <div class="list border-wrap">
                <div class="title">В какой физической форме моя собака?</div>

                <div class="article-body">
                  <img src="img/img1.jpg" alt="preview" title="article preview" width="335" height="135" class="image image-left">
                  <p>
                    <a href="#">Физическая форма</a> – важнейший фактор, который влияет на здоровье, активность и жизнерадостность собаки. Даже маленькие собачки – хищники по своей природе, и вес должен позволять им следовать инстинктам. Полнота животного
                    влияет на возможности его организма, и, помимо сложностей со здоровьем, может принести психологические проблемы. В этой статье мы поможем разобраться, в какой форме находится сейчас ваша собака и как поддерживать идеальный вес питомца.
                  </p>
                  <p>
                    Многие владельцы собак не готовы признать, что их питомец страдает ожирением, ведь каждый хозяин любит свою собаку несмотря ни на что. Тем не менее, эта проблема очень сильно влияет на здоровье животного, поэтому, чем скорее вы реально оцените ситуацию,
                    тем меньше негативных последствий она принесет.
                  </p>
                  <p>
                    Если у вас породистая собака, для уточнения информации о правильном весе всегда можно обратиться к стандартам породы. Некоторые породы склонны к ожирению больше других – это лабрадоры, ретриверы, бульдоги, бигли, таксы, немецкие овчарки, боксеры, ротвейлеры,
                    кокер спаниели, бассет хаунды, шелти и мопсы. Собаки мелких пород, как мы видим, к полноте практически не предрасположены, но также могут набрать вес из-за проблем с пищеварением, малой подвижности и чрезмерном кормлении. От переедания
                    часто страдают собаки, чьи хозяева не могут отказать питомцам в дополнительной порции или лакомстве. Угостить питомца, когда он так просит, кажется милым, но это приносит вред, особенно, если вы даете собаке еду «со стола».
                  </p>
                  <img src="img/img2.jpg" alt="preview" title="article preview" width="335" height="135" class="image image-right">
                  <p>
                    Осмотрите и ощупайте свою собаку: нет ли у нее жировых складок, насколько хорошо прощупываются ребра, легко ли она передвигается и прыгает, есть ли отдышка? Все это может являться признаками ожирения, с которыми нужно бороться. Соблюдая простые правила
                    питания и совершая регулярные прогулки, вы сможете убрать лишний вес и поддерживать хорошую физическую форму питомца. Взрослых собак следует кормить два раза в день, точно отмеряя порцию. Если вы кормите питомца сухим кормом, не рекомендуется
                    подкармливать собаку обычной едой. Давать животному пищу «со стола» запрещается, независимо от рациона (будь то сухой корм или «натуралка»).
                  </p>
                  <p>
                    Владельцы собак мелких пород часто пренебрегают прогулками с питомцем, но они очень важны, особенно, если ваша собака уже страдает от лишнего веса. Уделяйте прогулке хотя бы 30 минут в день.
                  </p>
                  <p>
                    Если ваша собака в преклонном возрасте, ее обмен веществ, вероятнее всего, замедлился, и для поддержания здорового веса мы советуем сменить корм на более легкий.
                  </p>
                  <p>
                    На вес животного также могут влиять различные заболевания, распознать которые в домашних условиях затруднительно. Поэтому, если вы полностью придерживаетесь режима питания и прогулок, но ваша собака все равно набирает вес, следует обратиться за помощью
                    к ветеринару.
                  </p>
                  <p>
                    Наблюдайте за животным и честно оценивайте его состояние и настроение. Это поможет распознать первые признаки потери здоровой физической формы и предотвратить заболевания, связанные с ожирением. Подходите к кормлению и прогулкам ответственно и помните
                    главное правило: если ваш питомец в отличной форме – он активный и жизнерадостный!
                  </p>
                </div>
                <a href="#" class="btn-gold all-articles">Все статьи</a>

                <div class="social-wrap">
                  <span class="like-article">Понравилась статья? Оставляй лайк или поделись с друзьями</span>
                  <a href="#" class="likes">
                    <span>1</span>
                  </a>
                  <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                    <span>1</span>
                  </a>
                  <a href="#" class="coment">
                    <span>0</span>
                  </a>
                </div>
              </div>

              <div class="comments border-wrap">
                <div class="title">Комментарии</div>
                <div class="comment-body">
                  <div class="name">Елена</div>
                  <div class="date">02.01.2016</div>
                  <div class="comment-text">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      <br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                      <br> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                      recently with desktop
                    </p>
                  </div>
                  <div class="social-wrap">
                    <a href="#" class="likes">
                      <span>1</span>
                    </a>
                    <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                      <span>1</span>
                    </a>
                    <a href="#" class="coment">
                      <span>0</span>
                    </a>
                  </div>

                  <div class="answer">
                    <span>Оставить коментарий</span>
                    <form action="">
                      <div class="form-group">
                        <textarea rows="8" cols="40"></textarea>
                      </div>
                      <div class="form-group left fileinput">
                        <span>прикрепить файл</span>
                        <input type="file" value="">
                      </div>
                      <div class="form-group right">
                        <button type="submit" class="btn-gold" name="button">отправить</button>
                      </div>
                    </form>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <!-- <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
