<section class="lk-wrap">
  <div class="container">
    <div class="row">
      <div class="sidebar block col-md-3">
        <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div>
        <ul>
          <li><a href="#">Инфографика</a></li>
          <li class="dropdown">
            <a href="#" class="">Статьи</a>
            <a href="#" class="js-show-dropdown show-drop"></a>
            <ul class="dropdown-body">
              <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
              <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
              <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
              <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
            </ul>
          </li>
          <li><a href="#">Факты</a></li>
          <li><a href="#">Фото маленьких собак</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>

      </div>

      <div class="col-md-9 lk-body">
        <div class="container head-wrap">
          <div class="row">
            <div class="welcome">
              Здравствуйте,
              <span class="name">Ирина</span>!
            </div>

            <div class="mail-icon-logout">
              <a href="#" class="lk-btn">Личный кабинет</a>

              <a href="#" class="mail-logo active">
                <span>0</span>
              </a>

              <a href="#" class="logout">Выйти</a>
            </div>
          </div>
        </div>
        <!-- articles body -->

        <div class="container ">
          <div class="row">
            <div class="articles border-wrap">
              <div class="list">
                <div class="title">Статьи</div>
                <div class="art-preview">
                  <img src="img/art-prev.jpg" alt="preview" title="article preview" width="335" height="135" class="image-prev">
                  <a href="article-detail-1.html" class="title-prev">В какой физической форме моя собака?</a>
                  <div class="prev-text">
                    Физическая форма – важнейший фактор, который влияет на здоровье, активность и жизнерадостность собаки. Даже маленькие собачки – хищники по своей природе, и вес должен позволять им следовать инстинктам. Полнота животного влияет на возможности его организма
                  </div>
                  <div class="social-wrap">
                    <a href="#" class="likes">
                      <span>1</span>
                    </a>
                    <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                      <span>1</span>
                    </a>
                    <a href="#" class="coment">
                      <span>0</span>
                    </a>
                  </div>
                </div>

                <div class="art-preview">
                  <img src="img/art-prev.jpg" alt="preview" title="article preview" width="335" height="135" class="image-prev">
                  <a href="article-detail-2.html" class="title-prev">Что должно быть в хорошем промышленном корме</a>
                  <div class="prev-text">
                    Все владельцы собак знают, что домашние питомцы так же уникальны, как и их хозяева.
                  </div>
                  <div class="social-wrap">
                    <a href="#" class="likes">
                      <span>1</span>
                    </a>
                    <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                      <span>1</span>
                    </a>
                    <a href="#" class="coment">
                      <span>0</span>
                    </a>
                  </div>
                </div>

                <div class="art-preview">
                  <img src="img/art-prev.jpg" alt="preview" title="article preview" width="335" height="135" class="image-prev">
                  <a href="article-detail-3.html" class="title-prev">Как подобрать питомцу подходящий корм?</a>
                  <div class="prev-text">
                    Существует два вида рациона для ваших домашних любимцев: сухой корм и так называемая «натуралка». Сухой корм – продукт, изготовленный в промышленных условиях, в котором заключены все необходимые для вашей собаки вещества, а «натуралка» – обычное питание
                  </div>
                  <div class="social-wrap">
                    <a href="#" class="likes">
                      <span>1</span>
                    </a>
                    <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                      <span>1</span>
                    </a>
                    <a href="#" class="coment">
                      <span>0</span>
                    </a>
                  </div>
                </div>

                <div class="art-preview">
                  <img src="img/art-prev.jpg" alt="preview" title="article preview" width="335" height="135" class="image-prev">
                  <a href="article-detail-4.html" class="title-prev">Как подобрать питомцу подходящий корм?</a>
                  <div class="prev-text">
                    Собаки мелких пород ввиду своей физиологии имеют некоторые отличия от более крупных собак. Эти отличия влияют на особенности их питания. Маленькие собаки растут и развиваются значительно быстрее своих крупных собратьев, у них ускоренный обмен веществ,
                  </div>
                  <div class="social-wrap">
                    <a href="#" class="likes">
                      <span>1</span>
                    </a>
                    <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                      <span>1</span>
                    </a>
                    <a href="#" class="coment">
                      <span>0</span>
                    </a>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="container pagination">
            <div class="row">
              <div class="wrap">
                <span>1</span> из
                <span>10</span>
                <a href="#" class="pag-btn prev">
                  <span class="trigger-arrow"></span>
                </a>
                <a href="#" class="pag-btn next">
                  <span class="trigger-arrow"></span>
                </a>
              </div>
            </div>
          </div>
          <!-- <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div> -->
        </div>
      </div>

    </div>
  </div>
</section>
