<section class="lk-wrap">
  <div class="container">
    <div class="row">
      <div class="sidebar block col-md-3">

        <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div>

        <ul>
          <li><a href="#">Инфографика</a></li>
          <li class="dropdown">
            <a href="#" class="js-show-dropdown">Статьи</a>
            <ul class="dropdown-body">
              <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
              <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
              <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
              <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
            </ul>
          </li>
          <li><a href="#">Факты</a></li>
          <li><a href="#">Фото маленьких собак</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>

      </div>

      <div class="col-md-9 lk-body">
        <div class="container head-wrap">
          <div class="row">
            <div class="welcome">
              Здравствуйте,
              <span class="name">Ирина</span>!
            </div>

            <div class="mail-icon-logout">
              <a href="#" class="lk-btn">Личный кабинет</a>

              <a href="#" class="mail-logo active">
                <span>0</span>
              </a>

              <a href="#" class="logout">Выйти</a>
            </div>
          </div>
        </div>
        <!-- articles body -->

        <div class="container">
          <div class="row">
          <div class="articles article">

              <div class="list border-wrap">
                <div class="title">Что должно быть в хорошем промышленном корме</div>

                <div class="article-body">
                  <img src="img/img1.jpg" alt="preview" title="article preview" width="335" height="135" class="image image-left">
                  <p>
                    Существует два вида рациона для ваших домашних любимцев: сухой корм и так называемая «натуралка». Сухой корм – продукт, изготовленный в промышленных условиях, в котором заключены все необходимые для вашей собаки вещества, а «натуралка» – обычное питание,
                    которое вы готовите для питомца сами. Заводя собаку, каждый делает выбор в пользу того или иного рациона, и на этой почве разворачивается большое количество споров. Если вы с опаской относитесь к сухому корму и сами готовите для своего
                    питомца, вам необходимо тщательно следить за составом пищи, что в домашних условиях практически невозможно. По этой причине ветеринары рекомендуют делать выбор в пользу промышленного корма.
                  </p>
                  <p>
                    Промышленный корм – сбалансированная замена домашнему рациону, ведь его состав разрабатывается учеными и сочетает в себе все необходимые вашему питомцу макронутриенты (белки, жиры и углеводы), а также витамины и минеральные вещества. Он разрабатывается
                    специально для конкретной породы и возраста, а также с учетом степени активности собаки, поэтому полностью удовлетворяет потребности домашних питомцев. Давайте рассмотрим состав качественного промышленного корма и узнаем, для чего
                    вашему питомцу нужны те или иные вещества.
                  </p>
                  <p>
                    В первую очередь следует отметить, что ингредиенты в составе кормов указываются в порядке убывания по их процентному содержанию, следовательно источник животного белка следует искать в начале списка.
                  </p>
                  <p>
                    Белок – важнейший строительный материал для организма, он ежедневно необходим вашим питомцам для здорового роста и развития, а также для поддержания иммунитета и формирования гормонального фона. При недостатке белка у собаки портится внешний вид шерсти,
                    животное теряет в весе, становится более подверженным различным заболеваниям.
                  </p>
                  <img src="img/img2.jpg" alt="preview" title="article preview" width="335" height="135" class="image image-right">
                  <p>
                    Растительные компоненты также необходимы для здоровья ваших питомцев, ведь овощи – источник клетчатки и витаминов. Клетчатка – это растительные волокна, которые очищают организм от шлаков и улучшают обмен веществ . Овощи могут содержаться в корме в виде
                    порошка или кусочков. Овощной порошок имеет меньшую ценность, чем кусочки, которые используются в более дорогих кормах для собак.
                  </p>
                  <p>
                    Помимо белков и овощей, в качественном корме должны содержаться жиры и злаки. Наиболее полезными считаются корма, в состав которых включены цельные зерна. Используя их, вы можете быть уверены, что в организм вашего питомца поступают необходимые углеводы
                    и пищевые волокна. Углеводы – главный источник энергии, они поддерживают активность животного в течение дня. При достаточном количестве углеводов организм черпает энергию именно из них, позволяя другим веществам выполнять свои функции.
                  </p>
                  <p>
                    Жиры, в свою очередь, содержат незаменимые жирные кислоты, которые способствуют усвоению витаминов и минералов, поэтому они обязательно должны присутствовать в рационе вашего питомца. Количество необходимых жиров зависит от возраста и активности вашей
                    собаки.
                  </p>
                  <p>
                    Внимание также стоит уделить и минеральным веществам, содержащимся в корме, таким как кальций, магний, натрий, железо, марганец, йод и селен. Каждое из этих веществ необходимо организму. Кальций укрепляет кости, а магний участвует в процессе построения
                    новых клеток. Эти два элемента тесно связаны между собой и должны присутствовать в корме в определенной пропорции. Натрий отвечает за водный баланс в организме, железо препятствует развитию анемии, а марганец укрепляет хрящевую ткань.
                    Йод поддерживает функции щитовидной железы и нормализует обмен веществ, селен борется с раковыми клетками и воспалениями.
                  </p>
                  <p>
                    Только присутствие всех необходимых минералов в составе корма может гарантировать здоровье вашего питомца. При выборе корма обязательно внимательно ознакомьтесь с его составом, ведь качественный корм способен избавить питомца от многих заболеваний, сделать
                    его более активным и жизнерадостным и продлить жизнь любимому другу!
                  </p>

                </div>

                <div class="social-wrap">
                  <span class="like-article">Понравилась статья? Оставляй лайк или поделись с друзьями</span>
                  <a href="#" class="likes">
                    <span>1</span>
                  </a>
                  <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                    <span>1</span>
                  </a>
                  <a href="#" class="coment">
                    <span>0</span>
                  </a>
                </div>
              </div>

              <div class="comments border-wrap">
                <div class="title">Комментарии</div>
                <div class="comment-body">
                  <div class="name">Елена</div>
                  <div class="date">02.01.2016</div>
                  <div class="comment-text">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      <br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                      <br> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                      recently with desktop
                    </p>
                  </div>
                  <div class="social-wrap">
                    <a href="#" class="likes">
                      <span>1</span>
                    </a>
                    <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                      <span>1</span>
                    </a>
                    <a href="#" class="coment">
                      <span>0</span>
                    </a>
                  </div>

                  <div class="answer">
                    <span>Оставить коментарий</span>
                    <form action="">
                      <div class="form-group">
                        <textarea rows="8" cols="40"></textarea>
                      </div>
                      <div class="form-group left fileinput">
                        <span>прикрепить файл</span>
                        <input type="file" value="">
                      </div>
                      <div class="form-group right">
                        <button type="submit" class="btn-gold" name="button">отправить</button>
                      </div>
                    </form>
                  </div>
                  <div class="clearfix"></div>

                </div>

              </div>
              <!-- <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
