<section class="lk-wrap">
  <div class="container">
    <div class="row">
      <div class="sidebar block col-md-3">
                <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div>
        <ul>
          <li><a href="#">Инфографика</a></li>
          <li class="dropdown">
            <a href="#" class="js-show-dropdown">Статьи</a>
            <ul class="dropdown-body">
              <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
              <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
              <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
              <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
            </ul>
          </li>
          <li><a href="#">Факты</a></li>
          <li><a href="#">Фото маленьких собак</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>

      </div>

      <div class="col-md-9 lk-body">
        <div class="container head-wrap">
          <div class="row">
            <div class="welcome">
              Здравствуйте,
              <span class="name">Ирина</span>!
            </div>

            <div class="mail-icon-logout">
              <a href="#" class="lk-btn">Личный кабинет</a>

              <a href="#" class="mail-logo active">
                <span>0</span>
              </a>

              <a href="#" class="logout">Выйти</a>
            </div>
          </div>
        </div>
        <!-- articles body -->

        <div class="container">
          <div class="row">
          <div class="articles article">
              <div class="list border-wrap">
                <div class="title">Как подобрать питомцу подходящий корм?</div>

                <div class="article-body">
                  <img src="img/img1.jpg" alt="preview" title="article preview" width="335" height="135" class="image image-left">
                  <p>
                    Все владельцы собак знают, что домашние питомцы так же уникальны, как и их хозяева. Не зря в последнее время выпускают большое количество различных кормов, предназначенных для определенных типов собак. Как же разобраться в том, что действительно необходимо
                    вашей собаке, и как выбрать подходящий для нее сухой корм? Начнем с того, что выбор корма зависит от размера вашего питомца. В этой статье мы рассмотрим виды кормов для маленьких собак.
                  </p>
                  <p>
                    Выбирая корм для маленького питомца, в первую очередь следует обратить внимание на возраст собаки. Если собака уже взрослая, нужно позаботиться о должном уходе. Чтобы предотвратить проблемы с зубами и деснами у домашних питомцев, производителями разработана
                    особая форма и консистенция гранул сухого корма, которая помогает удалять зубной налет и массирует десны. Хороший хозяин должен следить и за фигурой своего питомца, ведь в зрелом возрасте собака может стать менее подвижной. У маленьких
                    собак быстрый обмен веществ и небольшой объем желудка, соответственно, производители кормов для мелких пород должны заключить в небольшой порции корма определенное количество питательных веществ. Для поддержания правильного обмена
                    веществ в корме должно быть повышенное содержание белков и жиров. Их правильное соотношение не только позволяет корму хорошо усваиваться, но и поддерживает иммунитет животного. Зачастую для дополнительной защиты организма питомца производители
                    добавляют в состав корма антиоксиданты. Жиры, как животные, так и растительные, необходимы и для поддержания здоровья кожи и шерсти собаки. Жиры помогают усваиваться необходимым витаминам и питательным веществам, а жирные аминокислоты
                    хорошо влияют на качество шерсти и поддерживают естественные защитные функции кожи.
                  </p>
                  <p>
                    Далее необходимо оценить активность вашего питомца, ведь, если он непоседа, ему необходимо питание, которое компенсирует ежедневные энергозатраты. Для активных собак очень важно повышенное содержание правильных углеводов в корме, так как именно они обеспечивают
                    маленьких непосед энергией. Следите, чтобы в составе корма для активных собак были крупы и злаки. В том случае, если вы стали обладателем питомца, который всегда не прочь перекусить, нужно подобрать для него корм, не приводящий к набору
                    веса и перегрузке работы внутренних органов. Такой корм должен быть менее калорийным – содержать значительно меньше жира, чем обычный корм, и хорошо усваиваться. Правильно подобранный легкий корм позволит вашему питомцу не набирать
                    вес при увеличении порции или частых перекусах. Несмотря на пониженное количество жиров и меньшую калорийность, очень важно, чтобы этот корм содержал все необходимые для здоровья и бодрости питомца вещества. Не забывайте тщательно
                    проверять состав низкокалорийного корма перед покупкой.
                  </p>
                  <img src="img/img2.jpg" alt="preview" title="article preview" width="335" height="135" class="image image-right">
                  <p>
                    Если у вашей собаки проблемы с пищеварением, не стоит предлагать ей обычный корм, ведь она нуждается в специальном щадящем питании. Важно помнить, что у собак с чувствительным пищеварением может быть непереносимость стандартных компонентов сухих кормов.
                    Корма для питомцев с проблемами ЖКТ содержат пребиотики, которые улучшают пищеварение и способствуют образованию здоровой микрофлоры в желудочно-кишечном тракте.
                  </p>

                  <p>
                    Подведем итог. При выборе корма очень важно учесть все особенности вашего питомца: его возраст и активность, предпочтения и противопоказания. Только подобрав оптимальный рацион, вы можете быть уверены, что ваша собака живет полной жизнью, и ей хватает
                    всех необходимых питательных веществ.
                  </p>


                  <div class="clearfix"></div>

                </div>

                <div class="social-wrap">
                  <span class="like-article">Понравилась статья? Оставляй лайк или поделись с друзьями</span>
                  <a href="#" class="likes">
                    <span>1</span>
                  </a>
                  <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                    <span>1</span>
                  </a>
                  <a href="#" class="coment">
                    <span>0</span>
                  </a>
                </div>
              </div>

              <div class="comments border-wrap">
                <div class="title">Комментарии</div>
                <div class="comment-body">
                  <div class="name">Елена</div>
                  <div class="date">02.01.2016</div>
                  <div class="comment-text">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      <br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                      <br> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                      recently with desktop
                    </p>
                  </div>
                  <div class="social-wrap">
                    <a href="#" class="likes">
                      <span>1</span>
                    </a>
                    <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                      <span>1</span>
                    </a>
                    <a href="#" class="coment">
                      <span>0</span>
                    </a>
                  </div>

                  <div class="answer">
                    <span>Оставить коментарий</span>
                    <form action="">
                      <div class="form-group">
                        <textarea rows="8" cols="40"></textarea>
                      </div>
                      <div class="form-group left fileinput">
                        <span>прикрепить файл</span>
                        <input type="file" value="">
                      </div>
                      <div class="form-group right">
                        <button type="submit" class="btn-gold" name="button">отправить</button>
                      </div>
                    </form>
                  </div>
                  <div class="clearfix"></div>

                </div>

              </div>
              <!-- <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
