<section class="lk-wrap">
  <div class="container">
    <div class="row">
      <div class="sidebar block col-md-3">

        <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div>

        <ul>
          <li><a href="#">Инфографика</a></li>
          <li class="dropdown">
            <a href="#" class="js-show-dropdown">Статьи</a>
            <ul class="dropdown-body">
              <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
              <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
              <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
              <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
            </ul>
          </li>
          <li><a href="#">Факты</a></li>
          <li><a href="#">Фото маленьких собак</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>

      </div>

      <div class="col-md-9 lk-body">
        <div class="container head-wrap">
          <div class="row">
            <div class="welcome">
              Здравствуйте,
              <span class="name">Ирина</span>!
            </div>

            <div class="mail-icon-logout">
              <a href="#" class="lk-btn">Личный кабинет</a>

              <a href="#" class="mail-logo active">
                <span>0</span>
              </a>

              <a href="#" class="logout">Выйти</a>
            </div>
          </div>
        </div>
        <!-- articles body -->

        <div class="container">
          <div class="row">
          <div class="articles article">

              <div class="list border-wrap">
                <div class="title">ПИТАНИЕ, СПЕЦИАЛЬНО РАЗРАБОТАННОЕ ДЛЯ
                  ВАШЕЙ СОБАКИ МЕЛКОЙ ПОРОДЫ!</div>
                <div class="article-body">
                  <div class="row">
                    <div class="col-md-6">
                      <p>
                        Вне зависимости от своего роста и размера, все собаки мелких пород обладают ускоренным обменом веществ. Это значит, что ваш питомец сжигает полученные калории гораздо быстрее, чем собаки крупных пород, и очень важно не перекармливать питомца. Для правильного роста и развития собаке необходимы питательные белки, такие как говядина, курица или индейка, а витамины и минералы помогают укрепить иммунитет и способствуют поддержанию здоровья. Собакам мелких пород удобнее жевать, глотать и переваривать небольшие кусочки корма, мяса и овощей, а легко усваиваемые углеводы помогут поддерживать необходимый уровень энергии вашего питомца на протяжении всего дня.
                      </p>
                      <p>Конечно, все собаки разные, поэтому вам необходимо учитывать возраст, породу и уровень активности вашего </p>
                    </div>
                    <div class="col-md-6">
                      <p>питомца при выборе рациона.  Вы наверняка заметили, что у собак бывают свои особые предпочтения в еде – одни собаки любят вкусные хрустящие крокеты сухого корма, а другие предпочитают лакомиться влажным кормом и овощами. </p>
                      <p>Очень важно, чтобы рацион собаки был питательным и сбалансированным, состоящим из качественных продуктов. С правильным рационом вы увидите ощутимую разницу в состоянии здоровья вашего питомца. Purina One «Моя собака…» – это корм, адаптированный к потребностям вашей маленькой собаки.  Выбирая рацион, который полюбит ваш питомец, вы даете собаке все, что нужно для долгой и счастливой жизни.</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-lg-4" style="text-align: center;">
                          <p><img src="img/article_image_1.png" alt=""></p>
                        </div>
                        <div class="col-lg-8">
                          <h4 style="color:#690b1a;">Purina One <br />
                            «Моя собака… Уже взрослая»</h4>
                          <p>Большинство собак мелких пород полностью вырастает во взрослую собаку уже к возрасту одного года. И хотя рост и развитие вашей собаки прекратились, она по-прежнему нуждается в особом рационе для поддержания здоровья и активности. Этот тщательно сбалансированный корм содержит особое сочетание антиоксидантов и белка высокого качества для поддержания крепкого иммунитета у взрослых собак мелких пород.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-lg-4" style="text-align: center;">
                          <p><img src="img/article_image_2.png" alt=""></p>
                        </div>
                        <div class="col-lg-8">
                          <h4 style="color:#690b1a;">Purina One <br />
                            «Моя собака… Непоседа»</h4>
                          <p>Подвижные собаки мелких пород, таких как джек-рассел-терьер, чихуахуа или фокстерьер, обладают нескончаемым запасом энергии, поэтому их необходимо кормить
                            2-3 раза в день легко усваиваемым кормом. Этот вкусный и питательный корм обогащен белком высокого качества и служит источником углеводов для поддержания активного образа жизни
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-lg-4" style="text-align: center;">
                          <p><img src="img/article_image_3.png" alt=""></p>
                        </div>
                        <div class="col-lg-8">
                          <h4 style="color:#690b1a;">Purina One <br />
                            «Моя собака… Чувствительная»</h4>
                          <p>
                            Пищеварение собак мелких пород бывает очень чувствительным, и порой собакам тяжело переваривать некоторые виды пищи. Этот вкусный корм содержит натуральные пребиотики, которые улучшают пищеварение вашей собаки. Благодаря высокому содержанию жирных кислот Омега 3 и Омега 6и цинка в своем составе, он поддерживает кожу здоровой, а шерсть блестящей.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-lg-4" style="text-align: center;">
                          <p><img src="img/article_image_4.png" alt=""></p>
                        </div>
                        <div class="col-lg-8">
                          <h4 style="color:#690b1a;">Purina One <br />
                            «Моя собака… Любитель </h4>
                          <p>Порой даже несмотря на не очень активный образ жизни и лишний вес, некоторые собаки склонны к попрошайничеству лишней порции корма. В случае, если это похоже на вашу собаку, этот корм будет отличным выбором: он содержит на 40% меньше жира для снижения потребляемых калорий и поддержания оптимального веса, и все это – без ущерба для вкуса. </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="social-wrap">
                  <span class="like-article">Понравилась статья? Оставляй лайк или поделись с друзьями</span>
                  <a href="#" class="likes">
                    <span>1</span>
                  </a>
                  <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                    <span>1</span>
                  </a>
                  <a href="#" class="coment">
                    <span>0</span>
                  </a>
                </div>
              </div>

              <div class="comments border-wrap">
                <div class="title">Комментарии</div>
                <div class="comment-body">
                  <div class="name">Елена</div>
                  <div class="date">02.01.2016</div>
                  <div class="comment-text">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      <br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                      <br> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                      recently with desktop
                    </p>
                  </div>
                  <div class="social-wrap">
                    <a href="#" class="likes">
                      <span>1</span>
                    </a>
                    <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                      <span>1</span>
                    </a>
                    <a href="#" class="coment">
                      <span>0</span>
                    </a>
                  </div>

                  <div class="answer">
                    <span>Оставить коментарий</span>
                    <form action="">
                      <div class="form-group">
                        <textarea rows="8" cols="40"></textarea>
                      </div>
                      <div class="form-group left fileinput">
                        <span>прикрепить файл</span>
                        <input type="file" value="">
                      </div>
                      <div class="form-group right">
                        <button type="submit" class="btn-gold" name="button">отправить</button>
                      </div>
                    </form>
                  </div>
                  <div class="clearfix"></div>

                </div>

              </div>
              <!-- <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
