<section class="lk-wrap">
  <div class="container">
    <div class="row">
      <div class="sidebar block col-md-3">

        <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div>

        <ul>
          <li><a href="#">Инфографика</a></li>
          <li class="dropdown">
            <a href="#" class="js-show-dropdown">Статьи</a>
            <ul class="dropdown-body">
              <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
              <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
              <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
              <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
            </ul>
          </li>
          <li><a href="#">Факты</a></li>
          <li><a href="#">Фото маленьких собак</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>

      </div>

      <div class="col-md-9 lk-body">
        <div class="container head-wrap">
          <div class="row">
            <div class="welcome">
              Здравствуйте,
              <span class="name">Ирина</span>!
            </div>

            <div class="mail-icon-logout">
              <a href="#" class="lk-btn">Личный кабинет</a>

              <a href="#" class="mail-logo active">
                <span>0</span>
              </a>

              <a href="#" class="logout">Выйти</a>
            </div>
          </div>
        </div>
        <!-- articles body -->

        <div class="container">
          <div class="row">
            <div class="articles article">

              <div class="list border-wrap">
                <div class="title">Идеальная порция для маленькой собаки</div>

                <div class="article-body">
                  <img src="img/img1.jpg" alt="preview" title="article preview" width="335" height="135" class="image image-left">
                  <p>
                    Собаки мелких пород ввиду своей физиологии имеют некоторые отличия от более крупных собак. Эти отличия влияют на особенности их питания. Маленькие собаки растут и развиваются значительно быстрее своих крупных собратьев, у них ускоренный обмен веществ,
                    и иногда они бывают более избирательны в еде. Важно не только подобрать подходящий вашему питомцу корм, но и объем порции, который будет поддерживать вашу собаку в хорошей физической форме.
                  </p>
                  <p>
                    Объем порции сухого корма для маленькой собаки варьируется в зависимости от двух главных факторов – веса и активности вашего питомца.
                  </p>
                  <p>
                    Обычно производитель указывает необходимый объем порции, исходя из питательной ценности определенного корма и веса собаки. Питательная ценность порции напрямую зависит от качества сухого корма. Так, стандартная порция премиум-корма для маленькой собаки
                    составляет 150-300 грамм, в то время как как производители корма эконом-класса обычно рекомендуют порцию в 400 грамм. Таким образом, разница в цене зачастую компенсируется расходом корма.
                  </p>
                  <img src="img/img2.jpg" alt="preview" title="article preview" width="335" height="135" class="image image-right">
                  <p>
                    Активность – следующий важный показатель, на который мы обращаем внимание при расчете объема порции. Маленькие собаки могут быть очень активны в любом возрасте, поэтому нужно внимательно следить за весом и настроением вашего питомца. Непоседливой собаке
                    может потребоваться несколько больше корма, чем указывает производитель. Если же ваш питомец спокойный, неторопливый и склонен к набору веса – подумайте о сокращении порции. В любом случае, идеальный объем порции вы можете установить
                    только самостоятельно, наблюдая за поведением и самочувствием питомца. Но всегда помните, что собака может набирать вес из-за недостатка ежедневных прогулок, а не из-за размера порции. В этом случае следует просто увеличить время прогулок
                    и больше играть со своим питомцем!
                  </p>
                  <p>
                    Говоря о кормлении щенков мелких пород нужно помнить, что такие щенки часто развиваются быстрее, чем их собратья крупных пород. Значит, и необходимость в особо питательном корме для щенков может отпасть раньше, чем рекомендует производитель. Если вы заметили,
                    что ваш щенок начал набирать вес, возможно, вам стоит уменьшить порцию или предложить ему корм для взрослой собаки.
                  </p>
                  <p>
                    Здоровье вашего питомца полностью зависит от вас. Если вы внимательно следите за состоянием животного, его весом и активностью, вы без труда сможете подобрать нужный размер порции и корректировать его при необходимости.
                  </p>
                </div>

                <div class="social-wrap">
                  <span class="like-article">Понравилась статья? Оставляй лайк или поделись с друзьями</span>
                  <a href="#" class="likes">
                    <span>1</span>
                  </a>
                  <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                    <span>1</span>
                  </a>
                  <a href="#" class="coment">
                    <span>0</span>
                  </a>
                </div>
              </div>

              <div class="comments border-wrap">
                <div class="title">Комментарии</div>
                <div class="comment-body">
                  <div class="name">Елена</div>
                  <div class="date">02.01.2016</div>
                  <div class="comment-text">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      <br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                      <br> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                      recently with desktop
                    </p>
                  </div>
                  <div class="social-wrap">
                    <a href="#" class="likes">
                      <span>1</span>
                    </a>
                    <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                      <span>1</span>
                    </a>
                    <a href="#" class="coment">
                      <span>0</span>
                    </a>
                  </div>

                  <div class="answer">
                    <span>Оставить коментарий</span>
                    <form action="">
                      <div class="form-group">
                        <textarea rows="8" cols="40"></textarea>
                      </div>
                      <div class="form-group left fileinput">
                        <span>прикрепить файл</span>
                        <input type="file" value="">
                      </div>
                      <div class="form-group right">
                        <button type="submit" class="btn-gold" name="button">отправить</button>
                      </div>
                    </form>
                  </div>
                  <div class="clearfix"></div>

                </div>

              </div>
              <!-- <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
