<section class="club-navigation">
  <div class="container">
  </div>
</section>
<div class="main banner-wrap banner-2">
  <img src="img/banner-2.png" alt="" class="image">
  <div class="left-title">
    <span><b>100</b> новых
      <br> зарегистрировавшихся</span>
    <br> участников
    <br>
    <span> получат в подарок</span>
    <br> именной значок для своего питомца.
  </div>
  <a href="#" class="btn-gold">Вступить в клуб</a>
</div>
