<div class="share">
  <p>
    ПРОЙДИТЕ ТЕСТ И ВЫБЕРИТЕ
    <br>
    <b>ПЕРСОНАЛЬНЫЙ КОРМ <br>
ИМЕННО ДЛЯ ВАШЕГО ПИТОМЦА
</b>
  </p>
  <img src="img/share-bg.png" alt="">
  <a href="#" class="btn-gold">ПЕРЕЙТИ К ТЕСТУ</a>
</div>
