<section class="club-navigation">
  <div class="container">
  </div>
</section>

<div class="main banner-wrap banner-1">
  <img src="img/banner-1.png" alt="" class="image">
  <div class="left-title">
    <b>Вступайте в клуб</b>
    <br> Владельцев мелких пород собак
    <br>
    <span> и получайте
      <br> новую информацию</span>
    <br>
    <span> о правильном питании,
      <br> здоровье и уходе
      <br> именно за Вашим питомцем.</span>
  </div>
  <a href="#" class="btn-gold">Вступить в клуб</a>
</div>
