<section class="club-navigation">
  <div class="container">
    <div class="row">
      <ul>
        <li>
          <a href="#">Инфографика</a>
        </li>
        <li>
          <a href="#">Статьи</a>
        </li>
        <li>
          <a href="#">Факты</a>
        </li>
        <li>
          <a href="#">Фото маленьких собак</a>
        </li>
        <li>
          <a href="#">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<div class="container second">
  <div class="row">
    <section class="welcome-wrap">
      <div class="container wrap">
        <div class="welcome-title">Станьте участником клуба.</div>
        <div class="welcome-tagline">
          В клубе PURINA ONE Моя Собака… вы сможете узнать новую информацию
          <br> о маленьких собаках, интересные факты о них, получать полезные советы, рекомендации по уходу и питанию.
          <br> А так же еще много-много интересного!
        </div>
        <div class="buttons-wrap">
          <a href="#" class="btn-gold js-show-pop-up" data-atr="enter-club">Войти</a>
          <a href="#" class="btn-gold js-show-pop-up" data-atr="register">зарегистрироваться</a>
        </div>
        <div class="img-row">
          <div class="col-md-6 col-lg-3 item-img dog-sign">
            <img src="img/item-1-cloud.png" alt="" class="think-cloud">
            <img src="img/dog-item.png" alt="" class="dog">
            <a href="#" class="btn-item">Инфографика</a>
          </div>
          <div class="col-md-6 col-lg-3 item-img dog-sign">
            <img src="img/item-2-cloud.png" alt="" class="think-cloud">
            <img src="img/dog-item.png" alt="" class="dog">
            <a href="#" class="btn-item">статьи</a>
          </div>
          <div class="col-md-6 col-lg-3 item-img dog-sign">
            <img src="img/item-3-cloud.png" alt="" class="think-cloud">
            <img src="img/dog-item.png" alt="" class="dog">
            <a href="#" class="btn-item">факты</a>
          </div>
          <div class="col-md-6 col-lg-3 item-img">
            <img src="img/item-4-cloud.png" alt="" class="think-cloud">
            <img src="img/dog-item.png" alt="" class="dog">
            <a href="#" class="btn-item">фото</a>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="prize-wrap">
          <span>новым 100 зарегистрированным</span>
          пользователям
          <br>
          <span>Подарок</span>
          <br>
          <span>именная подвеска в виде косточки для вашего питомца</span>
        </div>
      </div>

    </section>
  </div>
</div>
