<section class="lk-wrap">
  <div class="container">
    <div class="row">
      <div class="sidebar block col-md-3">
        <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div>

        <ul>
          <li><a href="#">Инфографика</a></li>
          <li class="dropdown">
            <a href="#" class="js-show-dropdown">Статьи</a>
            <ul class="dropdown-body">
              <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
              <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
              <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
              <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
            </ul>
          </li>
          <li><a href="#">Факты</a></li>
          <li><a href="#">Фото маленьких собак</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>

      </div>

      <div class="col-md-9 lk-body">
        <div class="container head-wrap">
          <div class="row">
            <div class="welcome">
              Здравствуйте,
              <span class="name">Ирина</span>!
            </div>

            <div class="mail-icon-logout">
              <a href="#" class="lk-btn">Личный кабинет</a>

              <a href="#" class="mail-logo active">
                <span>0</span>
              </a>

              <a href="#" class="logout">Выйти</a>
            </div>
          </div>
        </div>
        <!-- articles body -->

        <div class="container">
          <div class="articles article">
            <div class="row">
              <div class="list border-wrap">
                <div class="title">Шпиц - порода из Китая</div>

                <div class="article-body">
                  <img src="img/fact-detail.jpg" alt="preview" title="article preview" width="335" height="225" class="image image-left">
                  <p>
                    <a href="#">Впервые</a> эта порода появилась в Китае и была высоко оценена императорским двором, где Пекинесов называли Фу или Фуу. Эти милые зверьки были приближены к императорам в течение 2000 лет и до сих пор считаются священными. Древние китайцы так любили их, что
                    носили с собой в рукавах своих одежд.
                  </p>
                  <p>
                    <strong><span>Существует</span></strong> несколько преданий о появлении Пекинесов. Все они весьма интересны.
                  </p>
                  <p>
                    Первая легенда рассказывает о любви льва и мартышки, которые не могли быть вместе из-за разницы в размере. Тогда влюбленные пошли к Будде за помощью. Будда сжалился и уменьшил льва. От этого союза родился Пекинес.
                  </p>

                  <p>Вторая легенда аналогична, но повествует о любви льва и бабочки. Они оба знали, что их размер препятствует их счастью, и Будда согласился помочь им.</p>
                  <p>
                    Еще одна легенда говорит, что Пекинес был создан самим Буддой в качестве защитника храма. В функции этой собачки входила охота за маленькими демонами, оскверняющими святилище. При этом сердце Пекинеса было настолько велико, что никакая сила не могла его
                    разбить.
                  </p>
                  <p>
                    Знаете ли вы, что Пекинесы были любимцами многих известных людей? Ширли Темпл, Элизабет Тейлор, бабушка принцессы Дианы - Барбара Картленд – все избирали своими друзьями именно этих собачек.
                  </p>
                  <p>
                    Когда Титаник утонул, с корабля спаслись только три собаки, одной из которых был Пекинес, две другие – Померанские Шпицы.
                  </p>
                  <p>
                    У питомца мультяшного героя Микки Мауса, Плуто, была подруга по имени Фифи – девочка пекинес.
                  </p>
                  <p>
                    Дочь Теодора Рузвельта, Элис Ли, везде появлялась со своим Пекинесом по имени Манчьжу.
                  </p>
                  <p>
                    Стивен Кинг, автор мировых бестселлеров, упоминает Пекинеса в произведениях «Это» и «Тело».
                  </p>
                </div>

                <div class="social-wrap">
                  <span class="like-article">Понравилась статья? Оставляй лайк или поделись с друзьями</span>
                  <a href="#" class="likes">
                    <span>1</span>
                  </a>
                  <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                    <span>1</span>
                  </a>
                  <a href="#" class="coment">
                    <span>0</span>
                  </a>
                </div>
              </div>

              <div class="comments border-wrap">
                <div class="title">Комментарии</div>
                <div class="comment-body">
                  <div class="name">Елена</div>
                  <div class="date">02.01.2016</div>
                  <div class="comment-text">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      <br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                      <br> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                      recently with desktop
                    </p>
                  </div>
                  <div class="social-wrap">
                    <a href="#" class="likes">
                      <span>1</span>
                    </a>
                    <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                      <span>1</span>
                    </a>
                    <a href="#" class="coment">
                      <span>0</span>
                    </a>
                  </div>

                  <div class="answer">
                    <span>Оставить коментарий</span>
                    <form action="">
                      <div class="form-group">
                        <textarea rows="8" cols="40"></textarea>
                      </div>
                      <div class="form-group left fileinput">
                        <span>прикрепить файл</span>
                        <input type="file" value="">
                      </div>
                      <div class="form-group right">
                        <button type="submit" class="btn-gold" name="button">отправить</button>
                      </div>
                    </form>
                  </div>
                  <div class="clearfix"></div>

                </div>

              </div>
              <!-- <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
