<section class="lk-wrap">
  <div class="container">
    <div class="row">
      <div class="sidebar block col-md-3">
        <div class="img-sidebar">
          <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
          <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
        </div>
        <ul>
          <li><a href="#">Инфографика</a></li>
          <li class="dropdown">
            <a href="#" class="js-show-dropdown">Статьи</a>
            <ul class="dropdown-body">
              <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
              <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
              <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
              <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
            </ul>
          </li>
          <li><a href="#">Факты</a></li>
          <li><a href="#">Фото маленьких собак</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>

      </div>

      <div class="col-md-9 lk-body">
        <div class="container head-wrap">
          <div class="row">
            <div class="welcome">
              Здравствуйте,
              <span class="name">Ирина</span>!
            </div>

            <div class="mail-icon-logout">
              <a href="#" class="lk-btn">Личный кабинет</a>

              <a href="#" class="mail-logo active">
                <span>0</span>
              </a>

              <a href="#" class="logout">Выйти</a>
            </div>
          </div>
        </div>
        <!-- articles body -->

        <div class="container ">
          <div class="row">
            <div class="articles facts">

              <div class="list border-wrap">
                <div class="title">А Вы знаете что...?</div>
                <div class="sort-wrap custom-select">
                  <div class="block">
                    <span class="sort-title">
                  Сортировка по дате
                </span>
                    <select class="left chose-msg" name="" data-placeholder="Выбрать сообщения">
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                      <option value="">4</option>
                      <option value="">5</option>
                    </select>
                  </div>
                  <div class="block right">
                    <span class="sort-title">Сортировка по породе</span>
                    <select class="select-style-search">
                      <option>Пункт 1</option>
                      <option>Пункт 2</option>
                      <option>Пункт 3</option>
                      <option>Пункт 4</option>
                      <option>Пункт 5</option>
                      <option>Пункт 6</option>
                      <option>Пункт 7</option>
                      <option>Пункт 8</option>
                    </select>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="fact-preview clearfix">
                  <img src="img/fact-prev-1.jpg" alt="preview" title="article preview" width="225" height="155" class="image-prev">
                  <div class="prev-wrap">
                    <div class="fact-title"><a href="#">Шпиц - порода из Китая</a></div>
                    <div class="text-prev">
                      Впервые эта порода появилась в Китае и была высоко оценена императорским двором, где Пекинесов называли Фу или Фуу. Эти милые зверьки были приближены к императорам в течение 2000 лет и до сих пор считаются священными.
                    </div>
                    <div class="social-wrap">
                      <a href="#" class="likes">
                        <span>1</span>
                      </a>
                      <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                        <span>1</span>
                      </a>
                      <a href="#" class="coment">
                        <span>0</span>
                      </a>
                      <a href="#" class="read-more">читать дальше</a>
                    </div>
                  </div>
                </div>

                <div class="fact-preview clearfix">
                  <img src="img/fact-prev-2.jpg" alt="preview" title="article preview" width="225" height="155" class="image-prev">
                  <div class="prev-wrap">
                    <div class="fact-title"><a href="#">Шпиц - порода из Китая</a></div>
                    <div class="text-prev">
                      Впервые эта порода появилась в Китае и была высоко оценена императорским двором, где Пекинесов называли Фу или Фуу. Эти милые зверьки были приближены к императорам в течение 2000 лет и до сих пор считаются священными.
                    </div>
                    <div class="social-wrap">
                      <a href="#" class="likes">
                        <span>1</span>
                      </a>
                      <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                        <span>1</span>
                      </a>
                      <a href="#" class="coment">
                        <span>0</span>
                      </a>
                      <a href="#" class="read-more">читать дальше</a>
                    </div>
                  </div>
                </div>


                <div class="fact-preview clearfix">
                  <img src="img/fact-prev-2.jpg" alt="preview" title="article preview" width="225" height="155" class="image-prev">
                  <div class="prev-wrap">
                    <div class="fact-title"><a href="#">Шпиц - порода из Китая</a></div>
                    <div class="text-prev">
                      Впервые эта порода появилась в Китае и была высоко оценена императорским двором, где Пекинесов называли Фу или Фуу. Эти милые зверьки были приближены к императорам в течение 2000 лет и до сих пор считаются священными.
                    </div>
                    <div class="social-wrap">
                      <a href="#" class="likes">
                        <span>1</span>
                      </a>
                      <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                        <span>1</span>
                      </a>
                      <a href="#" class="coment">
                        <span>0</span>
                      </a>
                      <a href="#" class="read-more">читать дальше</a>
                    </div>
                  </div>
                </div>

                <div class="clearfix"></div>
              </div>
            </div>

          </div>
          <div class="container pagination">
            <div class="row">
              <div class="wrap">
                <span>1</span> из
                <span>10</span>
                <a href="#" class="pag-btn prev">
                  <span class="trigger-arrow"></span>
                </a>
                <a href="#" class="pag-btn next">
                  <span class="trigger-arrow"></span>
                </a>
              </div>
            </div>
          </div>
          <!-- <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div> -->
        </div>



      </div>

    </div>
  </div>
</section>
