<section class="lk-wrap">
  <div class="container">
    <div class="row">
      <div class="sidebar block col-md-3">
        <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div>

        <ul>
          <li><a href="#">Инфографика</a></li>
          <li class="dropdown">
            <a href="#" class="js-show-dropdown">Статьи</a>
            <ul class="dropdown-body">
              <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
              <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
              <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
              <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
            </ul>
          </li>
          <li><a href="#">Факты</a></li>
          <li><a href="#">Фото маленьких собак</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>

      </div>

      <div class="col-md-9 lk-body">
        <div class="container head-wrap">
          <div class="row">
            <div class="welcome">
              Здравствуйте,
              <span class="name">Ирина</span>!
            </div>

            <div class="mail-icon-logout">
              <a href="#" class="lk-btn">Личный кабинет</a>

              <a href="#" class="mail-logo active">
                <span>0</span>
              </a>

              <a href="#" class="logout">Выйти</a>
            </div>
          </div>
        </div>
        <!-- articles body -->

        <div class="container">
          <div class="row">
            <div class="faq">
              <div class="border-wrap">
                <div class="title">FAQ</div>
                <div class="sub-title">Часто задаваемые вопросы</div>

                <div class="problem-title">Не могу ввести данные своего любимца</div>

                <div class="faq-body">
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    <br>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                    electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                    versions of Lorem Ipsum more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                  </p>
                  <br>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </p>
                </div>

              </div>

              <div class="container faq-pagination">
                <div class="row">
                  <a href="#" class="pag-btn prev">
                    <span class="trigger-arrow"></span>
                  </a>
                  <a href="#" class="pag-btn next">
                    <span class="trigger-arrow"></span>
                  </a>
                  <br clear="all">
                </div>
              </div>

              <div class="question border-wrap">
                <div class="title">Задать вопрос</div>



                <div class="answer question-form">

                  <form action="">
                    <div class="question-top custom-select">
                        <div class="form-group">
                            <select class="select-style chose-msg" name="" data-placeholder="другое">
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="другой вопрос">
                        </div>
                    </div>
                    <div class="form-group">
                      <textarea rows="8" cols="40" placeholder="введите суть вашего вопроса"></textarea>
                    </div>
                    <div class="form-group left fileinput">
                      <span>прикрепить файл</span>
                      <input type="file" value="">
                    </div>
                    <div class="form-group right">
                      <button type="submit" class="btn-gold" name="button">отправить</button>
                    </div>
                  </form>
                </div>
                <div class="clearfix"></div>

              </div>

            </div>
            <!-- <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
