<section class="lk-wrap">
    <div class="container">
        <div class="row">
            <div class="sidebar block col-md-3">
                <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div>

                <ul>
                    <li><a href="#">Инфографика</a></li>
                    <li class="dropdown">
                        <a href="#" class="js-show-dropdown">Статьи</a>
                        <ul class="dropdown-body">
                            <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
                            <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
                            <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
                            <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Факты</a></li>
                    <li><a href="#">Фото маленьких собак</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>

            </div>

            <div class="col-md-9 lk-body">
                <div class="container head-wrap">
                    <div class="row">
                        <div class="welcome">
                            Здравствуйте,
                            <span class="name">Ирина</span>!
                        </div>

                        <div class="mail-icon-logout">
                            <a href="#" class="lk-btn">Личный кабинет</a>

                            <a href="#" class="mail-logo active">
                                <span>0</span>
                            </a>

                            <a href="#" class="logout">Выйти</a>
                        </div>
                    </div>
                </div>
                <!-- articles body -->

                <div class="container">
                    <div class="row">
                        <div class="faq">
                            <div class="border-wrap">
                                <div class="title">FAQ</div>
                                <div class="sub-title">Часто задаваемые вопросы</div>
                                <div class="faq-body list-question">
                                    <ul>
                                        <li><a href="#">Не могу ввести данные своего любимца</a></li>
                                        <li><a href="#">Мой комментарий не отправляеться</a></li>
                                        <li><a href="#">Не могу ввести данные своего любимца</a></li>
                                        <li><a href="#">Мой комментарий не отправляеться</a></li>
                                        <li><a href="#">Не могу ввести данные своего любимца</a></li>
                                        <li><a href="#">Мой комментарий не отправляеться</a></li>
                                        <li><a href="#">Не могу ввести данные своего любимца</a></li>
                                        <li><a href="#">Мой комментарий не отправляеться</a></li>
                                    </ul>
                                </div>

                            </div>

                            <div class="container faq-pagination">
                                <div class="row">
                                    <a href="#" class="pag-btn prev">
                                        <span class="trigger-arrow"></span>
                                    </a>
                                    <a href="#" class="pag-btn next">
                                        <span class="trigger-arrow"></span>
                                    </a>
                                    <br clear="all">
                                </div>
                            </div>

                            <div class="question border-wrap">
                                <div class="title">Задать вопрос</div>



                                <div class="answer question-form">

                                    <form action="">
                                        <div class="question-top custom-select">
                                            <div class="form-group has-error">
                                                <select class="select-style chose-msg" name="" data-placeholder="другое">
                                                    <option value="">1</option>
                                                    <option value="">2</option>
                                                    <option value="">3</option>
                                                    <option value="">4</option>
                                                    <option value="">5</option>
                                                </select>
                                            </div>
                                            <div class="form-group has-error">
                                                <input type="text" placeholder="другой вопрос">
                                            </div>
                                        </div>
                                        <div class="form-group has-error">
                                            <textarea rows="8" cols="40" placeholder="введите суть вашего вопроса"></textarea>
                                        </div>
                                        <div class="form-group has-error left fileinput">
                                            <span>прикрепить файл</span>
                                            <input type="file" value="">
                                        </div>
                                        <div class="form-group right">
                                            <button type="submit" class="btn-gold" name="button">отправить</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="clearfix"></div>

                            </div>

                        </div>
                        <!-- <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
