<footer id="footer" class="wrapper footer">
  <div class="container">
    <a href="#" class="footer-logo">
      <img src="img/footer-logo.png" alt="footer logo" title="Purina">
    </a>
    <ul>
      <li><a href="#">Соглашение о конфиденциальности</a></li>
      <li><a href="#">Правовая информация</a></li>
      <li><a href="#">Свяжитесь с нами</a></li>
    </ul>
    <a href="#" class="copyright">Рег. Товарный знак Société des Produits Nestlé S.A.</a>
    <div class="clearfix"></div>
  </div>
</footer>
