<header id="header" class="wrapper header">
  <div class="red-label">
    <div class="container">
      <a href="#" class="find-more">Узнайте больше о компании, которая производит Purina ONE®</a>
      <a href="#" class="logo-mini">
        <img src="img/logo-mini.png" alt="logo-mini" title="Purina">
      </a>
    </div>
  </div>
  <div class="container">
    <a href="#" class="js-show-menu menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </a>
    <nav class="menu">

      <ul class="left">
        <li><a href="#">узнайте больше о вашей собаке</a></li>
        <li><a href="#">о продукте</a></li>
        <li><a href="#">конкурс</a></li>
        <li><a href="#">породы</a></li>
        <li><a href="#">видео</a></li>
        <li><a href="#" class="club">клуб</a></li>
      </ul>

      <ul class="right">
        <li><a href="#">войти</a></li>
        <li><a href="#">регистрация</a></li>
      </ul>

      <div class="clearfix"></div>
    </nav>
  </div>
</header>
