<section class="lk-wrap">
  <div class="container">
    <div class="row">
      <div class="sidebar block col-md-3">

        <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div>

        <ul>
          <li><a href="#">Инфографика</a></li>
          <li class="dropdown">
            <a href="#" class="js-show-dropdown">Статьи</a>
            <ul class="dropdown-body">
              <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
              <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
              <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
              <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
            </ul>
          </li>
          <li><a href="#">Факты</a></li>
          <li><a href="#">Фото маленьких собак</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>

      </div>

      <div class="col-md-9 lk-body">
        <div class="container head-wrap">
          <div class="row">
            <div class="welcome">
              Здравствуйте,
              <span class="name">Ирина</span>!
            </div>

            <div class="mail-icon-logout">
              <a href="#" class="lk-btn">Личный кабинет</a>

              <a href="#" class="mail-logo active">
                <span>0</span>
              </a>

              <a href="#" class="logout">Выйти</a>
            </div>
          </div>
        </div>
        <!-- articles body -->

        <div class="container">
          <div class="row">
            <div class="articles article">

              <div class="list infografica">
                <div class="container faq-pagination top">
                  <div class="row">
                    <a href="#" class="pag-btn prev">
                      <span class="trigger-arrow"></span>
                    </a>
                    <a href="#" class="pag-btn next">
                      <span class="trigger-arrow"></span>
                    </a>
                    <br clear="all">
                  </div>
                </div>

                <div class="border-wrap infografic-detail ">
                  <div class="title-wrap">
                    <span>Памятка для тех, кто едет в отпуск без собаки</span>
                  </div>
                  <div class="infografica-7">
                    <div class="content_infografic-7 clearfix">

                      <div class="section-1">
                        <span>Небольшое руководство</span>
                        <span>о том, что</span>
                        <span>Вам нужно знать</span>
                        <span>о потребностях Вашей</span>
                        <span>маленькой<br/> <span>собаки</span></span>
                        <img src="img/header_dog.png" alt="">
                      </div>
                      <div class="section-2">
                        Знаете ли Вы, что у собак маленьких пород есть особые потребности в питании, удовлетворение которых
                        позволит Вашиму питомцу жить здоровой жизнью?<span>PURINA ONE Моя собака ...</span>
                        создан специально для того, чтобы помочь владельцам лучше понять потребности своих питомцев
                      </div>
                      <div class="wrap_global_section">
                        <div class="wrap_section clearfix">
                          <div class="section-3">
                            <span>Питание</span>
                            <p>
                              Если собака маленький<br/>
                              породы в идеальной<br/> физической форме, то<br/>
                              пропорциональное<br/>
                              соотнощение мышечной<br/>
                              массы против жировой у нее<br/>
                              выше, чем у собак средних и<br/>
                              больших пород. Также у<br/>
                              мальниких собак выше<br/>
                              потребность в минералах,<br/>
                              таких как кальций и фосфор.<br/>
                            </p>
                            <p>
                              Очень важно убедиться в<br/>
                              том, что Ваша маленькая<br/>
                              собака получает<br/>
                              необходимое количество<br/>
                              калорий из своего<br/>
                              дневного рациона - от<br/>
                              белков до минералов.<br/>
                            </p>
                          </div>
                          <div class="section-4">
                            <span>ЗДОРОВЬЕ ПОЛОСТИ РТА</span>
                            <p>
                              Пасть собак мелких пород, особенно таких, как<br/>
                              мопс или ши-тцу, очень небольшого размера, что<br/>
                              ограничивает способность питомца<br/>
                              пережевывать большие куски пищи.
                            </p>
                            <p>
                              Таких собак предпочтительно кормить<br/>
                              небольшими порциями из маленьких<br/>
                              кусочков. Некоторые виды сухих кормов<br/>
                              разработаны специально с учетом<br/>
                              особенностей строения и размера пасти<br/>
                              маленьких собак.
                            </p>

                          </div>
                        </div>
                        <div class="wrap_section clearfix">
                          <div class="section-5">
                            <span>ЭНЕРГИЯ</span>
                            <p>
                              Даже во время отдыха<br/>
                              собаки мелких пород<br/>
                              сжигают большее<br/>
                              количество калорий для<br/>
                              поддержания всех функций<br/>
                              организма, чем собаки<br/>
                              средних и крупных пород.<br/>
                              Кроме того, маленькие<br/>
                              собаки ведут гораздо более<br/>
                              активный образ жизни.
                            </p>
                            <p>
                              Вы должны быть<br/>
                              уверены, что Ваша<br/>
                              маленькая собака<br/>
                              получает<br/>
                              высококачественный<br/>
                              питательный корм.
                            </p>
                          </div>
                        </div>
                        <div class="wrap_section clearfix">
                          <div class="section-6">
                            <span>ЗАБОТА О ЗДОРОВЬЕ</span>
                            <p>
                              Некоторые мелкие породы собак имеют<br/>
                              генетическую предрасположенность к<br/>
                              определенным проблемам со здоровьем.<br/>
                              Другие же сталкиваются с проблемами из-за<br/>
                              своего анатомического строения: например,<br/>
                              мопсы, ши-тцу и японский хин, челюсти<br/>
                              которых укорочены, что затрудняет<br/>
                              пережевывание больших кусков пищи. Если<br/>
                              говорить о собаках мелких пород в целом, то<br/>
                              они чаще подвержены переломам костей,<br/>
                              ожирению и проблемам с мочеиспусканием.
                            </p>
                            <p>
                              Маленьких собак необходимо<br/>
                              кормить небольшими кусочками<br/>
                              сбалансированного корма,<br/>
                              специально разработанного с<br/>
                              учетом их потребностей.<br/>
                              Правильное кормление –<br/>
                              здоровье на долгие годы.

                            </p>
                            <img src="img/pikines.png" alt="">
                          </div>
                          <div class="section-7">
                            <span>ПИЩЕВАРЕНИЕ</span>
                            <p>
                              У собак маленьких пород<br/>
                              небольшой объём желудка,<br/>
                              поэтому они нуждаются в<br/>
                              кормлении маленькими порциями<br/>
                              2-3 раза в день. У них также очень<br/>
                              чувствительное пищеварение. В то<br/>
                              время как сухой корм необходим<br/>
                              для здоровья полости рта, влажный<br/>
                              корм легче переваривается.
                            </p>
                            <p>
                              Сочетание сухого корма с<br/>
                              влажным, разработанным<br/>
                              специально для<br/>
                              чувствительного<br/>
                              пищеварения маленькой<br/>
                              собаки, обеспечит заботу<br/>
                              о ЖКТ Вашего питомца.
                            </p>
                          </div>
                        </div>
                        <img class="img-chema" src="img/dog_chema.png" alt="">
                        <div class="wrap_section clearfix">
                          <div class="section-8 clearfix">
                            <span class="section-8-title">
                              А ВЫ ЗНАЛИ?
                            </span>
                            <div class="section-8-block-1">
                              Маленькие собаки достигают<br/>
                              полного развития<br/>
                              <span> еще до года</span><br/>
                              <p>
                                Щенков собак маленьких<br/>
                                пород рекомендуется кормить<br/>
                                специальным кормом для<br/>
                                щенков, который способствует<br/>
                                их здоровому росту.
                              </p>
                              <img src="img/shadow_dog.png" alt="">
                            </div>
                            <div class="section-8-block-2">
                              <img src="img/kistka.png" alt="">
                              <p>
                                Собаки маленьких пород считаются<br/>
                                пожилыми с возраста<br/>
                                <span>8-9 лет</span><br/>
                                и в основном живут долго. Они чаще,<br/>
                                чем собаки других пород, подвержены<br/>
                                переломам, растяжениям и проблемам<br/>
                                с зубами. Рекомендуется кормить<br/>
                                пожилых собак с учетом их<br/>
                                потребностей.
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="wrap_section footer_infografic">
                          <img src="img/logo_footer.png" alt="">
                          <a href="https://www.purinaone-mydogis.ru/" target="_blank">https://www.purinaone-mydogis.ru/</a>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="social-wrap">
                    <span class="like-article">Понравилась статья? Оставляй лайк или поделись с друзьями</span>
                    <a href="#" class="likes">
                      <span>1</span>
                    </a>
                    <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                      <span>1</span>
                    </a>
                    <a href="#" class="coment">
                      <span>0</span>
                    </a>
                  </div>
                </div>

                <div class="container faq-pagination bottom">
                  <div class="row">
                    <a href="#" class="pag-btn prev">
                      <span class="trigger-arrow"></span>
                    </a>
                    <a href="#" class="pag-btn next">
                      <span class="trigger-arrow"></span>
                    </a>
                    <br clear="all">
                  </div>
                </div>

                <div class="comments border-wrap">
                  <div class="title">Комментарии</div>
                  <div class="comment-body">
                    <div class="name">Елена</div>
                    <div class="date">02.01.2016</div>
                    <div class="comment-text">
                      <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        <br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        <br> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                        more recently with desktop
                      </p>
                    </div>
                    <div class="social-wrap">
                      <a href="#" class="likes">
                        <span>1</span>
                      </a>
                      <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                        <span>1</span>
                      </a>
                      <a href="#" class="coment">
                        <span>0</span>
                      </a>
                    </div>

                    <div class="answer">
                      <span>Оставить коментарий</span>
                      <form action="">
                        <div class="form-group">
                          <textarea rows="8" cols="40"></textarea>
                        </div>
                        <div class="form-group left fileinput">
                          <span>прикрепить файл</span>
                          <input type="file" value="">
                        </div>
                        <div class="form-group right">
                          <button type="submit" class="btn-gold" name="button">отправить</button>
                        </div>
                      </form>
                    </div>
                    <div class="clearfix"></div>

                  </div>

                </div>
              </div>
            <!-- <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
