<section class="lk-wrap">
    <div class="container">
        <div class="row">
            <div class="sidebar block col-md-3">
                <div class="img-sidebar">
                    <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
                    <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
                </div>
                <ul>
                    <li><a href="#">Инфографика</a></li>
                    <li class="dropdown">
                        <a href="#" class="js-show-dropdown">Статьи</a>
                        <ul class="dropdown-body">
                            <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
                            <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
                            <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
                            <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Факты</a></li>
                    <li><a href="#">Фото маленьких собак</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="col-md-9 lk-body">
                <div class="container head-wrap">
                    <div class="row">
                        <div class="welcome">
                            Здравствуйте,
                            <span class="name">Ирина</span>!
                        </div>
                        <div class="mail-icon-logout">
                            <a href="#" class="lk-btn">Личный кабинет</a>
                            <a href="#" class="mail-logo active">
                                <span>0</span>
                            </a>
                            <a href="#" class="logout">Выйти</a>
                        </div>
                    </div>
                </div>
                <!-- articles body -->
                <div class="container">
                    <div class="row">
                        <div class="articles article">
                            <div class="list infografica">
                                <div class="container faq-pagination top">
                                    <div class="row">
                                        <a href="#" class="pag-btn prev">
                                            <span class="trigger-arrow"></span>
                                        </a>
                                        <a href="#" class="pag-btn next">
                                            <span class="trigger-arrow"></span>
                                        </a>
                                        <br clear="all">
                                    </div>
                                </div>
                                <div class="border-wrap infografic-detail infografica-10 ">
                                    <div class="title-wrap">
                                        <span>Уход за когтями собаки мелкой породы</span>
                                    </div>
                                    <div class="content_infografic-9 clearfix">
                                        <div class="padSection topBlock">
                                            <div class="centerBlock">
                                                <div class="centerBlock-text">
                                                    <p><span>ДОМАШНИМ СОБАКАМ НЕОБХОДИМА РЕГУЛЯРНАЯ СТРИЖКА КОГТЕЙ</span></p>
                                                    <p>КОГТИ  СОБАКИ НЕ ДОЛЖНЫ СТУЧАТЬ О ПОЛ</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lsep"></div>
                                        <div class="padSection">
                                            <div class="borderBlock">
                                                <div class="borderBlock-top"></div>
                                                <div class="borderBlock-bottom"></div>
                                                <div class="borderBlock-inner">
                                                    <div class="infoList-title">
                                                        Как приучить питомца <br>
                                                        к стрижке когтей?
                                                    </div>
                                                    <div class="dotList">
                                                        <ul>
                                                            <li class="noList">Ежедневно уделяйте время
                                                                для имитации стрижки когтей:</li>
                                                            <li>Взяв питомца на руки, разговаривайте
                                                                с ним дружелюбно, погладьте и угостите каким-либо специальным лакомством</li>
                                                            <li>Аккуратно возьмите его за лапу и поочередно начните сжимать пальцы,
                                                                но так, чтобы не причинить собаке боль</li>
                                                            <li>С каждым разом увеличивайте время процедуры, не забывая в это время ласково общаться с собакой</li>
                                                            <li> Не забывайте о поощрении — у питомца должно закрепиться положительное впечатление о происходящем</li>
                                                            <li>Как только питомец спокойно почувствует себя в ваших руках и перестанет обращать внимание на ваши действия, можно приступать к стрижке когтей</li>
                                                        </ul>
                                                        <div class="dotList-img mfixImg">
                                                            <img src="img/dotlistimg-2.jpg" alt=""/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lsep"></div>
                                        <div class="padSection">
                                            <div class="bigRedTitle litmargin">
                                                ИСПОЛЬЗУЙТЕ СПЕЦИАЛЬНЫЕ КОГТЕРЕЗКИ ДЛЯ СОБАК
                                            </div>
                                            <div class="infoImages">
                                                <div class="row">
                                                    <div class="col-md-6 col-xs-12">
                                                        <div class="infoImages-title">
                                                            Ножницы
                                                        </div>
                                                        <div class="infoImages-img">
                                                            <img src="img/infoimages1.png" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-xs-12">
                                                        <div class="infoImages-title">
                                                            Гильотина
                                                        </div>
                                                        <div class="infoImages-img">
                                                            <img src="img/infoimages2.png" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lsep"></div>
                                        <div class="padSection">
                                            <div class="bigRedTitle litmargin">
                                                Строение когтя собаки
                                            </div>
                                            <div class="centerBlock">
                                                <div class="centerBlock-text">
                                                    <img src="img/centerblock-img.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bigRedTitle litmargin">
                                            Как правильно стричь когти собаке?
                                        </div>
                                        <div class="padSection treeColumn">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="infoImages-title">
                                                        ВЕРНО
                                                    </div>
                                                    <div class="treeColumn-img">
                                                        <img src="img/obr-1.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="infoImages-title redTitle">
                                                        НЕВЕРНО
                                                    </div>
                                                    <div class="treeColumn-img">
                                                        <img src="img/obr-2.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="infoImages-title redTitle">
                                                        ОПАСНО!
                                                    </div>
                                                    <div class="treeColumn-img">
                                                        <img src="img/obr-3.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="lTitle">
                                                Что делать, если из когтя пошла кровь?
                                            </div>
                                            <div class="centerBlock">
                                                <div class="centerBlock-text ttnormal">
                                                    <p>Приложить к когтю ватку, смоченную в перекиси водорода/растворе перманганата калия, или использовать кровоостанавливающий порошок.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lsep"></div>
                                        <div class="padSection"></div>
                                    </div>

                                    <div class="infoLogo">
                                        <img src="img/info-logo.png" alt=""/>
                                    </div>
                                    <div class="redSep"></div>
                                </div>
                                <div class="container faq-pagination bottom">
                                    <div class="row">
                                        <a href="#" class="pag-btn prev">
                                            <span class="trigger-arrow"></span>
                                        </a>
                                        <a href="#" class="pag-btn next">
                                            <span class="trigger-arrow"></span>
                                        </a>
                                        <br clear="all">
                                    </div>
                                </div>
                                <div class="comments border-wrap">
                                    <div class="title">Комментарии</div>
                                    <div class="comment-body">
                                        <div class="name">Елена</div>
                                        <div class="date">02.01.2016</div>
                                        <div class="comment-text">
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                <br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                <br> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                                                more recently with desktop
                                            </p>
                                        </div>
                                        <div class="social-wrap">
                                            <a href="#" class="likes">
                                                <span>1</span>
                                            </a>
                                            <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                                                <span>1</span>
                                            </a>
                                            <a href="#" class="coment">
                                                <span>0</span>
                                            </a>
                                        </div>
                                        <div class="answer">
                                            <span>Оставить коментарий</span>
                                            <form action="">
                                                <div class="form-group">
                                                    <textarea rows="8" cols="40"></textarea>
                                                </div>
                                                <div class="form-group left fileinput">
                                                    <span>прикрепить файл</span>
                                                    <input type="file" value="">
                                                </div>
                                                <div class="form-group right">
                                                    <button type="submit" class="btn-gold" name="button">отправить</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="img-sidebar">
                                <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
                                <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
                                </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>