<section class="lk-wrap">
  <div class="container">
    <div class="row">
      <div class="sidebar block col-md-3">

        <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div>

        <ul>
          <li><a href="#">Инфографика</a></li>
          <li class="dropdown">
            <a href="#" class="js-show-dropdown">Статьи</a>
            <ul class="dropdown-body">
              <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
              <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
              <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
              <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
            </ul>
          </li>
          <li><a href="#">Факты</a></li>
          <li><a href="#">Фото маленьких собак</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>

      </div>

      <div class="col-md-9 lk-body">
        <div class="container head-wrap">
          <div class="row">
            <div class="welcome">
              Здравствуйте,
              <span class="name">Ирина</span>!
            </div>

            <div class="mail-icon-logout">
              <a href="#" class="lk-btn">Личный кабинет</a>

              <a href="#" class="mail-logo active">
                <span>0</span>
              </a>

              <a href="#" class="logout">Выйти</a>
            </div>
          </div>
        </div>
        <!-- articles body -->

        <div class="container">
          <div class="row">
            <div class="articles article">

              <div class="list infografica">
                <div class="container faq-pagination top">
                  <div class="row">
                    <a href="#" class="pag-btn prev">
                      <span class="trigger-arrow"></span>
                    </a>
                    <a href="#" class="pag-btn next">
                      <span class="trigger-arrow"></span>
                    </a>
                    <br clear="all">
                  </div>
                </div>

                <div class="border-wrap infografic-detail ">
                  <div class="title-wrap">
                    <span>ОТЛИЧИЯ МАЛЕНЬКИХ СОБАК <br>
                          ОТ БОЛЬШИХ</span>
                  </div>
                  <div class="dog-compare">

                    <div class="text-center">
                      Специалисты, создавшие корм PURINA ONE® Моя Собака…, считают, что размер имеет значение! И физиология, и обменные процессы в организме маленькой собачки совершенно другие, нежели у крупных пород. Казалось бы, маленькая собака, но как много особенностей!
                    </div>

                    <div class="head-compare clearfix">
                      <div class="">
                        <img src="img/compare-left.png" alt="" />
                        <span>
                        МАЛЕНЬКИЕ СОБАКИ
                      </span>
                      </div>
                      <div class="">
                        <img src="img/compare-right.png" alt="" />
                        <span>
                        большие СОБАКИ
                      </span>
                      </div>
                    </div>

                    <table>
                      <tr>
                        <td class="compare"><span>8 месяцев</span></td>
                        <td class="name-compare"><img src="img/compare1.png" alt="">
                          <span>
                      ПРОДОЛЖИТЕЛЬНОСТЬ <br>
                      ПЕРИОДА РОСТА
                      </span>
                        </td>
                        <td class="compare"><span>8 месяцев</span></td>
                      </tr>

                      <tr>
                        <td class="compare"><span>ВЕС ПРИ РОЖДЕНИИ Х20</span></td>
                        <td class="name-compare"><img src="img/compare2.png" alt="">
                          <span>
                      ПРИБАВКА В ВЕСЕ
                      </span>
                        </td>
                        <td class="compare"><span>ВЕС ПРИ РОЖДЕНИИ Х100</span></td>
                      </tr>

                      <tr>
                        <td class="compare"><span>ДЛИНА КЛЫКА 4-5 ММ</span></td>
                        <td class="name-compare"><img src="img/compare3.png" alt="">
                          <span>
                      РАЗМЕР ЗУБОВ
                      </span>
                        </td>
                        <td class="compare"><span>ДЛИНА КЛЫКА 5-16 ММ</span></td>
                      </tr>

                      <tr>
                        <td class="compare"><span>132 ккал/кг ВЕСА</span></td>
                        <td class="name-compare"><img src="img/compare4.png" alt="">
                          <span>
                      ЗАТРАТЫ ЭНЕРГИИ
                      </span>
                        </td>
                        <td class="compare"><span>45 ккал/кг ВЕСА</span></td>
                      </tr>

                      <tr>
                        <td class="compare"><span>7% ОТ ВЕСА ТЕЛА</span></td>
                        <td class="name-compare"><img src="img/compare5.png" alt="">
                          <span>
                      ОТНОСИТЕЛЬНЫЙ ВЕС ПИЩЕВАРИТЕЛЬНОГО ТРАКТА
                      </span>
                        </td>
                        <td class="compare"><span>2,8% ОТ ВЕСА ТЕЛА</span></td>
                      </tr>

                      <tr>
                        <td class="compare"><span>> 12 ЛЕТ</span></td>
                        <td class="name-compare"><img src="img/compare6.png" alt="">
                          <span>
                      СРЕДНЯЯ ПРОДОЛЖИТЕЛЬНОСТЬ ЖИЗНИ
                      </span>
                        </td>
                        <td class="compare"><span>7 ЛЕТ</span></td>
                      </tr>


                      <tr>
                        <td class="compare"><span>МОЖНО ПРИУЧИТЬ К ЛОТОЧКУ</span></td>
                        <td class="name-compare"><img src="img/compare7.png" alt="">
                          <span>
                      ГИГИЕНА
                      </span>
                        </td>
                        <td class="compare"><span>НЕОБХОДИМО «ГУЛЯТЬ»</span></td>
                      </tr>

                      <tr>
                        <td class="compare"><span>МЕНЬШЕ</span></td>
                        <td class="name-compare"><img src="img/compare8.png" alt="">
                          <span>
                      ВРЕМЯ НА ИГРЫ
                      </span>
                        </td>
                        <td class="compare"><span>БОЛЬШЕ</span></td>
                      </tr>

                      <tr>
                        <td class="compare"><span>ВЫШЕ</span></td>
                        <td class="name-compare"><img src="img/compare8.png" alt="">
                          <span>
                      ТЕМПЕРАМЕНТ
                      </span>
                        </td>
                        <td class="compare"><span>НИЖЕ</span></td>
                      </tr>





                    </table>



                    <div class="social-wrap">
                      <span class="like-article">Понравилась статья? Оставляй лайк или поделись с друзьями</span>
                      <a href="#" class="likes">
                        <span>1</span>
                      </a>
                      <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                        <span>1</span>
                      </a>
                      <a href="#" class="coment">
                        <span>0</span>
                      </a>
                    </div>
                  </div>
                  </div>


                  <div class="container faq-pagination bottom">
                    <div class="row">
                      <a href="#" class="pag-btn prev">
                        <span class="trigger-arrow"></span>
                      </a>
                      <a href="#" class="pag-btn next">
                        <span class="trigger-arrow"></span>
                      </a>
                      <br clear="all">
                    </div>
                  </div>

                  <div class="comments border-wrap">
                    <div class="title">Комментарии</div>
                    <div class="comment-body">
                      <div class="name">Елена</div>
                      <div class="date">02.01.2016</div>
                      <div class="comment-text">
                        <p>
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                          <br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                          <br> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                          more recently with desktop
                        </p>
                      </div>
                      <div class="social-wrap">
                        <a href="#" class="likes">
                          <span>1</span>
                        </a>
                        <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                          <span>1</span>
                        </a>
                        <a href="#" class="coment">
                          <span>0</span>
                        </a>
                      </div>

                      <div class="answer">
                        <span>Оставить коментарий</span>
                        <form action="">
                          <div class="form-group">
                            <textarea rows="8" cols="40"></textarea>
                          </div>
                          <div class="form-group left fileinput">
                            <span>прикрепить файл</span>
                            <input type="file" value="">
                          </div>
                          <div class="form-group right">
                            <button type="submit" class="btn-gold" name="button">отправить</button>
                          </div>
                        </form>
                      </div>
                      <div class="clearfix"></div>

                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
