<section class="lk-wrap">
  <div class="container">
    <div class="row">
      <div class="sidebar block col-md-3">

        <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div>

        <ul>
          <li><a href="#">Инфографика</a></li>
          <li class="dropdown">
            <a href="#" class="js-show-dropdown">Статьи</a>
            <ul class="dropdown-body">
              <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
              <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
              <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
              <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
            </ul>
          </li>
          <li><a href="#">Факты</a></li>
          <li><a href="#">Фото маленьких собак</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>

      </div>

      <div class="col-md-9 lk-body">
        <div class="container head-wrap">
          <div class="row">
            <div class="welcome">
              Здравствуйте,
              <span class="name">Ирина</span>!
            </div>

            <div class="mail-icon-logout">
              <a href="#" class="lk-btn">Личный кабинет</a>

              <a href="#" class="mail-logo active">
                <span>0</span>
              </a>

              <a href="#" class="logout">Выйти</a>
            </div>
          </div>
        </div>
        <!-- articles body -->

        <div class="container">
          <div class="row">
            <div class="articles article">

              <div class="list infografica">
                <div class="container faq-pagination top">
                  <div class="row">
                    <a href="#" class="pag-btn prev">
                      <span class="trigger-arrow"></span>
                    </a>
                    <a href="#" class="pag-btn next">
                      <span class="trigger-arrow"></span>
                    </a>
                    <br clear="all">
                  </div>
                </div>

                <div class="border-wrap infografic-detail infografica-8 ">
                  <div class="title-wrap">
                    <span>Самые дружелюбные сабаки<br/> мелких пород</span>
                  </div>
                  <div class="content_infografic-8 clearfix">
                    <div class="section-infografic-8  clearfix">
                      <div class="wrap_content clearfix">
                          <div class="item-info-8">
                            <img src="img/dog-1-info-8.png" alt="">
                            <div class="desc_item_info-8">
                              <p class="name_dog_info-8">Бишон Фризе</p>
                              <p class="contry-info-8">Франция</p>
                              <p class="size-dog-info-8">23-30см</p>
                              <p class="weight">3-5кг</p>
                            </div>
                          </div>
                        <div class="item-info-8">
                          <img src="img/dog-2-info-8.png" alt="">
                          <div class="desc_item_info-8">
                            <p class="name_dog_info-8">МОПС</p>
                            <p class="contry-info-8">Китай</p>
                            <p class="size-dog-info-8">25-36 см</p>
                            <p class="weight">6-10 кг</p>
                          </div>
                        </div>
                        <div class="item-info-8">
                          <img src="img/dog-3-info-8.png" alt="">
                          <div class="desc_item_info-8">
                            <p class="name_dog_info-8">ПАПИЛЬОН</p>
                            <p class="contry-info-8">Франция</p>
                            <p class="size-dog-info-8">20-28см</p>
                            <p class="weight">3-5кг</p>
                          </div>
                        </div>
                        <div class="item-info-8">
                          <img src="img/dog-4-info-8.png" alt="">
                          <div class="desc_item_info-8">
                            <p class="name_dog_info-8">ЯПОНСКИЙ ХИН</p>
                            <p class="contry-info-8 plus-top">Япония</p>
                            <p class="size-dog-info-8">23-25см</p>
                            <p class="weight">2-4кг</p>
                          </div>
                        </div>
                        <div class="item-info-8">
                          <img src="img/dog-5-info-8.png" alt="">
                          <div class="desc_item_info-8">
                            <p class="name_dog_info-8 ">КАВАЛЕР КИНГ ЧАРЛЬЗ СПАНИЕЛЬ</p>
                            <p class="contry-info-8 minus-top">Англия</p>
                            <p class="size-dog-info-8">30-33см</p>
                            <p class="weight">5-8кг</p>
                          </div>
                        </div>
                        <div class="item-info-8">
                          <img src="img/dog-6-info-8.png" alt="">
                          <div class="desc_item_info-8">
                            <p class="name_dog_info-8">КАРЛИКОВЫЙ ПУДЕЛЬ</p>
                            <p class="contry-info-8 plus-top">Франция</p>
                            <p class="size-dog-info-8">28-38см</p>
                            <p class="weight">7-8кг</p>
                          </div>
                        </div>

                      </div>
                      <p class="textblock-info-8 clearfix">
                        ЭТИ ПОРОДЫ ПОДОЙДУТ ДЛЯ НЕОПЫТНЫХ ВЛАДЕЛЬЦЕВ
                      </p>
                      <img src="img/logo-info-8.png" alt="" class="logo-info-8">
                    </div>
                  </div>

                </div>

                <div class="container faq-pagination bottom">
                  <div class="row">
                    <a href="#" class="pag-btn prev">
                      <span class="trigger-arrow"></span>
                    </a>
                    <a href="#" class="pag-btn next">
                      <span class="trigger-arrow"></span>
                    </a>
                    <br clear="all">
                  </div>
                </div>

                <div class="comments border-wrap">
                  <div class="title">Комментарии</div>
                  <div class="comment-body">
                    <div class="name">Елена</div>
                    <div class="date">02.01.2016</div>
                    <div class="comment-text">
                      <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        <br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        <br> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                        more recently with desktop
                      </p>
                    </div>
                    <div class="social-wrap">
                      <a href="#" class="likes">
                        <span>1</span>
                      </a>
                      <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                        <span>1</span>
                      </a>
                      <a href="#" class="coment">
                        <span>0</span>
                      </a>
                    </div>

                    <div class="answer">
                      <span>Оставить коментарий</span>
                      <form action="">
                        <div class="form-group">
                          <textarea rows="8" cols="40"></textarea>
                        </div>
                        <div class="form-group left fileinput">
                          <span>прикрепить файл</span>
                          <input type="file" value="">
                        </div>
                        <div class="form-group right">
                          <button type="submit" class="btn-gold" name="button">отправить</button>
                        </div>
                      </form>
                    </div>
                    <div class="clearfix"></div>

                  </div>

                </div>
              </div>
            <!-- <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
