<section class="lk-wrap">
    <div class="container">
        <div class="row">
            <div class="sidebar block col-md-3">
                <div class="img-sidebar">
                    <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
                    <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
                </div>
                <ul>
                    <li><a href="#">Инфографика</a></li>
                    <li class="dropdown">
                        <a href="#" class="js-show-dropdown">Статьи</a>
                        <ul class="dropdown-body">
                            <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
                            <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
                            <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
                            <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Факты</a></li>
                    <li><a href="#">Фото маленьких собак</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="col-md-9 lk-body">
                <div class="container head-wrap">
                    <div class="row">
                        <div class="welcome">
                            Здравствуйте,
                            <span class="name">Ирина</span>!
                        </div>
                        <div class="mail-icon-logout">
                            <a href="#" class="lk-btn">Личный кабинет</a>
                            <a href="#" class="mail-logo active">
                                <span>0</span>
                            </a>
                            <a href="#" class="logout">Выйти</a>
                        </div>
                    </div>
                </div>
                <!-- articles body -->
                <div class="container">
                    <div class="row">
                        <div class="articles article">
                            <div class="list infografica">
                                <div class="container faq-pagination top">
                                    <div class="row">
                                        <a href="#" class="pag-btn prev">
                                            <span class="trigger-arrow"></span>
                                        </a>
                                        <a href="#" class="pag-btn next">
                                            <span class="trigger-arrow"></span>
                                        </a>
                                        <br clear="all">
                                    </div>
                                </div>
                                <div class="border-wrap infografic-detail infografica-10 ">
                                    <div class="title-wrap">
                                        <span>ЧТО ДЕЛАТЬ ПРИ ТЕПЛОВОМ УДАРЕ</span>
                                    </div>
                                    <div class="content_infografic-9 clearfix">
                                        <div class="tempBlock clearfix">
                                            <div class="tempBlock-image hidden-xs">
                                                <img src="img/termometr.png" alt="">
                                            </div>
                                            <div class="tempBlock-text">
                                                <div class="tempBlock-text-line"><span class="tempBlock-text-img visible-xs"><img
                                                        src="img/termometr_adapt1.png" alt=""></span><p>Возможен летальный исход</p></div>
                                                <div class="tempBlock-text-line"><span class="tempBlock-text-img visible-xs"><img
                                                        src="img/termometr_adapt2.png" alt=""></span><p>Нарушается кровообращение</p></div>
                                                <div class="tempBlock-text-line"><span class="tempBlock-text-img visible-xs"><img
                                                        src="img/termometr_adapt3.png" alt=""></span><p>Нормальная t° тела собаки</p></div>
                                            </div>
                                        </div>
                                        <div class="lsep"></div>
                                        <div class="padSection">
                                            <div class="infoList-title">Как избежать теплового удара собаки:</div>
                                            <div class="wrap_item clearfix allSite-item rightPosition">
                                                <div class="extra-row">
                                                    <div class="item_img">
                                                        <img src="img/info-list-10.jpg" alt="">
                                                    </div>
                                                    <div class="item_text first_item_text">
                                                        не выводить на прогулку
                                                        по городу в жару
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wrap_item clearfix allSite-item">
                                                <div class="extra-row">
                                                    <div class="item_img">
                                                        <img src="img/info-list-11.jpg">
                                                    </div>
                                                    <div class="item_text first_item_text">
                                                        не надевать слишком узкий намордник
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wrap_item clearfix allSite-item rightPosition">
                                                <div class="extra-row">
                                                    <div class="item_img">
                                                        <img src="img/info-list-12.jpg" alt="">
                                                    </div>
                                                    <div class="item_text first_item_text">
                                                        не оставлять собаку
                                                        под палящим солнцем
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blockQuote">
                                            <div class="blockQuote-inner">
                                                <p><span>НЕ ОСТАВЛЯЙТЕ СОБАКУ В ЗАПЕРТОЙ МАШИНЕ</span></p>
                                                <p>Если на улице +30 С°, за 10 минут  t° <br />
                                                    в машине поднимется до 40 С°<br />
                                                    За 30 минут t° в машине поднимется до 70-80 С°
                                                </p>
                                            </div>
                                        </div>
                                        <div class="padSection">
                                            <div class="wrap_item clearfix allSite-item">
                                                <div class="extra-row">
                                                    <div class="item_img">
                                                        <img src="img/info-list-13.jpg">
                                                    </div>
                                                    <div class="item_text first_item_text">
                                                        Носите с собой воду
                                                        для питомца
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wrap_item clearfix allSite-item rightPosition">
                                                <div class="extra-row">
                                                    <div class="item_img">
                                                        <img src="img/info-list-14.jpg" alt="">
                                                    </div>
                                                    <div class="item_text first_item_text">
                                                        У собаки должна быть возможность уйти в тень
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lsep"></div>
                                        <div class="padSection">
                                            <div class="bigRedTitle">
                                                Как определить <br />
                                                тепловой удар у собаки:
                                            </div>
                                            <div class="mgBlock">
                                                <div class="treeColumn clearfix dotBg">
                                                    <div class="treeColumn-col">
                                                        <div class="redCircleItem">
                                                            <div class="redCircleItem-img">
                                                                <img src="img/redcircle1.jpg" alt="" />
                                                            </div>
                                                            <div class="redCircleItem-text">
                                                                Горячее тело
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="treeColumn-col">
                                                        <div class="redCircleItem">
                                                            <div class="redCircleItem-img">
                                                                <img src="img/redcircle2.jpg" alt="" />
                                                            </div>
                                                            <div class="redCircleItem-text">
                                                                Синеющий язык
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="treeColumn-col">
                                                        <div class="redCircleItem">
                                                            <div class="redCircleItem-img">
                                                                <img src="img/redcircle3.jpg" alt="" />
                                                            </div>
                                                            <div class="redCircleItem-text">
                                                                Нехватка воздуха
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="treeColumn clearfix dotBg">
                                                    <div class="treeColumn-col">
                                                        <div class="redCircleItem">
                                                            <div class="redCircleItem-img">
                                                                <img src="img/redcircle4.jpg" alt="" />
                                                            </div>
                                                            <div class="redCircleItem-text">
                                                                Повышенное слюноотделение
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="treeColumn-col">
                                                        <div class="redCircleItem">
                                                            <div class="redCircleItem-img">
                                                                <img src="img/redcircle5.jpg" alt="" />
                                                            </div>
                                                            <div class="redCircleItem-text">
                                                                Неуверенная походка
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="treeColumn-col">
                                                        <div class="redCircleItem">
                                                            <div class="redCircleItem-img">
                                                                <img src="img/redcircle6.jpg" alt="" />
                                                            </div>
                                                            <div class="redCircleItem-text">
                                                                Возможна рвота
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="borderBlock">
                                                <div class="borderBlock-top"></div>
                                                <div class="borderBlock-bottom"></div>
                                                <div class="borderBlock-inner">
                                                    <div class="middleRedTitle">
                                                        Первая помощь при перегреве:
                                                    </div>
                                                    <div class="dotList">
                                                        <ul>
                                                            <li>Немедленно отвести собаку в прохладное помещение.</li>
                                                            <li>Наложить холодные компрессы.</li>
                                                            <li>Начать охлаждение с ног, затем живот,
                                                                грудь, голова и шея.</li>
                                                            <li>Дать собаке самостоятельно попить
                                                                немного холодной воды.</li>
                                                            <li>Сделать массаж ног для улучшения кровообращения.</li>
                                                            <li> Прекратить охлаждение, когда t° собаки снизится до 38,5 – 39 С°.</li>
                                                        </ul>
                                                        <div class="dotList-img">
                                                            <img src="img/dotlistimg.png" alt=""/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blockQuote bigtext">
                                        <div class="blockQuote-inner">
                                            <p>ЕСЛИ УЛУЧШЕНИЯ СОСТОЯНИЯ <br /> НЕ НАСТУПИТ В ТЕЧЕНИЕ <span>10 МИНУТ</span>, <br /> ОБРАТИТЕСЬ К ВЕТЕРИНАРУ.</p>
                                        </div>
                                    </div>
                                    <div class="infoLogo">
                                        <img src="img/info-logo.png" alt=""/>
                                    </div>
                                    <div class="redSep"></div>
                                </div>
                                <div class="container faq-pagination bottom">
                                    <div class="row">
                                        <a href="#" class="pag-btn prev">
                                            <span class="trigger-arrow"></span>
                                        </a>
                                        <a href="#" class="pag-btn next">
                                            <span class="trigger-arrow"></span>
                                        </a>
                                        <br clear="all">
                                    </div>
                                </div>
                                <div class="comments border-wrap">
                                    <div class="title">Комментарии</div>
                                    <div class="comment-body">
                                        <div class="name">Елена</div>
                                        <div class="date">02.01.2016</div>
                                        <div class="comment-text">
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                <br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                <br> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                                                more recently with desktop
                                            </p>
                                        </div>
                                        <div class="social-wrap">
                                            <a href="#" class="likes">
                                                <span>1</span>
                                            </a>
                                            <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                                                <span>1</span>
                                            </a>
                                            <a href="#" class="coment">
                                                <span>0</span>
                                            </a>
                                        </div>
                                        <div class="answer">
                                            <span>Оставить коментарий</span>
                                            <form action="">
                                                <div class="form-group">
                                                    <textarea rows="8" cols="40"></textarea>
                                                </div>
                                                <div class="form-group left fileinput">
                                                    <span>прикрепить файл</span>
                                                    <input type="file" value="">
                                                </div>
                                                <div class="form-group right">
                                                    <button type="submit" class="btn-gold" name="button">отправить</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="img-sidebar">
                                <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
                                <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
                                </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>