<section class="lk-wrap">
  <div class="container">
    <div class="row">
      <div class="sidebar block col-md-3">

        <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div>

        <ul>
          <li><a href="#">Инфографика</a></li>
          <li class="dropdown">
            <a href="#" class="js-show-dropdown">Статьи</a>
            <ul class="dropdown-body">
              <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
              <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
              <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
              <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
            </ul>
          </li>
          <li><a href="#">Факты</a></li>
          <li><a href="#">Фото маленьких собак</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>

      </div>

      <div class="col-md-9 lk-body">
        <div class="container head-wrap">
          <div class="row">
            <div class="welcome">
              Здравствуйте,
              <span class="name">Ирина</span>!
            </div>

            <div class="mail-icon-logout">
              <a href="#" class="lk-btn">Личный кабинет</a>

              <a href="#" class="mail-logo active">
                <span>0</span>
              </a>

              <a href="#" class="logout">Выйти</a>
            </div>
          </div>
        </div>
        <!-- articles body -->

        <div class="container">
          <div class="row">
            <div class="articles article">

              <div class="list infografica">
                <div class="container faq-pagination top">
                  <div class="row">
                    <a href="#" class="pag-btn prev">
                      <span class="trigger-arrow"></span>
                    </a>
                    <a href="#" class="pag-btn next">
                      <span class="trigger-arrow"></span>
                    </a>
                    <br clear="all">
                  </div>
                </div>

                <div class="border-wrap infografic-detail infografica-4 ">
                  <div class="title-wrap">
                    <span>Сколько воды необходимо собаке</span>
                  </div>
                  <div class="content_infografic-4 clearfix">
                    <div class="section_ifgrafic_4 clearfix">
                      <div class="section-infografic-4">
                        <div class="wrap_content">
                          <div class="text_section">
                            Общепринятая норма  потребления воды  по отношению  к количеств
                          </div>
                          <div class="wrap_misca">
                            <div class="misca">
                              <img src="img/miska_3.png" alt="">
                              <span>Сухой корм</span>
                            </div>
                            <div class="misca">
                              <img src="img/miska_2.png" alt="">
                              <span>Натуральная пища</span>
                            </div>
                          </div>
                        </div>
                        <div class="img_block">
                          <img src="img/docs_and_misca.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="content_infografic-4 clearfix">
                    <div class="section-infografic-4 line clearfix">
                      <div class="wrap_content">
                        <div class="title_bloc">
                          Как определить нормальное количество потребляемой воды именно вашей собакой
                        </div>
                        <div class="wrap_item clearfix">
                          <div class="extra-row">
                          <div class="item_img">
                            <img src="img/clock.png" alt="">
                          </div>
                          <div class="item_text">
                            Наполнять миску водой ежедневно в одно и то же время.
                          </div>
                          </div>

                        </div>
                        <div class="wrap_item clearfix">
                          <div class="extra-row">
                          <div class="item_img">
                            <img src="img/kolba.png" alt="">
                          </div>
                          <div class="item_text">
                            Наполнять миску одинаковым количеством воды.
                          </div>
                          </div>
                        </div>
                        <div class="wrap_item clearfix">
                          <div class="extra-row">
                            <div class="item_img">
                              <img src="img/dog.png" alt="">
                            </div>
                            <div class="item_text">
                              Наблюдать за количеством оставшейся воды.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="content_infografic-4 clearfix">
                    <div class="section-infografic-4-simptomu   clearfix">
                      <div class="wrap_content">
                        <div class="title_bloc">
                          Симптомы обезвоживания у собак*
                        </div>
                        <div class="simptomu clearfix">
                          <ul>
                            <li>• запавшие глаза;  </li>
                            <li>• вялость; </li>
                            <li>• потеря аппетита; </li>
                            <li>• сухость во рту;</li>
                            <li>• депрессия.</li>
                          </ul>
                          <div class="image_dog">
                            <img src="img/dog_list.png" alt="">
                          </div>
                        </div>
                        <div class="desc_simptomu">
                          *Данные симптомы могут быть следствием других заболеваний. Следует обратиться к ветеринару.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container faq-pagination bottom">
                  <div class="row">
                    <a href="#" class="pag-btn prev">
                      <span class="trigger-arrow"></span>
                    </a>
                    <a href="#" class="pag-btn next">
                      <span class="trigger-arrow"></span>
                    </a>
                    <br clear="all">
                  </div>
                </div>

                <div class="comments border-wrap">
                  <div class="title">Комментарии</div>
                  <div class="comment-body">
                    <div class="name">Елена</div>
                    <div class="date">02.01.2016</div>
                    <div class="comment-text">
                      <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        <br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        <br> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                        more recently with desktop
                      </p>
                    </div>
                    <div class="social-wrap">
                      <a href="#" class="likes">
                        <span>1</span>
                      </a>
                      <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                        <span>1</span>
                      </a>
                      <a href="#" class="coment">
                        <span>0</span>
                      </a>
                    </div>

                    <div class="answer">
                      <span>Оставить коментарий</span>
                      <form action="">
                        <div class="form-group">
                          <textarea rows="8" cols="40"></textarea>
                        </div>
                        <div class="form-group left fileinput">
                          <span>прикрепить файл</span>
                          <input type="file" value="">
                        </div>
                        <div class="form-group right">
                          <button type="submit" class="btn-gold" name="button">отправить</button>
                        </div>
                      </form>
                    </div>
                    <div class="clearfix"></div>

                  </div>

                </div>
              </div>
            <!-- <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
