<section class="lk-wrap">
  <div class="container">
    <div class="row">
      <div class="sidebar block col-md-3">

        <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div>

        <ul>
          <li><a href="#">Инфографика</a></li>
          <li class="dropdown">
            <a href="#" class="js-show-dropdown">Статьи</a>
            <ul class="dropdown-body">
              <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
              <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
              <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
              <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
            </ul>
          </li>
          <li><a href="#">Факты</a></li>
          <li><a href="#">Фото маленьких собак</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>

      </div>

      <div class="col-md-9 lk-body">
        <div class="container head-wrap">
          <div class="row">
            <div class="welcome">
              Здравствуйте,
              <span class="name">Ирина</span>!
            </div>

            <div class="mail-icon-logout">
              <a href="#" class="lk-btn">Личный кабинет</a>

              <a href="#" class="mail-logo active">
                <span>0</span>
              </a>

              <a href="#" class="logout">Выйти</a>
            </div>
          </div>
        </div>
        <!-- articles body -->

        <div class="container">
          <div class="row">
            <div class="articles article">

              <div class="list infografica">
                <div class="container faq-pagination top">
                  <div class="row">
                    <a href="#" class="pag-btn prev">
                      <span class="trigger-arrow"></span>
                    </a>
                    <a href="#" class="pag-btn next">
                      <span class="trigger-arrow"></span>
                    </a>
                    <br clear="all">
                  </div>
                </div>

                <div class="border-wrap infografic-detail">
                  <div class="title-wrap">
                    <span>Как защитить собаку <br> от обморожения</span>
                  </div>

                  <div class="list-info">
                    <div class="item-info">
                      <img src="img/info-list-1.jpg" alt="">
                      <div class="text-info">
                        <span>
                      Перед выходом на улицу нанесите на подушечки лап свиной или гусиный жир чтобы защитить лапы от обморожения.
                      </span>
                      </div>
                    </div>
                    <div class="item-info clearfix">
                      <br clear="all">
                      <img src="img/info-list-2.jpg" alt="">
                      <div class="text-info">
                        <span>
                      Собаки с короткой шерстью нуждаются в дополнительной одежде. Наденьте на питомца утепленный комбинезон.
                      </span>
                      </div>
                    </div>
                    <div class="item-info">
                      <img src="img/info-list-3.jpg" alt="">
                      <div class="text-info">
                        <span>
                      Постойте несколько минут в подъезде, чтобы животное привыкло к другой температуре.
                      </span>
                      </div>
                      <br clear="all">
                    </div>
                    <div class="item-info">
                      <img src="img/info-list-4.jpg" alt="">
                      <div class="text-info">
                        <span>
                      В сильные морозы сократите время прогулки и постарайтесь постоянно находиться в движении вместе с собакой.
                      </span>
                      </div>
                      <br clear="all">
                    </div>
                    <div class="item-info">
                      <img src="img/info-list-5.jpg" alt="">
                      <div class="text-info">
                        <span>
                      Симптомы обморожения: бледная кожа, собака вялая и дрожит.
                      </span>
                      </div>
                      <br clear="all">
                    </div>
                  </div>
                  <div class="separator-title">
                    ПЕРВАЯ ПОМОЩЬ ПРИ ОБМОРОЖЕНИИ:
                  </div>
                  <div class="list-info">
                    <div class="item-info">
                      <img src="img/info-list-6.jpg" alt="">
                      <div class="text-info">
                        <span>
                      Укутайте питомца шарфом и спрячьте его под одежду. Вам необходимо вернуться в теплое помещение.
                      </span>
                      </div>
                    </div>
                    <div class="item-info clearfix">
                      <br clear="all">
                      <img src="img/info-list-7.jpg" alt="">
                      <div class="text-info">
                        <span>
                      Окуните животное в теплую (не горячую!) ванну, а после укутайте полотенцем и накройте одеялом.
                      </span>
                      </div>
                    </div>
                    <div class="item-info">
                      <img src="img/info-list-8.jpg" alt="">
                      <div class="text-info">
                        <span>
                      Окуните животное в теплую (не горячую!) ванну, а после укутайте полотенцем и накройте одеялом.
                      </span>
                      </div>
                      <br clear="all">
                    </div>
                    <div class="item-info">
                      <img src="img/info-list-9.jpg" alt="">
                      <div class="text-info">
                        <span>
                      Обратитесь к ветеринарному врачу.
                      </span>
                      </div>
                      <br clear="all">
                    </div>
                  </div>

                  <div class="social-wrap">
                    <span class="like-article">Понравилась статья? Оставляй лайк или поделись с друзьями</span>
                    <a href="#" class="likes">
                      <span>1</span>
                    </a>
                    <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                      <span>1</span>
                    </a>
                    <a href="#" class="coment">
                      <span>0</span>
                    </a>
                  </div>
                </div>

                <div class="container faq-pagination bottom">
                  <div class="row">
                    <a href="#" class="pag-btn prev">
                      <span class="trigger-arrow"></span>
                    </a>
                    <a href="#" class="pag-btn next">
                      <span class="trigger-arrow"></span>
                    </a>
                    <br clear="all">
                  </div>
                </div>

                <div class="comments border-wrap">
                  <div class="title">Комментарии</div>
                  <div class="comment-body">
                    <div class="name">Елена</div>
                    <div class="date">02.01.2016</div>
                    <div class="comment-text">
                      <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        <br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        <br> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                        more recently with desktop
                      </p>
                    </div>
                    <div class="social-wrap">
                      <a href="#" class="likes">
                        <span>1</span>
                      </a>
                      <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                        <span>1</span>
                      </a>
                      <a href="#" class="coment">
                        <span>0</span>
                      </a>
                    </div>

                    <div class="answer">
                      <span>Оставить коментарий</span>
                      <form action="">
                        <div class="form-group">
                          <textarea rows="8" cols="40"></textarea>
                        </div>
                        <div class="form-group left fileinput">
                          <span>прикрепить файл</span>
                          <input type="file" value="">
                        </div>
                        <div class="form-group right">
                          <button type="submit" class="btn-gold" name="button">отправить</button>
                        </div>
                      </form>
                    </div>
                    <div class="clearfix"></div>

                  </div>

                </div>
              </div>
            </div>
            <!-- <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
