<section class="lk-wrap">
  <div class="container">
    <div class="row">
      <div class="sidebar block col-md-3">

        <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div>

        <ul>
          <li><a href="#">Инфографика</a></li>
          <li class="dropdown">
            <a href="#" class="js-show-dropdown">Статьи</a>
            <ul class="dropdown-body">
              <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
              <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
              <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
              <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
            </ul>
          </li>
          <li><a href="#">Факты</a></li>
          <li><a href="#">Фото маленьких собак</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>

      </div>

      <div class="col-md-9 lk-body">
        <div class="container head-wrap">
          <div class="row">
            <div class="welcome">
              Здравствуйте,
              <span class="name">Ирина</span>!
            </div>

            <div class="mail-icon-logout">
              <a href="#" class="lk-btn">Личный кабинет</a>

              <a href="#" class="mail-logo active">
                <span>0</span>
              </a>

              <a href="#" class="logout">Выйти</a>
            </div>
          </div>
        </div>
        <!-- articles body -->

        <div class="container">
          <div class="row">
            <div class="articles article">

              <div class="list infografica">
                <div class="container faq-pagination top">
                  <div class="row">
                    <a href="#" class="pag-btn prev">
                      <span class="trigger-arrow"></span>
                    </a>
                    <a href="#" class="pag-btn next">
                      <span class="trigger-arrow"></span>
                    </a>
                    <br clear="all">
                  </div>
                </div>

                <div class="border-wrap infografic-detail ">
                  <div class="title-wrap">
                    <span>БОЛЬШОЙ МИР МАЛЕНЬКИХ СОБАК</span>
                  </div>

                  <div class="small-dogs">

                    <div class="text-center">
                      Что вы знаете о маленьких собаках кроме их размера? Мы приготовили для вас интересные факты о наших миниатюрных питомцах.
                    </div>

                    <div class="container small-dog-list">

                      <div class="col-lg-4">

                        <div class="image-dog">
                          <img src="img/small-dog-1.png" alt="">
                        </div>
                        <div class="small-name">Тои</div>
                        <div class="small-info">
                          <div class="height">ДО 28 СМ</div>
                          <div class="weight">В ПРЕДЕЛАХ <br> 2 КГ</div>
                        </div>
                      </div>

                      <div class="col-lg-4">
                        <div class="image-dog">
                          <img src="img/small-dog-2.png" alt="">
                        </div>
                        <div class="small-name">Карлики</div>
                        <div class="small-info">
                          <div class="height">ДО 35 СМ</div>
                          <div class="weight">ОТ 2 ДО 5 КГ</div>
                        </div>
                      </div>

                      <div class="col-lg-4">
                        <div class="image-dog">
                          <img src="img/small-dog-3.png" alt="">
                        </div>
                        <div class="small-name">Малые собаки</div>
                        <div class="small-info">
                          <div class="height">ДО 45 СМ</div>
                          <div class="weight">НЕ БОЛЕЕ <br> 10 КГ</div>
                        </div>
                      </div>
                    </div>
                    <div class="small-dog-stat">
                      <div class="border-line clearfix man-women">
                        <div class="stat-title">
                          Женщины чаще заводят маленьких собак, чем мужчины.
                        </div>
                        <img src="img/womens.png" alt="" class="img-left">
                        <img src="img/mens.png" alt="" class="img-right">
                      </div>

                      <div class="border-line float-stat clearfix">

                        <div class="stat-text">
                          <span>
                          Древнейшей декоративной
                          <br> породой собак считается
                          <br> пекинес.
                          </span>
                        </div>
                        <img src="img/stat-1.png" alt="" class="img-left" width="301" height="201">
                      </div>
                      <div class="border-line float-stat clearfix">

                        <div class="stat-text">
                          <span>
                          Людвиг Ван Бетховен
                          <br> написал «Элегию»
                          <br> в память о своем пуделе.
                          </span>
                        </div>
                        <img src="img/stat-2.png" alt="" class="img-right" width="301" height="201">

                      </div>
                      <div class="border-line float-stat clearfix">

                        <div class="stat-text">
                          <span>
                          Такса, пудель и мопс входят
                          <br> в мировой ТОП-10 самых
                          <br> доброжелательных пород.
                          </span>
                        </div>
                        <img src="img/stat-3.png" alt="" class="img-left" width="301" height="201">
                      </div>
                      <div class="border-line float-stat clearfix">

                        <div class="stat-text">
                          <span>
                          Древнейшей декоративной
                          <br> породой собак считается
                          <br> пекинес.
                          </span>
                        </div>
                        <img src="img/stat-4.png" alt="" class="img-right" width="301" height="201">
                      </div>
                    </div>

                    <div class="social-wrap">
                      <span class="like-article">Понравилась статья? Оставляй лайк или поделись с друзьями</span>
                      <a href="#" class="likes">
                        <span>1</span>
                      </a>
                      <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                        <span>1</span>
                      </a>
                      <a href="#" class="coment">
                        <span>0</span>
                      </a>
                    </div>
                  </div>
                </div>

                <div class="container faq-pagination bottom">
                  <div class="row">
                    <a href="#" class="pag-btn prev">
                      <span class="trigger-arrow"></span>
                    </a>
                    <a href="#" class="pag-btn next">
                      <span class="trigger-arrow"></span>
                    </a>
                    <br clear="all">
                  </div>
                </div>

                <div class="comments border-wrap">
                  <div class="title">Комментарии</div>
                  <div class="comment-body">
                    <div class="name">Елена</div>
                    <div class="date">02.01.2016</div>
                    <div class="comment-text">
                      <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        <br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        <br> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                        more recently with desktop
                      </p>
                    </div>
                    <div class="social-wrap">
                      <a href="#" class="likes">
                        <span>1</span>
                      </a>
                      <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                        <span>1</span>
                      </a>
                      <a href="#" class="coment">
                        <span>0</span>
                      </a>
                    </div>

                    <div class="answer">
                      <span>Оставить коментарий</span>
                      <form action="">
                        <div class="form-group">
                          <textarea rows="8" cols="40"></textarea>
                        </div>
                        <div class="form-group left fileinput">
                          <span>прикрепить файл</span>
                          <input type="file" value="">
                        </div>
                        <div class="form-group right">
                          <button type="submit" class="btn-gold" name="button">отправить</button>
                        </div>
                      </form>
                    </div>
                    <div class="clearfix"></div>

                  </div>

                </div>
              </div>
            <!-- <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
