<section class="lk-wrap">
    <div class="container">
        <div class="row">
            <div class="sidebar block col-md-3">
                <div class="img-sidebar">
                    <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
                    <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
                </div>
                <ul>
                    <li><a href="#">Инфографика</a></li>
                    <li class="dropdown">
                        <a href="#" class="js-show-dropdown">Статьи</a>
                        <ul class="dropdown-body">
                            <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
                            <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
                            <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
                            <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Факты</a></li>
                    <li><a href="#">Фото маленьких собак</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="col-md-9 lk-body">
                <div class="container head-wrap">
                    <div class="row">
                        <div class="welcome">
                            Здравствуйте,
                            <span class="name">Ирина</span>!
                        </div>
                        <div class="mail-icon-logout">
                            <a href="#" class="lk-btn">Личный кабинет</a>
                            <a href="#" class="mail-logo active">
                                <span>0</span>
                            </a>
                            <a href="#" class="logout">Выйти</a>
                        </div>
                    </div>
                </div>
                <!-- articles body -->
                <div class="container">
                    <div class="row">
                        <div class="articles article">
                            <div class="list infografica">
                                <div class="container faq-pagination top">
                                    <div class="row">
                                        <a href="#" class="pag-btn prev">
                                            <span class="trigger-arrow"></span>
                                        </a>
                                        <a href="#" class="pag-btn next">
                                            <span class="trigger-arrow"></span>
                                        </a>
                                        <br clear="all">
                                    </div>
                                </div>
                                <div class="border-wrap infografic-detail infografica-10 peachGradient">
                                    <div class="title-wrap">
                                        <span>Как сшить лежанку своими руками?</span>
                                    </div>
                                    <div class="content_infografic-10 clearfix">
                                        <div class="padSection">
                                            <div class="sevenSigns">
                                                <div class="sevenSigns-img">
                                                    <div class="sevenSigns-img-inner hidden-xs">
                                                        <img src="img/seven_signs1.png" alt="" />
                                                    </div>
                                                    <div class="sevenSigns-img-inner">
                                                        <img src="img/seven_signs2.png" alt="" />
                                                    </div>
                                                </div>
                                                <div class="sevenSigns-text">
                                                    Ваш маленький питомец не может рассказать вам о том, как он себя чувствует. Однако есть несколько признаков, по которым можно определить, что собака здорова: от хорошего аппетита до блестящей шерсти. Вот критерии, по которым можно судить о здоровье и физической форме собаки.
                                                </div>
                                                <div class="sevenSigns-info">
                                                    <div class="sevenSigns-item clearfix">
                                                        <div class="sevenSigns-item-left">
                                                            <img src="img/sevenSigns_icon_1.png" alt="" />
                                                        </div>
                                                        <div class="sevenSigns-item-right clearfix rightPosition">
                                                            <div class="sevenSigns-item-img">
                                                                <img src="img/sevensigns_1.png" alt=""/>
                                                            </div>
                                                            <div class="sevenSigns-item-text">
                                                                <h3>ХОРОШИЙ АППЕТИТ</h3>
                                                                <p><span>У собак мелких пород небольшой объем желудка и быстрый обмен веществ, поэтому они довольно быстро сжигают полученные калории.</span> Если ваша собака с нетерпением ждет следующей порции и съедает все, что вы ей предложите, значит ее обмен веществ работает правильно, и ваш питомец получает всю необходимую энергию. </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sevenSigns-item clearfix">
                                                        <div class="sevenSigns-item-left">
                                                            <img src="img/sevenSigns_icon_2.png" alt="" />
                                                        </div>
                                                        <div class="sevenSigns-item-right clearfix">
                                                            <div class="sevenSigns-item-img">
                                                                <img src="img/sevensigns_2.png" alt=""/>
                                                            </div>
                                                            <div class="sevenSigns-item-text">
                                                                <h3>ЗДОРОВЫЕ ЗУБЫ</h3>
                                                                <p> <span>Проблемы с зубами могут вызывать различные инфекции, поэтому здоровье полости рта имеет большое значение.</span> У вашей собаки должно быть свежее дыхание, белые зубы без признаков налета на них и здоровые десна розового или черного цвета. Сухой корм способствует естественной чистке зубов и предотвращает появление налета.  </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sevenSigns-item clearfix">
                                                        <div class="sevenSigns-item-left">
                                                            <img src="img/sevenSigns_icon_3.png" alt="" />
                                                        </div>
                                                        <div class="sevenSigns-item-right clearfix rightPosition">
                                                            <div class="sevenSigns-item-img">
                                                                <img src="img/sevensigns_3.png" alt=""/>
                                                            </div>
                                                            <div class="sevenSigns-item-text">
                                                                <h3>Блеск в глазах </h3>
                                                                <p><span>Чтобы наслаждаться жизнью в полной мере,
                                                                    ваша собака должна обладать хорошим зрением.</span>
                                                                    Глаза питомца должны быть чистыми, без покраснений, отечности и следов воспаления. При появлении первых признаков проблем с глазами следует немедленно обратиться к ветеринару. Для зрения полезны продукты питания, богатые витаминами и жирными кислотами Омега 3 и Омега 6. </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sevenSigns-item clearfix">
                                                        <div class="sevenSigns-item-left">
                                                            <img src="img/sevenSigns_icon_4.png" alt="" />
                                                        </div>
                                                        <div class="sevenSigns-item-right clearfix">
                                                            <div class="sevenSigns-item-img">
                                                                <img src="img/sevensigns_4.png" alt=""/>
                                                            </div>
                                                            <div class="sevenSigns-item-text">
                                                                <h3>ЭНЕРГИЧНОСТЬ</h3>
                                                                <p><span>Всем собакам, независимо от их размера, необходим активный образ жизни.</span> Если ваш питомец любит бегать и прыгать и всё время играет – он в хорошей форме. И не забывайте про зарядку для ума – играйте с собакой в различные игры и осваивайте новые маршруты для прогулок. </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sevenSigns-item clearfix">
                                                        <div class="sevenSigns-item-left">
                                                            <img src="img/sevenSigns_icon_5.png" alt="" />
                                                        </div>
                                                        <div class="sevenSigns-item-right clearfix rightPosition">
                                                            <div class="sevenSigns-item-img">
                                                                <img src="img/sevensigns_5.png" alt=""/>
                                                            </div>
                                                            <div class="sevenSigns-item-text">
                                                                <h3>БЛЕСТЯЩАЯ ШЕРСТЬ</h3>
                                                                <p><span>Любые перемены в организме собаки всегда резко сказываются на состоянии шерсти питомца.</span>
                                                                    Сухая кожа и тусклый цвет шерсти могут быть признаками заболевания или различных инфекций. Поддерживать здоровье шерсти собаки можно с помощью питания, богатого витаминами,
                                                                    и регулярного деликатного расчесывания. </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sevenSigns-item clearfix">
                                                        <div class="sevenSigns-item-left">
                                                            <img src="img/sevenSigns_icon_6.png" alt="" />
                                                        </div>
                                                        <div class="sevenSigns-item-right clearfix">
                                                            <div class="sevenSigns-item-img">
                                                                <img src="img/sevensigns_6.png" alt=""/>
                                                            </div>
                                                            <div class="sevenSigns-item-text">
                                                                <h3>ПРАВИЛЬНОЕ ПИЩЕВАРЕНИЕ</h3>
                                                                <p><span>На пищеварение вашего питомца влияет не только его физическая форма, но и настроение.</span> Собака не должна испытывать дискомфорт при походе в туалет, а стул должен быть регулярным и здоровым. Чтобы пищеварительная система вашей собаки была в порядке, кормите питомца только качественным кормом, избегайте перекармливания и проводите вместе как можно больше времени.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sevenSigns-item clearfix">
                                                        <div class="sevenSigns-item-left">
                                                            <img src="img/sevenSigns_icon_7.png" alt="" />
                                                        </div>
                                                        <div class="sevenSigns-item-right clearfix rightPosition">
                                                            <div class="sevenSigns-item-img">
                                                                <img src="img/sevensigns_7.png" alt=""/>
                                                            </div>
                                                            <div class="sevenSigns-item-text">
                                                                <h3>ХОРОШЕЕ НАСТРОЕНИЕ</h3>
                                                                <p><span>Счастливая собака всегда активна, готова к играм и молниеносно реагирует на похвалу.</span> Жизнерадостный питомец обычно весело машет хвостом и громко лает. Если вдруг ваша собака стала менее активна, чем обычно, и ведет себя тихо, это может быть признаком недомогания. В этом случае немедленно обратитесь к ветеринару. В конце концов, никто не знает вашу собаку лучше вас.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="redSep transparent"></div>
                                    </div>
                                </div>
                                <div class="container faq-pagination bottom">
                                    <div class="row">
                                        <a href="#" class="pag-btn prev">
                                            <span class="trigger-arrow"></span>
                                        </a>
                                        <a href="#" class="pag-btn next">
                                            <span class="trigger-arrow"></span>
                                        </a>
                                        <br clear="all">
                                    </div>
                                </div>
                                <div class="comments border-wrap">
                                    <div class="title">Комментарии</div>
                                    <div class="comment-body">
                                        <div class="name">Елена</div>
                                        <div class="date">02.01.2016</div>
                                        <div class="comment-text">
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                <br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                <br> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                                                more recently with desktop
                                            </p>
                                        </div>
                                        <div class="social-wrap">
                                            <a href="#" class="likes">
                                                <span>1</span>
                                            </a>
                                            <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                                                <span>1</span>
                                            </a>
                                            <a href="#" class="coment">
                                                <span>0</span>
                                            </a>
                                        </div>
                                        <div class="answer">
                                            <span>Оставить коментарий</span>
                                            <form action="">
                                                <div class="form-group">
                                                    <textarea rows="8" cols="40"></textarea>
                                                </div>
                                                <div class="form-group left fileinput">
                                                    <span>прикрепить файл</span>
                                                    <input type="file" value="">
                                                </div>
                                                <div class="form-group right">
                                                    <button type="submit" class="btn-gold" name="button">отправить</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="img-sidebar">
                                <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
                                <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
                                </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>