<section class="lk-wrap">
    <div class="container">
        <div class="row">
            <div class="sidebar block col-md-3">
                <div class="img-sidebar">
                    <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
                    <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
                </div>
                <ul>
                    <li><a href="#">Инфографика</a></li>
                    <li class="dropdown">
                        <a href="#" class="js-show-dropdown">Статьи</a>
                        <ul class="dropdown-body">
                            <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
                            <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
                            <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
                            <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Факты</a></li>
                    <li><a href="#">Фото маленьких собак</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="col-md-9 lk-body">
                <div class="container head-wrap">
                    <div class="row">
                        <div class="welcome">
                            Здравствуйте,
                            <span class="name">Ирина</span>!
                        </div>
                        <div class="mail-icon-logout">
                            <a href="#" class="lk-btn">Личный кабинет</a>
                            <a href="#" class="mail-logo active">
                                <span>0</span>
                            </a>
                            <a href="#" class="logout">Выйти</a>
                        </div>
                    </div>
                </div>
                <!-- articles body -->
                <div class="container">
                    <div class="row">
                        <div class="articles article">
                            <div class="list infografica">
                                <div class="container faq-pagination top">
                                    <div class="row">
                                        <a href="#" class="pag-btn prev">
                                            <span class="trigger-arrow"></span>
                                        </a>
                                        <a href="#" class="pag-btn next">
                                            <span class="trigger-arrow"></span>
                                        </a>
                                        <br clear="all">
                                    </div>
                                </div>
                                <div class="border-wrap infografic-detail infografica-9 ">
                                    <div class="title-wrap">
                                        <span>Как сшить лежанку своими руками?</span>
                                    </div>
                                    <div class="content_infografic-9 clearfix">
                                        <div class="padSection" style="background-image: url(img/infolist1.png);">
                                            <div class="infoList">
                                                <div class="infoList-title">
                                                    Вам понадобятся:
                                                </div>
                                                <ul>
                                                    <li>
                                                        <div class="infoList-image">
                                                            <img src="img/info-img1.png" alt=""/>
                                                        </div>
                                                        <div class="infoList-text">
                                                            <span>1.</span> Бумага для выкройки
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="infoList-image">
                                                            <img src="img/info-img2.png" alt=""/>
                                                        </div>
                                                        <div class="infoList-text">
                                                            <span>2.</span> Ткань для основы: плотная <br />
                                                            натуральная ткань без ворса
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="infoList-image">
                                                            <img src="img/info-img3.png" alt=""/>
                                                        </div>
                                                        <div class="infoList-text">
                                                            <span>3.</span> Наполнитель: синтепон/синтепух/ <br />
                                                            другие гипоаллергенные наполнители
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="lsep"></div>
                                        <div class="padSection bottom-bg">
                                            <div class="infoList">
                                                <div class="infoList-title">
                                                    Пошаговая инструкция:
                                                </div>
                                                <ul>
                                                    <li>
                                                        <div class="infoList-image">
                                                            <img src="img/info-img4.png" alt=""/>
                                                        </div>
                                                        <div class="infoList-text">
                                                            <span>1.</span> Выбираем размер лежанки. В лежанке должна <br>
                                                            поместиться собака с вытянутыми лапами.
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="infoList-image">
                                                            <img src="img/info-img5.png" alt=""/>
                                                        </div>
                                                        <div class="infoList-text">
                                                            <span>2.</span> Делаем выкройку и вырезаем по ней <br>
                                                            ткань и отпуском на швы.
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="infoList-image">
                                                            <img src="img/info-img6.png" alt=""/>
                                                        </div>
                                                        <div class="infoList-text">
                                                            <span>3.</span> Первые швы должны проходить по выкройке,<br>
                                                            оставляя свободные углы.
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="infoList-image">
                                                            <img src="img/info-img7.png" alt=""/>
                                                        </div>
                                                        <div class="infoList-text">
                                                            <span>4.</span> Выворачиваем и проутюживаем изделие,
                                                            затем прокладываем швы по периметру дна.
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="infoList-image">
                                                            <img src="img/info-img8.png" alt=""/>
                                                        </div>
                                                        <div class="infoList-text">
                                                            <span>5.</span> Заложите в дно необходимое количество
                                                            наполнителя.
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="infoList-image">
                                                            <img src="img/info-img9.png" alt=""/>
                                                        </div>
                                                        <div class="infoList-text">
                                                            <span>6.</span> Заложите наполнитель в борта лежанки.
                                                            Вручную зашиваем края уголков, вставляя
                                                            в них веревочки для придания формы.
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="infoList-text">
                                                            <span>7.</span> По той же выкройке сшейте наволочку,
                                                            но у нее уголки можно зашить сразу.
                                                            <div class="infoList-botimg">
                                                                <img src="img/listimgbottom.png" alt="" />
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="bottomImage">
                                            <img src="img/ingo_bittom_bg.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="container faq-pagination bottom">
                                    <div class="row">
                                        <a href="#" class="pag-btn prev">
                                            <span class="trigger-arrow"></span>
                                        </a>
                                        <a href="#" class="pag-btn next">
                                            <span class="trigger-arrow"></span>
                                        </a>
                                        <br clear="all">
                                    </div>
                                </div>
                                <div class="comments border-wrap">
                                    <div class="title">Комментарии</div>
                                    <div class="comment-body">
                                        <div class="name">Елена</div>
                                        <div class="date">02.01.2016</div>
                                        <div class="comment-text">
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                <br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                <br> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                                                more recently with desktop
                                            </p>
                                        </div>
                                        <div class="social-wrap">
                                            <a href="#" class="likes">
                                                <span>1</span>
                                            </a>
                                            <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                                                <span>1</span>
                                            </a>
                                            <a href="#" class="coment">
                                                <span>0</span>
                                            </a>
                                        </div>
                                        <div class="answer">
                                            <span>Оставить коментарий</span>
                                            <form action="">
                                                <div class="form-group">
                                                    <textarea rows="8" cols="40"></textarea>
                                                </div>
                                                <div class="form-group left fileinput">
                                                    <span>прикрепить файл</span>
                                                    <input type="file" value="">
                                                </div>
                                                <div class="form-group right">
                                                    <button type="submit" class="btn-gold" name="button">отправить</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="img-sidebar">
                                <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
                                <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
                                </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>