<section class="lk-wrap">
  <div class="container">
    <div class="row">
      <div class="sidebar block col-md-3">

        <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div>

        <ul>
          <li><a href="#">Инфографика</a></li>
          <li class="dropdown">
            <a href="#" class="js-show-dropdown">Статьи</a>
            <ul class="dropdown-body">
              <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
              <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
              <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
              <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
            </ul>
          </li>
          <li><a href="#">Факты</a></li>
          <li><a href="#">Фото маленьких собак</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>

      </div>

      <div class="col-md-9 lk-body">
        <div class="container head-wrap">
          <div class="row">
            <div class="welcome">
              Здравствуйте,
              <span class="name">Ирина</span>!
            </div>

            <div class="mail-icon-logout">
              <a href="#" class="lk-btn">Личный кабинет</a>

              <a href="#" class="mail-logo active">
                <span>0</span>
              </a>

              <a href="#" class="logout">Выйти</a>
            </div>
          </div>
        </div>


        <!-- articles body -->

        <div class="container">

          <div class="row">
            <div class="articles border-wrap infografica">
              <div class="row">
                <div class="list">
                  <div class="art-preview" style="height: 378px;">
                    <img src="img/info-1.png" alt="preview" title="article preview" class="">
                    <a href="article-detail-1.html" class="title-prev">
                      <span>БОЛЬШОЙ МИР <br> МАЛЕНЬКИХ СОБАК</span>
                    </a>
                    <div class="social-wrap">
                      <a href="#" class="likes">
                        <span>1</span>
                      </a>
                      <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                        <span>1</span>
                      </a>
                      <a href="#" class="coment">
                        <span>0</span>
                      </a>
                    </div>
                  </div>

                  <div class="art-preview" style="height: 378px;">
                    <img src="img/info-2.png" alt="preview" title="article preview" class="">
                    <a href="article-detail-2.html" class="title-prev">КАК ЗАЩИТИТЬ СОБАКУ <br> ОТ ОБМОРОЖЕНИЯ?</a>
                    <div class="social-wrap">
                      <a href="#" class="likes">
                        <span>1</span>
                      </a>
                      <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                        <span>1</span>
                      </a>
                      <a href="#" class="coment">
                        <span>0</span>
                      </a>
                    </div>
                  </div>

                  <div class="art-preview" style="height: 378px;">
                    <img src="img/info-3.png" alt="preview" title="article preview" class="">
                    <a href="article-detail-3.html" class="title-prev">КАК правильно <br> купать собаку?</a>
                    <div class="social-wrap">
                      <a href="#" class="likes">
                        <span>1</span>
                      </a>
                      <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                        <span>1</span>
                      </a>
                      <a href="#" class="coment">
                        <span>0</span>
                      </a>
                    </div>
                  </div>

                  <div class="art-preview" style="height: 378px;">
                    <img src="img/info-4.png" alt="preview" title="article preview" class="">
                    <a href="article-detail-4.html" class="title-prev">ОТЛИЧИЯ МАЛЕНЬКИХ  СОБАК <br> ОТ БОЛЬШИХ</a>
                    <div class="social-wrap">
                      <a href="#" class="likes">
                        <span>1</span>
                      </a>
                      <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                        <span>1</span>
                      </a>
                      <a href="#" class="coment">
                        <span>0</span>
                      </a>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>

            <div class="container pagination">
              <div class="row">
                <div class="wrap">
                  <span>1</span> из
                  <span>10</span>
                  <a href="#" class="pag-btn prev">
                    <span class="trigger-arrow"></span>
                  </a>
                  <a href="#" class="pag-btn next">
                    <span class="trigger-arrow"></span>
                  </a>
                </div>
              </div>
            </div>
            <!-- <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div> -->
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
