<section class="lk-wrap">
  <div class="container">
    <div class="row">
      <div class="sidebar block col-md-3">

        <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div>

        <ul>
          <li><a href="#">Инфографика</a></li>
          <li class="dropdown">
            <a href="#" class="js-show-dropdown">Статьи</a>
            <ul class="dropdown-body">
              <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
              <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
              <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
              <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
            </ul>
          </li>
          <li><a href="#">Факты</a></li>
          <li><a href="#">Фото маленьких собак</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>

      </div>

      <div class="col-md-9 lk-body">
        <div class="container head-wrap">
          <div class="row">
            <div class="welcome">
              Здравствуйте,
              <span class="name">Ирина</span>!
            </div>

            <div class="mail-icon-logout">
              <a href="#" class="lk-btn">Личный кабинет</a>

              <a href="#" class="mail-logo active">
                <span>0</span>
              </a>

              <a href="#" class="logout">Выйти</a>
            </div>
          </div>
        </div>
        <!-- articles body -->

        <div class="container">
          <div class="row">
            <div class="articles article">

              <div class="list infografica">
                <div class="container faq-pagination top">
                  <div class="row">
                    <a href="#" class="pag-btn prev">
                      <span class="trigger-arrow"></span>
                    </a>
                    <a href="#" class="pag-btn next">
                      <span class="trigger-arrow"></span>
                    </a>
                    <br clear="all">
                  </div>
                </div>

                <div class="border-wrap infografic-detail infografica-6 ">
                  <div class="title-wrap">
                    <span>Памятка для тех, кто едет в отпуск без собаки</span>
                  </div>
                  <div class="content_infografic-4 clearfix">
                    <div class="section-infografic-4 line clearfix">
                      <div class="wrap_content">
                        <div class="title_bloc">
                          Куда отдать собаку на время отпуска?
                        </div>
                        <div class="wrap_item clearfix">
                          <div class="extra-row">
                            <div class="item_img">
                              <img src="img/dog_info6.png" alt="">
                            </div>
                            <div class="item_text first_item_text">
                              Оставить собаку у себя в квартире (доме) и попросить кого-то пожить с ней.
                            </div>
                          </div>

                        </div>
                        <div class="wrap_item clearfix">
                          <div class="extra-row">
                            <div class="item_img">
                              <img src="img/dog2_info6.png" alt="">
                            </div>
                            <div class="item_text">
                              Отдать собаку знакомым (которых собака тоже знает)
                            </div>
                          </div>
                        </div>
                        <div class="wrap_item clearfix">
                          <div class="extra-row">
                            <div class="item_img">
                              <img src="img/dig3_info3.png" alt="">
                            </div>
                            <div class="item_text">
                              Питомник, из которого вы брали собаку (если брали из питомника)
                            </div>
                          </div>
                        </div>
                        <div class="wrap_item clearfix">
                          <div class="extra-row">
                            <div class="item_img">
                              <img src="img/cat_info6.png" alt="">
                            </div>
                            <div class="item_text fourth_item_text">
                              Гостиница для животных
                            </div>
                          </div>
                        </div>
                        <div class="wrap_item clearfix">
                          <div class="extra-row">
                            <div class="item_img">
                              <img src="img/dog4_info6.png" alt="">
                            </div>
                            <div class="item_text first_item_text">
                              Кинолог (опасно – незнакомый человек, неизвестные условия содержания)
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="info-6 title_bloc ">
                      «Багаж» маленькой собаки:
                    </div>
                    <div class="wrap_dog clearfix">
                      <div class="item_dog">
                       <div class="img_wrap">
                         <img src="img/phone_book.png" alt="">
                       </div>
                        <p>Телефон ветеринара </p>
                      </div>
                      <div class="item_dog">
                        <div class="img_wrap">
                         <img src="img/pack_dog.png" alt="">
                        </div>
                        <p>Еда </p>
                      </div>
                      <div class="item_dog">
                        <div class="img_wrap">
                         <img src="img/miska_dog.png" alt="">
                        </div>
                        <p>Посуда</p>
                      </div>
                      <div class="item_dog">
                        <div class="img_wrap">
                         <img src="img/game_dog.png" alt="">
                        </div>
                        <p>Игрушки</p>
                      </div>
                      <div class="item_dog">
                        <div class="img_wrap">
                          <img src="img/sleep_dog.png" alt="">
                        </div>
                        <p>Лежанка</p>
                      </div>
                      <div class="item_dog">
                        <div class="img_wrap">
                          <img src="img/apteca_dog.png" alt="">
                        </div>
                        <p>Аптечка</p>
                      </div>
                    </div>
                    <div class="dog_purina">
                      <img src="img/dog_purina.png" alt="">
                    </div>
                  </div>

                </div>

                <div class="container faq-pagination bottom">
                  <div class="row">
                    <a href="#" class="pag-btn prev">
                      <span class="trigger-arrow"></span>
                    </a>
                    <a href="#" class="pag-btn next">
                      <span class="trigger-arrow"></span>
                    </a>
                    <br clear="all">
                  </div>
                </div>

                <div class="comments border-wrap">
                  <div class="title">Комментарии</div>
                  <div class="comment-body">
                    <div class="name">Елена</div>
                    <div class="date">02.01.2016</div>
                    <div class="comment-text">
                      <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        <br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        <br> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                        more recently with desktop
                      </p>
                    </div>
                    <div class="social-wrap">
                      <a href="#" class="likes">
                        <span>1</span>
                      </a>
                      <a href="#" class="repost js-show-pop-up" data-atr="social-share">
                        <span>1</span>
                      </a>
                      <a href="#" class="coment">
                        <span>0</span>
                      </a>
                    </div>

                    <div class="answer">
                      <span>Оставить коментарий</span>
                      <form action="">
                        <div class="form-group">
                          <textarea rows="8" cols="40"></textarea>
                        </div>
                        <div class="form-group left fileinput">
                          <span>прикрепить файл</span>
                          <input type="file" value="">
                        </div>
                        <div class="form-group right">
                          <button type="submit" class="btn-gold" name="button">отправить</button>
                        </div>
                      </form>
                    </div>
                    <div class="clearfix"></div>

                  </div>

                </div>
              </div>
            <!-- <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
