<section class="lk-wrap">
  <div class="container">
    <div class="row">
      <div class="sidebar block col-md-3">
        <div class="img-sidebar">
          <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
          <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
        </div>
        <ul>
          <li><a href="#">Инфографика</a></li>
          <li class="dropdown">
            <a href="#" class="js-show-dropdown">Статьи</a>
            <ul class="dropdown-body">
              <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
              <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
              <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
              <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
            </ul>
          </li>
          <li><a href="#">Факты</a></li>
          <li><a href="#">Фото маленьких собак</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>

      <div class="col-md-9 lk-body">
        <div class="container head-wrap">
          <div class="row">
            <div class="welcome">
              Здравствуйте,
              <span class="name">Ирина</span>!
            </div>

            <div class="mail-icon-logout">
              <a href="#" class="lk-btn">Личный кабинет</a>

              <a href="#" class="mail-logo active">
                <span>0</span>
              </a>

              <a href="#" class="logout">Выйти</a>
            </div>
          </div>
        </div>
        <!-- User mail info Wrap -->

        <div class="container ">
          <div class="border-wrap mail-list">
            <div class="title">
              <span class="msg-info">
              Ваши сообщения
              <span class="new"> (новых -
                <span class="count">1</span>)</span>
              </span>
              <a href="#" class="back-btn">
                      Вернуться в личный кабинет
                    </a>
              <div class="clearfix"></div>
            </div>
            <div class="msg-detail">
              <div class="title">
                <span>Не могу загрузить фото на сайт</span>
                <div class="right">
                  <a href="#" class="remove"></a>
                  <a href="#" class="cancel"></a>
                </div>
              </div>

              <div class="msg-body">
                <div class="to">
                  <span>Admin</span>
                  <span>&lt;
                  <span>admin@purina.com</span>&gt;</span>
                </div>
                <!-- <div class="to-user">
                <span>кому:</span>
              </div> -->
                <div class="msg-text">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                  sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                  Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla
                  ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit
                  amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci
                  eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
                </div>

                <div class="answer">
                  <span>Написать ответ</span>
                  <form action="">
                    <div class="form-group">
                      <textarea rows="8" cols="40"></textarea>
                    </div>
                    <div class="form-group left fileinput">
                      <span>прикрепить файл</span>
                      <input type="file" value="">
                    </div>
                    <div class="form-group right">
                      <button type="submit" class="btn-gold" name="button">отправить</button>
                    </div>
                  </form>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>

          <div class="container pagination">
            <div class="row">
              <div class="wrap">
                <span>1</span> из
                <span>10</span>
                <div>
                  <a href="#" class="pag-btn prev">
                    <span class="trigger-arrow"></span>
                  </a>
                  <a href="#" class="pag-btn next">
                    <span class="trigger-arrow"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div> -->
        </div>
      </div>
    </div>
</section>
