<section class="lk-wrap">
  <div class="container">
    <div class="row">
      <div class="sidebar block col-md-3">
        <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div>
        <ul>
          <li><a href="#">Инфографика</a></li>
          <li class="dropdown">
            <a href="#" class="js-show-dropdown">Статьи</a>
            <ul class="dropdown-body">
              <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
              <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
              <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
              <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
            </ul>
          </li>
          <li><a href="#">Факты</a></li>
          <li><a href="#">Фото маленьких собак</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>

      <div class="col-md-9 lk-body">
        <div class="container head-wrap">
          <div class="row">
            <div class="welcome">
              Здравствуйте,
              <span class="name">Ирина</span>!
            </div>

            <div class="mail-icon-logout">
              <a href="#" class="lk-btn">Личный кабинет</a>

              <a href="#" class="mail-logo active">
                <span>0</span>
              </a>

              <a href="#" class="logout">Выйти</a>
            </div>
          </div>
        </div>
        <!-- User mail info Wrap -->

        <div class="container ">
          <div class="border-wrap mail-list">
            <div class="title">
              <span class="msg-info">
              Ваши сообщения
              <span class="new"> (новых -
                <span class="count">1</span>)</span>
              </span>
              <a href="#" class="back-btn">
                      Вернуться в личный кабинет
                    </a>
              <div class="clearfix"></div>
            </div>
            <div class="sort-wrap custom-select">
              <select class="left chose-msg" name="" data-placeholder="Выбрать сообщения">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
              </select>

              <select class="right sort" name="" data-placeholder="Cортировать по...">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
              </select>
              <div class="clearfix"></div>
            </div>

            <div class="row">

              <div class="mail-list">
                <table>
                  <tbody>
                    <tr class="message unread">
                      <td class="marker">
                        <input type="checkbox">
                      </td>
                      <td class="from">
                        <a href="#">
                          <span>modnaKasta</span>
                        </a>
                      </td>
                      <td class="subject">
                        <a href="#">
                          <span>Внимание! Бонус! Timberland -45% | Mango -90% | Lemon -65% | Total Sale
                          <br> Lux Shoes -65% | Zara, Stradivarius, Tally Weijl -90%</span>
                        </a>
                      </td>
                    </tr>

                    <tr class="message">
                      <td class="marker">
                        <input type="checkbox">
                      </td>
                      <td class="from">
                        <a href="#">
                          <span>modnaKasta</span>
                        </a>
                      </td>
                      <td class="subject">
                        <a href="#">
                          <span>Внимание! Бонус! Timberland -45% | Mango -90% | Lemon -65% | Total Sale
                          <br> Lux Shoes -65% | Zara, Stradivarius, Tally Weijl -90%</span>
                        </a>
                      </td>
                    </tr>

                    <tr class="message">
                      <td class="marker">
                        <input type="checkbox">
                      </td>
                      <td class="from">
                        <a href="#">
                          <span>modnaKasta</span>
                        </a>
                      </td>
                      <td class="subject">
                        <a href="#">
                          <span>Внимание! Бонус! Timberland -45% | Mango -90% | Lemon -65% | Total Sale
                          <br> Lux Shoes -65% | Zara, Stradivarius, Tally Weijl -90%</span>
                        </a>
                      </td>
                    </tr>

                    <tr class="message">
                      <td class="marker">
                        <input type="checkbox">
                      </td>
                      <td class="from">
                        <a href="#">
                          <span>modnaKasta</span>
                        </a>
                      </td>
                      <td class="subject">
                        <a href="#">
                          <span>Внимание! Бонус! Timberland -45% | Mango -90% | Lemon -65% | Total Sale
                          <br> Lux Shoes -65% | Zara, Stradivarius, Tally Weijl -90%</span>
                        </a>
                      </td>
                    </tr>

                    <tr class="message">
                      <td class="marker">
                        <input type="checkbox">
                      </td>
                      <td class="from">
                        <a href="#">
                          <span>modnaKasta</span>
                        </a>
                      </td>
                      <td class="subject">
                        <a href="#">
                          <span>Внимание! Бонус! Timberland -45% | Mango -90% | Lemon -65% | Total Sale
                          <br> Lux Shoes -65% | Zara, Stradivarius, Tally Weijl -90%</span>
                        </a>
                      </td>
                    </tr>

                    <tr class="message">
                      <td class="marker">
                        <input type="checkbox">
                      </td>
                      <td class="from">
                        <a href="#">
                          <span>modnaKasta</span>
                        </a>
                      </td>
                      <td class="subject">
                        <a href="#">
                          <span>Внимание! Бонус! Timberland -45% | Mango -90% | Lemon -65% | Total Sale
                          <br> Lux Shoes -65% | Zara, Stradivarius, Tally Weijl -90%</span>
                        </a>
                      </td>
                    </tr>

                    <tr class="message">
                      <td class="marker">
                        <input type="checkbox">
                      </td>
                      <td class="from">
                        <a href="#">
                          <span>modnaKasta</span>
                        </a>
                      </td>
                      <td class="subject">
                        <a href="#">
                          <span>Внимание! Бонус! Timberland -45% | Mango -90% | Lemon -65% | Total Sale
                          <br> Lux Shoes -65% | Zara, Stradivarius, Tally Weijl -90%</span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>


          </div>

          <div class="container pagination">
            <div class="row">
              <div class="wrap">
                <span>1</span> из
                <span>10</span>
                <a href="#" class="pag-btn prev">
                  <span class="trigger-arrow"></span>
                </a>
                <a href="#" class="pag-btn next">
                  <span class="trigger-arrow"></span>
                </a>
              </div>
            </div>
          </div>
          <!-- <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div> -->
        </div>
      </div>
    </div>
  </div>
</section>
