<section class="lk-wrap">
  <div class="container">
    <div class="row">
      <div class="sidebar block col-md-3">
        <div class="img-sidebar">
          <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
          <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
        </div>
        <ul>
          <li><a href="#">Инфографика</a></li>
          <li class="dropdown">
            <a href="#" class="js-show-dropdown">Статьи</a>
            <ul class="dropdown-body">
              <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
              <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
              <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
              <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
            </ul>
          </li>
          <li><a href="#">Факты</a></li>
          <li><a href="#">Фото маленьких собак</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>

      </div>

      <div class="col-md-9 lk-body">
        <div class="container head-wrap">
          <div class="row">
            <div class="welcome">
              Здравствуйте,
              <span class="name">Ирина</span>!
            </div>

            <div class="mail-icon-logout">
              <a href="#" class="lk-btn">Личный кабинет</a>

              <a href="#" class="mail-logo active">
                <span>0</span>
              </a>

              <a href="#" class="logout">Выйти</a>
            </div>
          </div>
        </div>
        <!-- User Info Wrap -->

        <div class="container ">
          <div class="user-info">
            <div class="personal-info border-wrap">
              <div class="you">Вы</div>
              <div class="user-cart">
                <div class="row">
                  <div class="col-lg-3 photo-wrap">
                    <div class="load-photo">
                      <img src="img/load-photo.jpg" alt="">
                      <form action="">
                        <input type="file" value="">
                      </form>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <form action="">
                      <div class="row">
                        <div class="container">
                          <div class="row">
                            <div class="col-md-12 col-lg-6">
                              <div class="form-group has-error">
                                <input type="text" placeholder="Имя">
                              </div>
                              <div class="form-group has-error">
                                <input type="text" placeholder="Фамилия">
                              </div>
                              <div class="form-group has-error">
                                <input type="text" placeholder="Ваш E-mail">
                              </div>
                              <div class="form-group has-error">
                                <input type="text" placeholder="Ваш телефон">
                              </div>
                            </div>
                            <div class="col-md-12 col-lg-6 select-group">
                              <div class="form-group has-error">
                                <select class="select-style" data-placeholder="">
                                  <option>Москва</option>
                                  <option value="">Питер</option>
                                  <option value="">Ростов</option>
                                </select>
                              </div>
                              <div class="form-group has-error">
                                <select class="select-style" data-placeholder="">
                                  <option>Женский</option>
                                  <option value="">Мужской</option>
                                </select>
                              </div>

                            </div>

                          </div>
                          <div class="form-group has-error">
                            <button type="submit" class="submit btn-gold">Сохранить</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-3 label-right">
                    <img src="img/label-lk.png" alt="" class="label-img">
                    <a href="#">как получить подарок?</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>


            <!-- Pet Info -->
            <div class="container user-info pet">
              <div class="personal-info border-wrap">
                <a href="#" class="remove"></a>
                <div class="you">Ваш питомец</div>
                <div class="user-cart">
                  <div class="row">
                    <div class="col-md-3 photo-wrap">
                      <div class="load-photo">
                        <img src="img/pet-img.jpg" alt="">
                        <form action="">
                          <input type="file" value="">
                        </form>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-9">
                      <form action="">
                        <div class="row">
                          <div class="container">
                            <div class="row">
                              <div class="col-md-6 col-lg-4 left">
                                <div class="form-group has-error">
                                  <input type="text" placeholder="Имя Вашего питомца">
                                </div>
                                <div class="form-group ">
                                  <select class="select-style-search style-select" title="питомца (лет)" data-placeholder="123">
                                    <!-- <option>Выберете породу</option> -->
                                    <option value="">Английский Той Терьер</option>
                                    <option value="">Пекинес</option>
                                    <option value="">Пекинес</option>
                                    <option value="">Манчестер Терьер</option>
                                    <option value="">НеПекинес</option>
                                    <option value="">НеПекинес</option>
                                    <option value="">НеПекинес</option>
                                  </select>
                                </div>
                                <div class="form-group">
                                  <select class="select-style" data-placeholder="">
                                    <option>Мальчик</option>
                                    <option value="">Мальчик</option>
                                  </select>
                                </div>
                                <div class="form-group has-error">
                                  <input type="text" placeholder="Возраст">
                                </div>
                              </div>
                              <div class="col-md-6 col-lg-8">
                                <div class="form-group has-error">
                                  <select class="select-style" data-placeholder="">
                                    <option>Чуствительное пищеварение</option>
                                    <option value="">Чуствительное пищеварение</option>
                                    <option value="">Чуствительное пищеварение</option>
                                  </select>
                                </div>

                                <div class="recomend">
                                  <a href="#" class="item active">
                                    <img src="img/fidget.png" alt=""> </a>
                                  <a href="#" class="item">
                                    <img src="img/adult.png" alt=""> </a>
                                  <a href="#" class="item">
                                    <img src="img/heavy_eater.png" alt=""> </a>
                                  <a href="#" class="item">
                                    <img src="img/sensitive_digestion.png" alt=""> </a>
                                </div>
                              </div>
                            </div>
                            <div class="form-group has-error">
                              <button type="submit" class="submit btn-gold">Сохранить</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <a href="#" class="show-more">добавить питомца</a>
              <!-- <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div> -->
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
