<section class="lk-wrap">
  <div class="container">
    <div class="row">
      <div class="sidebar block col-md-3">
        <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div>
        <ul>
          <li><a href="#">Инфографика</a></li>
          <li class="dropdown">
            <a href="#" class="js-show-dropdown">Статьи</a>
            <ul class="dropdown-body">
              <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
              <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
              <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
              <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
            </ul>
          </li>
          <li><a href="#">Факты</a></li>
          <li><a href="#">фото собак мелких пород</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>

      <div class="col-md-9 lk-body">
        <div class="container head-wrap">
          <div class="row">
            <div class="welcome">
              Здравствуйте,
              <span class="name">Ирина</span>!
            </div>

            <div class="mail-icon-logout">
              <a href="#" class="lk-btn">Личный кабинет</a>

              <a href="#" class="mail-logo active">
                <span>0</span>
              </a>

              <a href="#" class="logout">Выйти</a>
            </div>
          </div>
        </div>
        <!-- User mail info Wrap -->

        <div class="container border-wrap">
          <div class="photo">
          <div class="title">
            Фото собак мелких пород
          </div>

          <div class="sort-wrap custom-select">
            <select class="select-style-search">
              <option>Пункт 1</option>
              <option>Пункт 2</option>
              <option>Пункт 3</option>
              <option>Пункт 4</option>
              <option>Пункт 5</option>
              <option>Пункт 6</option>
              <option>Пункт 7</option>
              <option>Пункт 8</option>
            </select>
            <!-- <br clear="all"> -->
          </div>

          <div class="gallery">
            <a class="fancybox col-xs-6" rel="group" href="img/pet-img.jpg">
              <img src="img/pet-img.jpg" alt="" class="image-border" width="335" height="195" />
            </a>
            <a class="fancybox col-xs-6" rel="group" href="img/photo-th-2.jpg">
              <img src="img/photo-th-2.jpg" alt="" class="image-border" width="335" height="195" />
            </a>
            <a class="fancybox col-xs-6" rel="group" href="img/photo-th-3.jpg">
              <img src="img/photo-th-3.jpg" alt="" class="image-border" width="335" height="195" />
            </a>
            <a class="fancybox col-xs-6" rel="group" href="img/photo-th-4.jpg">
              <img src="img/photo-th-4.jpg" alt="" class="image-border" width="335" height="195" />
            </a>
            <a class="fancybox col-xs-6" rel="group" href="img/photo-th-5.jpg">
              <img src="img/photo-th-5.jpg" alt="" class="image-border" width="335" height="195" />
            </a>
            <a class="fancybox col-xs-6" rel="group" href="img/photo-th-6.jpg">
              <img src="img/photo-th-6.jpg" alt="" class="image-border" width="335" height="195" />
            </a>
          </div>
        </div>

        <div class="container pagination">
          <div class="row">
            <div class="wrap">
              <span>1</span> из
              <span>10</span>
              <a href="#" class="pag-btn prev">
                <span class="trigger-arrow"></span>
              </a>
              <a href="#" class="pag-btn next">
                <span class="trigger-arrow"></span>
              </a>
            </div>
          </div>
        </div>
        <!-- <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div> -->
        </div>
      </div>
    </div>
  </div>
</section>
