<div class="pop-ups">
  <div class="overlay"></div>

  <div class="pop-up bone">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="title-pop-up">
      <span>Для восстановления пароля</span>
    </div>
    <div class="text">
        Для получения именного значка, участник клуба должен выслать следующие данные в течении 14 рабочих дней:<br>
        <br>
        <ul>
            <li>физический адрес, по которому ему необходимо отправить приз</li>
            <li>контактный телефон</li>
            <li>ФИО получателя и кличка питомца</li>
        </ul>
        <br>
        По адресу: promo.purinaone.mydogis@msk.action.ru<br><br>
        Призы выдаются (передаются организации связи, либо экспедиторской службе) в течение 60 дней с момента получения организатором персональной информации.
    </div>
  </div>


  <div class="pop-up repair-password">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="title-pop-up">
      <span>Для восстановления пароля</span>
      <br> введите адрес электронной почты
    </div>
    <form action="">
      <div class="form-group has-error">
        <label for="">E-mail
          <span>*</span>:</label>
        <input type="text">
        <p class="error-msg help-block help-block-error">Введите email</p>
      </div>
      <div class="form-group">
        <button type="submit" value="Подтвердить" placeholder="Подтвердить" class="btn-gold">Подтвердить</button>
      </div>
    </form>
  </div>

  <!-- Email Change pop-up -->

  <div class="pop-up change-pop change-email">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="title-pop-up">
      <span>Для смены E-email</span>
      <br> введите адрес электронной почты
    </div>
    <form action="">
      <div class="form-group has-error">
        <label for="">E-mail
          <span>*</span>:</label>
        <input type="text">
        <p class="error-msg help-block help-block-error">Введите email</p>
      </div>
      <div class="form-group">
        <button type="submit" value="Подтвердить" placeholder="Подтвердить" class="btn-gold">Подтвердить</button>
      </div>
    </form>
  </div>

  <!-- Phone Change pop-up -->

  <div class="pop-up change-pop change-phone">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="title-pop-up">
      <span>Для смены номера телефона</span>
      <br> введите новый номер ниже
    </div>
    <form action="">
      <div class="form-group has-error">
        <label for="">Телефон
          <span>*</span>:</label>
        <input type="text">
        <p class="error-msg help-block help-block-error">Введите номер телефона</p>
      </div>
      <div class="form-group">
        <button type="submit" value="Подтвердить" placeholder="Подтвердить" class="btn-gold">Подтвердить</button>
      </div>
    </form>
  </div>


  <!-- Phone-confirm Change pop-up -->

  <div class="pop-up change-pop confirm-phone">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="title-pop-up">
      <span>Подтвердите свой номер телефона</span>
    </div>
    <form action="">
      <div class="form-group has-error">
        <label for="">Код
          <span>*</span>:</label>
        <input type="text">
        <p class="error-msg help-block help-block-error">Введите код</p>
      </div>
      <div class="form-group">
        <button type="submit" value="Подтвердить" placeholder="Подтвердить" class="btn-gold">Подтвердить</button>
      </div>
    </form>
  </div>

  <!-- New Passw Change pop-up -->

  <div class="pop-up change-pop change-pass">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="title-pop-up">
      <span>Для смены пароля</span>
      <br> введите старый пароль и новый
    </div>
    <form action="">
      <div class="form-group has-error">
        <label for="">Старый пароль
          <span>*</span>:</label>
        <input type="text">
        <p class="error-msg help-block help-block-error">Введите старый пароль</p>
      </div>
      <div class="form-group has-error">
        <label for="">Новый пароль
          <span>*</span>:</label>
        <input type="text">
        <p class="error-msg help-block help-block-error">Введите новый пароль</p>
      </div>
      <div class="form-group has-error">
        <label for="">Новый пароль еще раз
          <span>*</span>:</label>
        <input type="text">
        <p class="error-msg help-block help-block-error">Подтверидите новый пароль</p>
      </div>
      <div class="form-group">
        <button type="submit" value="Подтвердить" placeholder="Подтвердить" class="btn-gold">Подтвердить</button>
      </div>
    </form>
  </div>



  <div class="pop-up confirm-email">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="title-pop-up">
      <span>Ваша заявка принята.</span>
      <br> Мы
      <span>выслали</span> на Вашу электронную почту
      <br>
      <span>письмо с подтверждением регистрации</span>
    </div>
  </div>

  <div class="pop-up social-share">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="title-pop-up">
      Выберите социальную сеть,
      <br> через которую Вы хотите поделиться
    </div>
    <div class="socials">
      <a href="#" class="fb"></a>
      <a href="#" class="vk"></a>
      <a href="#" class="ok"></a>
    </div>
  </div>

  <div class="pop-up check-email">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="title-pop-up">
      Мы отправили Вам письмо
      <br>
      <span>на восстановление пароля.</span>
      <br> Пожалуйста,
      <br>
      <span>проверьте Вашу электронную почту</span>
    </div>
  </div>
<!-- Regular Pop UP -->
  <div class="pop-up regular-pop-up">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="title-pop-up">
      Текст сообщения <br>
      <span>
        Более жирный текст
      </span>
      <span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi quod, hic impedit neque odio optio eum sequi. Voluptas necessitatibus eligendi sequi laboriosam ad veniam, nemo ipsam repellendus, labore non odio!
      </span>
    </div>
  </div>

  <div class="pop-up enter-club">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="title-pop-up">
      Войти в клуб
    </div>
    <form action="">
      <div class="form-group has-error">
        <label for="">Логин
          <span>*</span>:</label>
        <input type="text">
        <p class="error-msg help-block help-block-error">Введите логин</p>
      </div>
      <div class="form-group has-error">
        <label for="">Пароль
          <span>*</span>:</label>
        <input type="text">
        <p class="error-msg help-block help-block-error">Введите пароль</p>
      </div>

      <div class="form-group">
        <a href="#" class="forget-pass js-show-pop-up" data-atr="repair-password">Забыли пароль?</a>
      </div>

      <div class="form-group">
        <button type="submit" value="Подтвердить" placeholder="Подтвердить" class="btn-gold">Войти</button>
      </div>
    </form>
  </div>

  <div class="pop-up register">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="title-pop-up">
      Регистрация в клубе
    </div>
    <form action="">
      <div class="form-group has-error">
        <label for="">Имя
          <span>*</span>:</label>
        <input type="text" class="">
        <p class="error-msg help-block help-block-error">Введите имя</p>
      </div>
      <div class="form-group has-error">
        <label for="">Фамилия
          <span>*</span>:</label>
        <input type="text">
        <p class="error-msg help-block help-block-error">Введите фамилию</p>
      </div>
      <div class="form-group has-error">
        <label for="">Телефон
          <span>*</span>:</label>
        <input type="text">
        <p class="error-msg help-block help-block-error">Введите телефон</p>
      </div>
      <div class="form-group has-error">
        <label for="">E-mail
          <span>*</span>:</label>
        <input type="text">
        <p class="error-msg help-block help-block-error">Введите свой email</p>
      </div>
      <div class="form-group">
        <label for="">Порода Вашей собаки
          <span>*</span>:</label>
        <select class="select-style-search height-fix">
          <option value=""></option>
          <option>Пункт 0</option>
          <option>Пункт 2</option>
          <option>Пункт 3</option>
          <option>Пункт 4</option>
          <option>Пункт 5</option>
          <option>Пункт 6</option>
          <option>Пункт 7</option>
          <option>Пункт 8</option>
        </select>
        <p class="error-msg help-block help-block-error">Введите породу вашей собаки</p>
      </div>
      <div class="form-group has-error">
        <label for="">Пароль
          <span>*</span>:</label>
        <input type="text">
        <p class="error-msg help-block help-block-error">Введите пароль</p>
      </div>

      <div class="form-group has-error">
        <label for="">Подтверждение пароля
          <span>*</span>:</label>
        <input type="text">
        <p class="error-msg help-block help-block-error">Введите пароль еще раз</p>
      </div>

      <div class="form-group rule">
        <label for="">
          <span>*</span>Все поля обязательны к заполнению</label>
      </div>
      <button type="submit" value="Подтвердить" placeholder="Подтвердить" class="btn-gold">Зарегистрироваться
      </button>
    </form>
  </div>

  <div class="pop-up main-page-lk">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="title-pop-up">
      Что Вы можете найти в клубе?
    </div>

    <div class="slider-wrap">

      <div class="slider">
        <img src="img/slide1.jpg" alt="">
        <img src="img/slide2.jpg" alt="">
        <img src="img/slide3.jpg" alt="">
        <img src="img/slide4.jpg" alt="">

      </div>
    </div>
  </div>

  <div class="pop-up congrat">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="title-pop-up">
      <span>Поздравляем!</span>
      <br> Вы стали одним из 100 новых участников
      <br> клуба Purina ONE® Моя Собака...
    </div>
    <img src="img/congrat-bg.png" alt="">
    <div class="foot-title">
      Мы дарим Вам именной значок
      <br> для Вашего питомца!
      <span>
        Пожалуйста, введите его имя в личном кабинете
      </span>
    </div>
  </div>

  <div class="pop-up welcome-club">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="title-pop-up">
      <span>Поздравляем!</span>
      <br> Вы стали участником клуба
      <br> PurinA ONE® Моя Собака...
    </div>
    <img src="img/welcome-club.png" alt="">
  </div>

  <div class="pop-up faq-question">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="title-pop-up">
      Ваш вопрос отправлен модератору. Пожалуйста, ожидайте ответ.
    </div>
    <div class="title-pop-up">
      Ответ на свой вопрос
      <br> Вы можете найти в личном кабинете
    </div>
    <img src="img/faq-question-pop.png" alt="">
  </div>

  <div class="pop-up plz-sign-in">
    <a href="#" class="close js-close-pop-up"></a>
    <div class="title-pop-up">
      Чтобы задать вопрос, пожалуйста,
      <br> войдите или зарегистрируйтесь
    </div>
    <div class="buttons">
      <a href="#" class="btn-gold">Войти</a>
      <a href="#" class="btn-gold">зарегистрироваться</a>
    </div>
    <img src="img/plz-sign-in.png" alt="">
  </div>


</div>
