<script src="js/jquery-1.11.1.min.js"></script>

<script src="js/jquery.formstyler.min.js"></script>
<script src="js/jquery.placeholder.min.js"></script>
<script src="js/respond.min.js"></script>
<script src="js/jquery.matchHeight.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/slick.min.js"></script>

<script src="js/select2.full.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>

<script src="js/common.js"></script>
