<section class="lk-wrap">
  <div class="container">
    <div class="row">
      <div class="sidebar block col-md-3">

        <div class="img-sidebar">
          <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
          <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
        </div>

        <ul>
          <li><a href="#">Инфографика</a></li>
          <li class="dropdown">
            <a href="#" class="js-show-dropdown">Статьи</a>
            <ul class="dropdown-body">
              <li><a href="article-detail-1.html">В какой физической форме моя собака?</a></li>
              <li><a href="article-detail-2.html">Идеальная порция для маленькой собаки</a></li>
              <li><a href="article-detail-3.html">Как подобрать питомцу подходящий корм?</a></li>
              <li><a href="article-detail-4.html">Что должно быть в хорошем промышленном корме</a></li>
            </ul>
          </li>
          <li><a href="#">Факты</a></li>
          <li><a href="#">Фото маленьких собак</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>

      </div>

      <div class="col-md-9 lk-body">
        <div class="container head-wrap">
          <div class="row">
            <div class="welcome">
              Здравствуйте,
              <span class="name">Ирина</span>!
            </div>

            <div class="mail-icon-logout">
              <a href="#" class="lk-btn">Личный кабинет</a>

              <a href="#" class="mail-logo active">
                <span>0</span>
              </a>

              <a href="#" class="logout">Выйти</a>
            </div>
          </div>
        </div>
        <!-- articles body -->

        <div class="container">
          <div class="row">
            <div class="articles article">
              <div class="small-dogs">
                <div class="title">
                  особенности <span>маленьких собак</span>
                </div>
                <div class="sub-title">
                  Знаете ли Вы, что потребности собак мелких пород отличаются от потребностей остальных собак? Мы расскажем об особенностях маленьких собак, чтобы Вы могли лучше понимать своего питомца, сохранить его здоровье и физическую активность. Помните, что идеальный
                  план кормления Вашей собаки зависит от ее возраста, породы, образа жизни и активности.
                </div>


                <div class="head-image">
                  <img src="img/small-dogs.png" alt="small-dogs" title="small dogs logo" class="small-dogs-logo">
                  <a href="#info-1" class="btn-gold read-more js-scroll">Читать далее</a>
                </div>



                <div class="info-wrap">
                  <h3 class="title" id="info-1">Ускоренный обмен веществ:</h3>
                  <p>
                    У собак мелких пород ускоренный обмен веществ, а это означает, что маленькая собака сжигает энергию гораздо быстрее, чем собаки крупных пород. Соответственно, чтобы оставаться бодрым и энергичным, Ваш питомец должен получать больше калорий на килограмм
                    веса. Поэтому важно подобрать правильное полнорационное питание, которое богато необходимыми калориями. Это особенно важно в период, когда собака растет и развивается.
                  </p>
                  <br>
                  <h3 class="title" id="info-2">Жизненно важные ингредиенты:</h3>
                  <p>
                    Маленьким активным собакам необходимо питание, которое бы служило быстрым источником энергии: сюда относятся высококачественные источники животного и рыбного белка (например, говядина, курица, индейка или лосось), а также легко усваиваемые углеводы. Некоторые
                    зерновые в качестве источников углеводов могут вызывать аллергию у собак мелких пород с чувствительным пищеварением, в то время как например, рис или картофель в качестве углеводной основы рациона являются более безопасным выбором.
                    Жирные кислоты Омега-3 и Омега-6 тоже являются важной составляющей корма, поскольку поддерживают здоровье почек Вашей собаки, повышают устойчивость иммунной системы к болезням, способствуют правильному развитию мозга и зрения, а также
                    помогают поддерживать шерсть блестящей.
                  </p>
                  <br>
                  <h3 class="title" id="info-3">Особенности физиологического строения:</h3>
                  <p>
                    Несмотря на скромные размеры, собаки мелких пород обладают здоровым аппетитом, особенно в возрасте щенков. В этот период энергия, полученная после приема пищи, расходуется в течение нескольких часов. Кормить питомца следует небольшими порциями, но часто,
                    до трех-четырех раз в день. Ваша собака оценит как полнорационный сухой корм PURINA ONE Моя Собака…с сочетанием хрустящих крокетов и мягких кусочков, так и консервированный корм PURINA ONE Моя Собака…с небольшими кусочками мяса и овощей.
                    И тот, и другой корм легко пережевывается и отлично переваривается.
                  </p>
                  <br>
                  <h3 class="title" id="info-4">Продолжительность жизни:</h3>
                  <p>
                    Многие маленькие собаки быстро взрослеют, медленно стареют и живут дольше, чем собаки крупных пород. Некоторые мелкие породы можно считать взрослыми уже в 8 месяцев! Учитывая, что их жизнь длится 15+ лет, Ваш маленький питомец проводит большую часть жизни
                    в качестве активной взрослой собаки. Хотя собаки мелких пород менее предрасположены к ожирению, иногда это все же случается. Вы можете обратиться к Вашему ветеринару, чтобы получить консультацию, какой вес является оптимальным именно
                    для Вашей собаки. Для того, чтобы питомец вернулся в форму, ему необходим корм с постными видами мяса, такими как индейка или курица. Такой корм поможет сохранить идеальный вес Вашей собаки на каждом этапе ее долгой и счастливой жизни.
                  </p>
                  <br>
                  <h3 class="title" id="info-5">Чувствительное пищеварение:</h3>
                  <p>
                    У собак мелких пород более чувствительное пищеварение, поэтому им нужен легко перевариваемый корм. Из-за их физиологических особенностей кажется, что маленькие собаки слишком избирательны в еде. Для них действительно важен вкус: корм должен нравиться
                    собаке. Но, в то же время, он должен быть полезным и питательным. Поэтому необходимо правильно подбирать корм, чтобы собака была здорова.
                  </p>
                </div>
              </div>
              <!-- <div class="img-sidebar">
  <img src="img/sidebar-dog.png" alt="" class="dogs-sidebar">
  <img src="img/sidebar-packs.png" alt="" class="packs-sidebar">
</div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
