<div class="container first">
  <div class="title">
    <a href="#" title="Purina" class="logo-link">
      <img src="img/logo.png" alt="Logo Purina" title="Purina" width="167">
    </a>
    <div class="tagline">
      Добро пожаловать в клуб
      <span>счастливых обладателей собак мелких пород!</span>
    </div>
  </div>
</div>
