<section class="lk-wrap lk-main-page">
  <div class="container">
    <div class="row">
      <!-- <div class="sidebar block col-md-3">

      </div> -->

      <div class="col-lg-offset-3 col-lg-9 lk-body">
        <div class="container head-wrap">
          <div class="row">
            <div class="mail-icon-logout unreg-user">
              <a href="#" class="lk-btn enter">Войти</a>
              <a href="#" class="lk-btn register">Регистрация</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container lk-main-body-wrap">
    <div class="row">
      <div class="col-md-6 lk-blocks ">
        <div class="photos border">
          <div class="wrap-title">Фото</div>
          <div class="wrap-body">
            <div class="row">
              <a class="fancybox photo-link" rel="group" href="img/photo-th-2.jpg">
                <img class="image-border" src="img/lk-photo-1.jpg" alt="" width="135" height="135">
              </a>
              <a class="fancybox photo-link" rel="group" href="img/photo-th-2.jpg">
                <img class="image-border" src="img/lk-photo-1.jpg" alt="" width="135" height="135">
              </a>
              <a class="fancybox photo-link" rel="group" href="img/photo-th-2.jpg">
                <img class="image-border" src="img/lk-photo-1.jpg" alt="" width="135" height="135">
              </a>
              <a class="fancybox photo-link" rel="group" href="img/photo-th-2.jpg">
                <img class="image-border" src="img/lk-photo-1.jpg" alt="" width="135" height="135">
              </a>
              <a class="fancybox photo-link" rel="group" href="img/photo-th-2.jpg">
                <img class="image-border" src="img/lk-photo-1.jpg" alt="" width="135" height="135">
              </a>
              <a class="fancybox photo-link" rel="group" href="img/photo-th-2.jpg">
                <img class="image-border" src="img/lk-photo-1.jpg" alt="" width="135" height="135">
              </a>
            </div>
          </div>
          <div class="wrap-foot">
            <a href="#" class="right">больше фото</a>
          </div>
          <br clear="all">
        </div>
      </div>
      <div class="col-md-6 lk-blocks ">
        <div class="articles border-bg">
          <div class="wrap-title">Как купать собаку?</div>
          <div class="wrap-body">
            <img src="img/article-prev.jpg" alt="" class="image-border image-prev" width="445" height="155">
            <p class="preview">
              Наши четвероногие питомцы и любимцы требуют внимания и ухода. В комплекс ухода за шерстью собаки обязательно входит купание. Но не все знают, как это делать правильно. Купание собаки обычная гигиеническая процедура. Купание не только очищает шерсть, но
              и удаляет линялые волосы. Мыть собаку следует раз в два-три месяца, в зависимости от сезона.
            </p>
          </div>
          <div class="wrap-foot">
            <div class="border-foot">
              <a href="#" class="left">читать дальше</a>
              <a href="#" class="right">больше статтей</a>
            </div>
          </div>
          <br clear="all">
        </div>
      </div>
      <div class="col-md-6 lk-blocks ">
        <div class="fact border-bg">
          <div class="wrap-title">А Вы знаете что...?</div>
          <div class="wrap-body">
            <div class="sub-title">
              Шпиц - порода из Китая
            </div>
            <img src="img/article-prev.jpg" alt="" class="image-border image-prev" width="445" height="155">
            <p class="preview">
              Впервые эта порода появилась в Китае и была высоко оценена императорским двором, где Пекинесов называли Фу или Фуу. Эти милые зверьки были приближены к императорам в течение 2000 лет
              и до сих пор считаются священными.
            </p>
          </div>
          <div class="wrap-foot">
            <div class="border-foot">
              <a href="#" class="left">читать дальше</a>
              <a href="#" class="right">больше фактов</a>
            </div>
          </div>
          <br clear="all">
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="lk-blocks dog-info">
          <div class="wrap-title">Идеальный Рост и вес собаки</div>
          <div class="wrap-body ">
            <div class="info">
              <span class="left">
                до <span>45</span> см
              </span>
              <span class="right">
                не более <span>10</span> кг
              </span>
            </div>
            <div class="image-text">
              <img src="img/lk-info-photo.png" alt="" class="info-photo">
              <div class="some-info">
                <span>Что вы знаете о маленьких собаках кроме их размера? </span>
                Мы приготовили для вас интересные факты о наших миниатюрных питомцах.
              </div>
            </div>
          </div>
          <br clear="all">
          <div class="wrap-foot border-foot">
            <a href="#">смотреть дальше</a>
          </div>
          <br clear="all">
        </div>


      </div>
    </div>
  </div>
</section>
